﻿@using Clown.UI.Admin.Models
@using System.Collections.Generic
@model AddBusinessViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewBusiness</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AddNewBusiness.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AddNewBusiness.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink("Business", "Index", "ServiceProvider", null, new { @class = "btn btn-link btn-xs" })
            </div>
            <div class="row">
                <h3>Add Business</h3>
                <div class="clearfix" style="margin-bottom:8px;"></div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["SuccessMessage"]
                    </div>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("AddNewBusiness", "ServiceProvider", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "businessname" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.BusinessType, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(m => m.BusinessType, Model.AvailableBusinessTypes, "-- Select Business Type --", new { @class = "form-control", id = "businesstype" })
                                    @Html.ValidationMessageFor(m => m.BusinessType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.City, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.City, Model.AvailableCities, "-- Select City --", new { @class = "form-control", id = "city" })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Area, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Area, Model.AvailableAreas, new { @class = "form-control", id = "area" })
                                    @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Street, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control", id = "street" })
                                    @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Zip, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", id = "zip" })
                                    @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactNumber, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", id = "contactnumber" })
                                    @Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Website, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control", id = "website" })
                                    @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.InBusinessSince, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.InBusinessSince, new { @class = "form-control", id = "experience" })
                                    @Html.ValidationMessageFor(m => m.InBusinessSince, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PriceRange, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.PriceRange, new { @Value = "", @class = "form-control", id = "pricerange" })
                                    @Html.ValidationMessageFor(m => m.PriceRange, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Coordinates, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Coordinates, new { @class = "form-control", id = "longitude", placeholder = "E.g 47.1231231, 179.99999999" })
                                    @Html.ValidationMessageFor(m => m.Coordinates, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Lattitude, new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Lattitude, new { @class = "form-control", id = "lattitude" })
                                        @Html.ValidationMessageFor(m => m.Lattitude, "", new { @class = "text-danger" })
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6"><h3>Business Timings</h3></div>
                        </div>
                        <table id="tbltimings" class="table">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Open ?</th>
                                    <th>Open Time</th>
                                    <th>Close Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="control-label">Sunday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.SunIsOpen, new { htmlAttributes = new { @class = "form-control", id = "sunisopen" } })@Html.ValidationMessageFor(m => m.SunIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.SunStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "sunstarttime", @Value = "" } })@Html.ValidationMessageFor(m => m.SunStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.SunEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "sunendtime", @Value = "" } })@Html.ValidationMessageFor(m => m.SunEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td><span class="control-label">Monday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.MonIsOpen, new { htmlAttributes = new { @class = "form-control", id = "monisopen", @value = "" } })@Html.ValidationMessageFor(m => m.MonIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.MonStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "monstarttime", @Value = "" } }) @Html.ValidationMessageFor(m => m.MonStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.MonEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "monendtime", @Value = "" } }) @Html.ValidationMessageFor(m => m.MonEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td><span class="control-label">Tuesday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.TueIsOpen, new { htmlAttributes = new { @class = "form-control", id = "tueisopen", @value = "" } })@Html.ValidationMessageFor(m => m.TueIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.TueStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "tuestarttime", @Value = "" } })@Html.ValidationMessageFor(m => m.TueStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.TueEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "tueendtime", @Value = "" } }) @Html.ValidationMessageFor(m => m.TueEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td><span class="control-label">Wednesday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.WedIsOpen, new { htmlAttributes = new { @class = "form-control", id = "wedisopen", @value = "" } })@Html.ValidationMessageFor(m => m.WedIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.WedStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "wedstarttime", @Value = "" } }) @Html.ValidationMessageFor(m => m.WedStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.WedEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "wedendtime", @Value = "" } }) @Html.ValidationMessageFor(m => m.WedEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td><span class="control-label">Thrusday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.ThrusIsOpen, new { htmlAttributes = new { @class = "form-control", id = "thrusisopen", @value = "" } })@Html.ValidationMessageFor(m => m.ThrusIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.ThrusStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "thrustarttime", @Value = "" } })@Html.ValidationMessageFor(m => m.ThrusStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.ThrusEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "thruendtime", @Value = "" } })@Html.ValidationMessageFor(m => m.ThrusEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td><span class="control-label">Friday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.FriIsOpen, new { htmlAttributes = new { @class = "form-control", id = "friisopen", @value = "" } })@Html.ValidationMessageFor(m => m.FriIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.FriStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "fristarttime", @Value = "" } })@Html.ValidationMessageFor(m => m.FriStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.FriEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "friendtime", @Value = "" } })@Html.ValidationMessageFor(m => m.FriEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td><span class="control-label">Saturday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.SatIsOpen, new { htmlAttributes = new { @class = "form-control", id = "satisopen", @value = "" } })@Html.ValidationMessageFor(m => m.SatIsOpen, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.SatStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "satstarttime", @Value = "" } }) @Html.ValidationMessageFor(m => m.SatStartTime, "", new { @class = "text-danger" })</td>
                                    <td>@Html.EditorFor(m => m.SatEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "satendtime", @Value = "" } }) @Html.ValidationMessageFor(m => m.SatEndTime, "", new { @class = "text-danger" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="fileUpload btn btn-primary">
                            <span><span class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></span> Upload Image</span>
                            <input type="file" name="file" id="file" multiple class="upload" />
                        </div>
                    </div>
                    <div class="row" id="imagePlaceHolder">
                        @*<div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>*@
                    </div>
                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success btn-login-submit" value="Save Details" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                        @*<button class="btn btn-default">Cancel</button>*@
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>

</html>
