﻿@using Clown.UI.Admin.Models
@model IEnumerable<BusinessSummaryViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/ServiceProviderSummary.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ServiceProviderSummary.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                <div id="opResultMsg" style="display:none; margin-top:10px;" class="alert alert-success fade in radius-bordered alert-shadowed">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <strong>Success !</strong> Business details are updated.
                </div>
                <div class="col-md-6"><h3>Business Summary</h3></div>
                <div class="col-md-6"><span class="pull-right" style="margin-bottom:10px; margin-top:20px;"> @Html.ActionLink("Add New Business", "AddNewBusiness")</span></div>
            </div>
            <div class="table-responsive">
                <table id="tblServiceProvider" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>Business Id</th>
                            <th>Business Name</th>
                            <th>Business Type</th>
                            <th>Address</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    @foreach (BusinessSummaryViewModel eachServiceProvider in @Model)
                    {
                        <tr id="@eachServiceProvider.BusinessId">
                            <td>@eachServiceProvider.BusinessId</td>
                            <td>@eachServiceProvider.BusinessName</td>
                            <td>@eachServiceProvider.BusinessType</td>
                            <td>@eachServiceProvider.Address</td>
                            <td>@Html.ActionLink("Edit", "Update", new { Id = eachServiceProvider.BusinessId })</td>
                            <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs businessDelete" data-title="Delete" data-toggle="modal" data-target="#deleteBusiness"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>
                    }
                </table>
                <div class="clearfix"></div>
                
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <div class="modal fade" id="deleteBusiness" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h3 class="modal-title custom_align" id="Heading">Delete Business</h3>
                    <input type="hidden" id="DltBusinessId" />
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this business?</div>

                </div>
                <div class="modal-footer ">
                    <button id="btnDltBusiness" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
