﻿@using Clown.UI.Admin.Models
@using System.Collections.Generic
@model ModifyBusinessViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify business details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AddNewBusiness.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/UpdateServiceProvider.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink("Business", "Index", "ServiceProvider", null, new { @class = "btn btn-link btn-xs" })
            </div>
            <div class="row">
                <h3>Modify @Model.Name details</h3>
                <div class="clearfix" style="margin-bottom:8px;"></div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <strong>Success !</strong> Business details are updated.
                    </div>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("Update", "ServiceProvider", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.BusinessId);
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Business name", id = "businessname" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.BusinessType, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(m => m.BusinessType)
                                    @*@Html.DropDownListFor(m => m.BusinessType, Model.AvailableBusinessTypes, "-- Select Business Type --", new { @class = "form-control", id = "businesstype", @readonly = "true" })*@
                                    @Html.TextBoxFor(m => m.BusinessTypeName, new { @class = "form-control", @readonly = "true" })
                                    @Html.ValidationMessageFor(m => m.BusinessType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.City, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.City, Model.AvailableCities, "-- Select City --", new { @class = "form-control", id = "city" })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Area, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Area, Model.AvailableAreas, "-- Select Area --", new { @class = "form-control", id = "area" })
                                    @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Street, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control", id = "street" })
                                    @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Zip, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", id = "zip" })
                                    @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactNumber, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", id = "contactnumber" })
                                    @Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Website, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control", id = "website" })
                                    @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.InBusinessSince, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.InBusinessSince, new { @class = "form-control", id = "experience" })
                                    @Html.ValidationMessageFor(m => m.InBusinessSince, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PriceRange, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.PriceRange, new { @class = "form-control", id = "pricerange" })
                                    @Html.ValidationMessageFor(m => m.PriceRange, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Coordinates, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Coordinates, new { @class = "form-control", id = "longitude", placeholder = "E.g 47.1231231, 179.99999999" })
                                    @Html.ValidationMessageFor(m => m.Coordinates, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                @if (Model.BusinessType == 1 || Model.BusinessType == 2)
                                {
                                    <div id="service">
                                        @Html.LabelFor(m => m.SelectedServices, new { @class = "control-label col-sm-3" })
                                        <div class="col-sm-8">
                                            @Html.ListBoxFor(m => m.SelectedServices, Model.AvailableServices, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.SelectedServices, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id="product">
                                        @Html.LabelFor(m => m.SelectedProducts, new { @class = "control-label col-sm-3" })
                                        <div class="col-sm-8">
                                            @Html.ListBoxFor(m => m.SelectedProducts, Model.AvailableProducts, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.SelectedProducts, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                }
                                @*@Html.LabelFor(m => m.Lattitude, new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Lattitude, new { @class = "form-control", id = "lattitude" })
                                        @Html.ValidationMessageFor(m => m.Lattitude, "", new { @class = "text-danger" })
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="col-md-6"><h3>Business Timings</h3></div>
                        </div>
                        <table id="tbltimings" class="table">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Open ?</th>
                                    <th>Open Time</th>
                                    <th>Close Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="control-label">Sunday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.SunIsOpen, new { htmlAttributes = new { @class = "form-control", id = "sunisopen" } })@Html.ValidationMessageFor(m => m.SunIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.SunIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.SunStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "sunstarttime" } })@Html.ValidationMessageFor(m => m.SunStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.SunEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "sunendtime" } })@Html.ValidationMessageFor(m => m.SunEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.SunStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "sunstarttime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.SunStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.SunEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "sunendtime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.SunEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                </tr>
                                <tr>
                                    <td><span class="control-label">Monday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.MonIsOpen, new { htmlAttributes = new { @class = "form-control", id = "monisopen", @value = "" } })@Html.ValidationMessageFor(m => m.MonIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.MonIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.MonStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "monstarttime" } }) @Html.ValidationMessageFor(m => m.MonStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.MonEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "monendtime" } }) @Html.ValidationMessageFor(m => m.MonEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.MonStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "monstarttime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.MonStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.MonEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "monendtime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.MonEndTime, "", new { @class = "text-danger" })</td>
                                    }

                                </tr>
                                <tr>
                                    <td><span class="control-label">Tuesday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.TueIsOpen, new { htmlAttributes = new { @class = "form-control", id = "tueisopen" } })@Html.ValidationMessageFor(m => m.TueIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.TueIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.TueStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "tuestarttime" } })@Html.ValidationMessageFor(m => m.TueStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.TueEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "tueendtime" } }) @Html.ValidationMessageFor(m => m.TueEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.TueStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "tuestarttime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.TueStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.TueEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "tueendtime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.TueEndTime, "", new { @class = "text-danger" })</td>
                                    }

                                </tr>
                                <tr>
                                    <td><span class="control-label">Wednesday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.WedIsOpen, new { htmlAttributes = new { @class = "form-control", id = "wedisopen" } })@Html.ValidationMessageFor(m => m.WedIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.WedIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.WedStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "wedstarttime" } }) @Html.ValidationMessageFor(m => m.WedStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.WedEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "wedendtime" } }) @Html.ValidationMessageFor(m => m.WedEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.WedStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "wedstarttime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.WedStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.WedEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "wedendtime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.WedEndTime, "", new { @class = "text-danger" })</td>
                                    }

                                </tr>
                                <tr>
                                    <td><span class="control-label">Thrusday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.ThrusIsOpen, new { htmlAttributes = new { @class = "form-control", id = "thrusisopen" } })@Html.ValidationMessageFor(m => m.ThrusIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.ThrusIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.ThrusStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "thrustarttime" } })@Html.ValidationMessageFor(m => m.ThrusStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.ThrusEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "thruendtime" } })@Html.ValidationMessageFor(m => m.ThrusEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.ThrusStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "thrustarttime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.ThrusStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.ThrusEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "thruendtime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.ThrusEndTime, "", new { @class = "text-danger" })</td>
                                    }

                                </tr>
                                <tr>
                                    <td><span class="control-label">Friday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.FriIsOpen, new { htmlAttributes = new { @class = "form-control", id = "friisopen" } })@Html.ValidationMessageFor(m => m.FriIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.FriIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.FriStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "fristarttime" } })@Html.ValidationMessageFor(m => m.FriStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.FriEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "friendtime" } })@Html.ValidationMessageFor(m => m.FriEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.FriStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "fristarttime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.FriStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.FriEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "friendtime", @Value = "", @disabled = "disabled" } })@Html.ValidationMessageFor(m => m.FriEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                </tr>
                                <tr>
                                    <td><span class="control-label">Saturday<span style="color:red; margin-left:3px;">*</span></span></td>
                                    <td>@Html.CheckBoxFor(m => m.SatIsOpen, new { htmlAttributes = new { @class = "form-control", id = "satisopen" } })@Html.ValidationMessageFor(m => m.SatIsOpen, "", new { @class = "text-danger" })</td>
                                    @if (Model.SatIsOpen)
                                    {
                                        <td>@Html.EditorFor(m => m.SatStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "satstarttime" } }) @Html.ValidationMessageFor(m => m.SatStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.SatEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "satendtime" } }) @Html.ValidationMessageFor(m => m.SatEndTime, "", new { @class = "text-danger" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m => m.SatStartTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "satstarttime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.SatStartTime, "", new { @class = "text-danger" })</td>
                                        <td>@Html.EditorFor(m => m.SatEndTime, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "satendtime", @Value = "", @disabled = "disabled" } }) @Html.ValidationMessageFor(m => m.SatEndTime, "", new { @class = "text-danger" })</td>
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="fileUpload btn btn-primary">
                            <span><span class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></span> Upload Image</span>
                            <input type="file" name="file" id="file" multiple class="upload" />
                        </div>
                    </div>
                    <div class="row" id="imagePlaceHolder">
                        @*<div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>*@
                    </div>

                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success btn-login-submit" value="Update Details" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
            <div>
                <h3>Images</h3>
                <table class="table table-bordred table-striped" id="tblImages">
                    <thead>
                        <tr>
                            <th style="display:none;"></th>
                            <th>Image</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Clown.UI.Admin.Models.ImageViewModel eachImage in Model.ImageSummary)
                        {
                            <tr id="@eachImage.Id">
                                <td style="display:none;">@eachImage.Id</td>
                                <td><img src="@eachImage.ImageLink" alt="Alternate Text" height="50" width="50" style="margin:5px;" /> </td>
                                <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs imageDelete" data-title="Delete" data-toggle="modal" data-target="#deleteImage"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>



            @if (Model.BusinessType == 1 || Model.BusinessType == 2)
            {
                <div class="row">
                    <div class="row">
                        <div class="col-md-6"><h3>Projects Summary</h3></div>
                        <div class="col-md-6"><span class="pull-right" style="margin-bottom:10px; margin-top:20px;"> @Html.ActionLink("Add New Project", "Add", "Project", new { spid = Model.BusinessId }, new { @class = "text-success" })</span></div>
                    </div>
                    <table id="tblProjects" class="table table-bordred table-striped">
                        <thead>
                            <tr>
                                <th>Project Id</th>
                                <th>Project Name</th>
                                <th>Project Cost</th>
                                <th>Project Location</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        @foreach (Clown.UI.Admin.Models.ProjectSummary eachProject in @Model.ProjectSummary)
                        {
                            <tr id="@eachProject.ProjectId">
                                <td>@eachProject.ProjectId</td>
                                <td>@eachProject.ProjectName</td>
                                <td>@eachProject.ProjectCost</td>
                                <td>@eachProject.Location</td>
                                <td>@Html.ActionLink("Edit", "Update", "Project", new { Id = eachProject.ProjectId }, null)</td>
                                <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs projectDelete" data-title="Delete" data-toggle="modal" data-target="#deleteProject"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>
                        }
                    </table>
                </div>
            }
            <div class="row">
                <div class="row">
                    <div class="col-md-6"><h3>Offer Summary</h3></div>
                    <div class="col-md-6"><span class="pull-right" style="margin-bottom:10px; margin-top:20px;"> @Html.ActionLink("Add New Offer", "Add", "Offer", new { spid = Model.BusinessId }, new { @class = "text-success" })</span></div>
                </div>
                <table id="tblOffers" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>Offer Id</th>
                            <th>Offer Tittle</th>
                            <th>Offer Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    @foreach (Clown.UI.Admin.Models.OfferSummaryViewModel eachOffer in @Model.OfferSummary)
                    {
                        <tr id="@eachOffer.Offerid">
                            <td>@eachOffer.Offerid</td>
                            <td>@eachOffer.OfferTittle</td>
                            <td>@eachOffer.OfferDescription</td>
                            <td>@eachOffer.StartDate</td>
                            <td>@eachOffer.EndDate</td>
                            <td>@Html.ActionLink("Edit", "Update", "Offer", new { Id = eachOffer.Offerid }, null)</td>
                            <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs offerDelete" data-title="Delete" data-toggle="modal" data-target="#deleteOffer"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <div class="modal fade" id="deleteOffer" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h3 class="modal-title custom_align" id="Heading">Delete Offer</h3>
                    <input type="hidden" id="DltOfferId" />
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this offer?</div>

                </div>
                <div class="modal-footer ">
                    <button id="btnDltOffer" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h3 class="modal-title custom_align" id="Heading">Delete Project</h3>
                    <input type="hidden" id="DltProjectId" />
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this project?</div>

                </div>
                <div class="modal-footer ">
                    <button id="btnDltProject" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="deleteImage" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h3 class="modal-title custom_align" id="Heading">Delete Image</h3>
                    <input type="hidden" id="DltImageId" />
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this image?</div>

                </div>
                <div class="modal-footer ">
                    <div id="deleteImageMeassage" style="float:left;">Hi</div>
                    <button id="DeleteImagebtn" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
