﻿@using Clown.UI.Admin.Models
@using System.Collections.Generic
@model AddProductViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Project - </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AddProduct.css" rel="stylesheet" />
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/AddProject.js"></script>*@
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                @*@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink("Business", "Index", "ServiceProvider", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink(Model.ServiceproviderName, "Update", "ServiceProvider", new { id = Model.ServiceProviderId }, new { @class = "btn btn-link btn-xs" })*@
            </div>
            <div class="row">
                <h3>Add Product</h3>
                <div class="clearfix" style="margin-bottom:8px;"></div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <strong>Success !</strong> New project details are saved.
                    </div>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("AddProduct", "Subscription", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProductName, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", placeholder = "Product name", id = "projectname" })
                                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            
                        </div>
                    </div>
                    
                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success btn-login-submit" value="Save Details" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
