﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    @*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
    <link href="~/Content/BusinessDetails.css" rel="stylesheet" />
    <link href="~/Content/lightGallery.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="~/Scripts/BusniessDetails.js"></script>
    <script src="~/Scripts/lightGallery.min.js"></script>
    <script src="~/Scripts/DateFormatter.js"></script>
    <script src="~/Scripts/JRate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/prettify.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
        <div class="container">
            <div class="header-info text-center">
                <h1></h1>
                <p class="category"></p>
                <p class="contact"></p>
                <input type="hidden" id="ServiceProviderId" value="@ViewBag.ServiceProviderId" />
            </div>
            <div class="header-bottom" style="line-height: 45px; border-top: 1px solid rgba(234, 234, 234, 0.25); width: 75%; margin: auto; padding-left:5px; padding-right:5px;">
                <div style="display:initial; color:#fff;"><a data-toggle="tooltip" data-original-title="Add to wishlist"><img id="wishlist" src="~/Content/Images/wishlist.png" height="25" width="20" /></a></div>
                <div style="display: initial; color: #fff; margin-left:20px;"><img id="RequestQuote" src="~/Content/Images/action_quote.png" height="30" width="25" data-toggle="tooltip" data-original-title="Request Quote" /></div>
                <div style="display: initial; color: #fff; margin-left:20px;"><img id="review" src="~/Content/Images/action_Review.png" height="30" width="25" data-toggle="tooltip" data-original-title="Write a review" /></div>
                <div style="float:right;">
                    <img id="verified" src="~/Content/Images/action_verified.png" height="30" width="32" data-toggle="tooltip" data-original-title="Verified" />
                    <div class="ratting-text" style=""></div>
                    <div class="ratting-number"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-part">
        <div class="services-section" id="services">
            <div class="container">
                <div class="services-section-head text-center">
                    <h3>Services offered</h3>
                </div>
                <div id="servicelist-container" class="container" style="margin-top:5px;">
                    @*<div class="services-section-grids row">
                               <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="event"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>Modular Kitchen</h4>
                                    <p>Do in-depth research on the best</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="needs"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>Interior Designing</h4>
                                    <p>Get and overall idea of the cost.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="event"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>False Celling</h4>
                                    <p>Choose interior designs for your</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="needs"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>Lighting</h4>
                                    <p>Choose interior designs for your.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                                        </div>*@
                </div>
                @*<div class="services-section-grids">
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="needs"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>Lighting</h4>
                                    <p>Choose interior designs for your.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="event"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>Modular Kitchen</h4>
                                    <p>Do in-depth research on the best</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="needs"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>Interior Designing</h4>
                                    <p>Get and overall idea of the cost.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="service-icon">
                                    <i class="event"></i>
                                </div>
                                <div class="service-icon-heading">
                                    <h4>False Celling</h4>
                                    <p>Choose interior designs for your</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
            </div>
        </div>
        <div class="Offers-section" id="Offers">
            <div class="container">
                <div class="Offers-section-head text-center">
                    <h3 style="margin-bottom:5px;">Top Offers</h3>
                    <h6><a href="/Offer?id=@ViewBag.ServiceProviderId">View all Offers</a></h6>
                </div>
                <div id="OfferContainer" class="row">
                    
                </div>
            </div>
        </div>
        <div class="facts-section" id="facts">
            <div class="container">
                <div class="facts-section-head text-center">
                    <h3>Facts</h3>
                </div>
                <div class="facts-section-grids row">
                    <div class="col-md-4">
                        
                        <div class="facts-section-grid-head" >
                            <div class="service-icon">
                                <i class="offers"></i>
                            </div>
                            <div class="facts-icon-heading">
                                <h4>Running Offers</h4>
                                <p class="Offer-text">Not Available</p>
                            </div>
                        </div>
                        <div class="facts-section-grid-head pricerangecontainer" style="margin-top:40px;">
                            <div class="service-icon">
                                <i class="price"></i>
                            </div>
                            <div class="facts-icon-heading">
                                <h4 id="pricerangehead">Price range</h4>
                                <p id="pricerangetext" class="price-text">Not Available</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="facts-section-grid-head">
                            <div class="service-icon">
                                <i class="businesshrs"></i>
                            </div>
                            <div class="facts-icon-heading">
                                <h4>Business Hours</h4>
                                <ul id="bisunesshrs">
                                    <li>Not Available</li>
                                    @*<li>Sun :10:30AM to 7:30PM</li>
                                        <li>Mon :10:30AM to 7:30PM</li>
                                        <li>Tue :10:30AM to 7:30PM</li>
                                        <li>Wed :10:30AM to 7:30PM</li>
                                        <li>Thr :10:30AM to 7:30PM</li>
                                        <li>Fri :10:30AM to 7:30PM</li>
                                        <li>Fri :10:30AM to 7:30PM</li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="facts-section-grid-head">
                            <div class="service-icon">
                                <i class="project"></i>
                            </div>
                            <div class="facts-icon-heading" style="max-width:80%;">
                                <h4 id="completedproject">Completed Projects</h4>
                                <p id="completedprojecttext" class="project-text">Not Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-section" id="projects">
            <div class="container">
                <div class="projects-section-head text-center">
                    <h3 style="margin-bottom:5px;">Recent Projects</h3>
                    <h6><a href="../Project/@ViewBag.ServiceProviderId">View all projects</a></h6>
                </div>
                <div class="projects-section-grids">
                    @*<div class="col-md-4">
                            <div class="projects-section-grid-head">
                                <div class="projects-section-grid-head-tittle">
                                    <h3>3Bhk Complete Interior</h3>
                                    <h5>White field</h5>
                                </div>
                                <div class="projects-section-grid-head-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="projects-section-grid-head">
                                <div class="projects-section-grid-head-tittle">
                                    <h3>Interior designing for 2bhk house</h3>
                                    <h5>Electronic City</h5>
                                </div>
                                <div class="projects-section-grid-head-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="projects-section-grid-head">
                                <div class="projects-section-grid-head-tittle">
                                    <h3>Modular Kitchen and false-celling</h3>
                                    <h5>Jaynagar</h5>
                                </div>
                                <div class="projects-section-grid-head-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="location-section" id="location">
            <div class="container">
                <div class="location-section-head text-center">
                    <h3>Location</h3>
                    <p class="location-text">HSR Layout, Bangalore, Karnataka, In</p>
                </div>
                <div class="location-section-grids">
                    <div id="map-canvas" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="gallery-section" id="projects">
            <div class="container">
                <div class="gallery-section-head text-center">
                    <h3>Gallery</h3>
                </div>
                <div class="gallery-section-grids">
                    <ul id="lightGallery">
                        @*<li data-src="../Content/Images/img1.jpg">
                                <img src="~/Content/Images/thumb1.jpg" />
                            </li>
                            <li data-src="../Content/Images/img2.jpg">
                                <img src="~/Content/Images/thumb2.jpg" />
                            </li>
                            <li data-src="../Content/Images/img3.jpg">
                                <img src="~/Content/Images/thumb3.jpg" />
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="testimonial" id="customerspeaks">
            <div class="container">
                <div class="testimonial-section-head text-center">
                    <h3>Recent Reviews</h3>
                    <h6><a href="../Review/@ViewBag.ServiceProviderId">View all reviews</a></h6>
                </div>
                <div class="testimonial-section-grids">
                    @*<div class="col-md-4 services-section-grid">
                            <div class="services-section-grid-head">
                                <div class="testimonial-icon-heading">
                                    <h4>Surendar R</h4>
                                    <div style="font-size:12px;">Ratted <div class="indivisual-ratting-number">4.5</div> | Reviewed on 12 Mar 2015</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information. <span>"</span></p>
                        </div>
                        <div class="col-md-4 services-section-grid">
                            <div class="services-section-grid-head">
                                <!--<div class="service-icon">
                                <i class="event"></i>
                            </div>-->
                                <div class="testimonial-icon-heading">
                                    <h4>Rajib Rajbangshi,</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.<span>"</span></p>
                        </div>
                        <div class="col-md-4 services-section-grid">
                            <div class="services-section-grid-head">
                                <!--<div class="service-icon">
                                <i class="event"></i>
                            </div>-->
                                <div class="testimonial-icon-heading">
                                    <h4>Ashok Datti Kumar,</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.<span>"</span></p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    @*<div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Useful Links</h4>
                    <ul>
                        <li><a href="#">Carpenters</a></li>
                        <li><a href="#">Interior Designers</a></li>
                        <li><a href="#">Furniture Stores</a></li>
                        <li><a href="#">Modular Kitchen</a></li>
                        <li><a href="#">Curtons</a></li>
                        <li><a href="#">Lightings</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Learn</h4>
                    <ul>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul><br />
                    <h4 class="title">Keep in touch</h4>
                    <div class="social-icons">
                        <a href="#"><i class="f_facebook"></i></a>
                        <a href="#"><i class="f_youtube"></i></a>
                        <a href="#"><i class="f_linkedin"></i></a>
                        <a href="#"><i class="f_googlepluse"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Contact Us</h4>
                    <ul class="address">
                        <li><i class="f_phone"></i></li>
                        <li>0123456789</li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_msg"></i></li>
                        <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_location"></i></li>
                        <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>*@

    @*Login Modal*@
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Clown</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="login">
                                @Html.Partial("~/Views/Shared/_SignIn.cshtml")
                            </div>
                            <div id="Register">
                                @Html.Partial("~/Views/Shared/_Signup.cshtml")
                            </div>
                            <div id="ForgotPassword">
                                @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml")
                            </div>
                        </div>
                        <div style="height:230px; float:left; margin-top:5px; border-right:1px solid #cdcdcd; ">

                        </div>
                        <div id="loginright" class="col-xs-6" style="width:48%;">
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>
                                    <a href="#" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;">Login using Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-lg btn-info btn-block">Login using Google</a>
                                </li>
                                @*<li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>*@
                            </ul>
                            @*<p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>*@
                        </div>
                        <div id="signupright" class="col-xs-6" style="width:48%;">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ratting and Review ModalPopup -->
    <div class="modal fade" id="RattingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Write an review</h4>
                </div>
                <div class="modal-body">
                    <div id="YourReviews" class="container section-each">
                        <div style="color: #4D4D4D; font-size:14.5px; font-weight:700; display:inline; line-height:18px;padding-bottom:5px;float:left;">Your Ratting</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;display:block; margin-left:10px; height:35px;">
                            <div id="rattings" style="display:inline; float:left; margin-left:5px;"></div>
                            <div id="ratting-number" style="display:inline; margin-left:3px; font-weight:700; font-size:14px; "></div>
                            @*<textarea id="urReview" class="form-control" rows="5" style="resize:none; width:450px; margin-top:10px;"></textarea>*@
                        </div>
                        <div style="" class="review-form-textarea" id="review-form-textarea-id" contenteditable="true"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="PublishReviewMeassage" style="float:left; display:inline-block;"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnReview" class="btn btn-primary">Publish Review</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Get Quote ModalPopup -->
    <div class="modal fade" id="GetQuoteModal" tabindex="-1" role="dialog" aria-labelledby="GetQuoteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Request Quote</h4>
                </div>
                <div class="modal-body">
                    <div id="rootwizard">
                        <ul>
                            <li><a href="#RoomDetails" data-toggle="tab">Room Details</a></li>
                            <li><a href="#Kitchen" data-toggle="tab">Kitchen</a></li>
                            <li><a href="#LivingRoom" data-toggle="tab">Living Room</a></li>
                            <li><a href="#BedRoom" data-toggle="tab">Bed Room</a></li>
                        </ul>
                        <div class="tab-content" style="margin-top:5px;">
                            <div id="RoomDetails" class="tab-pane" style="min-height:180px;">
                                <div class="form-group">
                                    <label for="filter">Select your house type</label>
                                    <select class="form-control" id="RQHouseType">
                                        <option value="1">1 BHK</option>
                                        <option value="2">2 BHK</option>
                                        <option value="3">2.5 BHK</option>
                                        <option value="4">3 BHK</option>
                                        <option value="5">Villa</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Tell us the carpet area(in SqFt)</label>
                                    <input class="form-control" type="text" id="RQHouseCarpetArea" />
                                </div>
                            </div>
                            <div id="Kitchen" class="tab-pane" style="min-height:250px;">
                                <div class="form-group">
                                    <label for="filter">Select your kitchen type</label>
                                    <select class="form-control" id="RQKitchenType">
                                        <option value="1">G Shaped</option>
                                        <option value="2">L Shaped</option>
                                        <option value="3">One wall</option>
                                        <option value="4">Parallel</option>
                                        <option value="5">U Shaped</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Width of your kitchen</label>
                                    <input class="form-control" type="text" id="RQKitchenWidth" />
                                </div>
                                <div class="form-group">
                                    <label for="contain">Length of your kitchen</label>
                                    <input class="form-control" type="text" id="RQKitchenHeight" />
                                </div>
                                <div class="form-group">
                                    <label for="contain">Additional requirements</label>
                                    <textarea class="form-control" id="RQKitchenReq"></textarea>
                                </div>
                            </div>
                            <div id="LivingRoom" class="tab-pane" style="min-height:300px;">
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:150px;">
                                        <input type="checkbox" value="" id="RQLVTVUnitChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-blackboard"></i></span>
                                        TV Unit
                                    </label>
                                    <div class="input-group">
                                        <input id="RQLVTVWidth" type="text" class="item" value="" placeholder="Width">
                                    </div>
                                    <div class="input-group">
                                        <input id="RQLVTVHeight" type="text" class="item" value="" placeholder="Height">
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:150px;">
                                        <input type="checkbox" value="" id="RQLVCUChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-blackboard"></i></span>
                                        Crockery Unit
                                    </label>
                                    <div class="input-group">
                                        <input id="RQLVCUWidth" type="text" class="item" value="" placeholder="Width">
                                    </div>
                                    <div class="input-group">
                                        <input id="RQLVCUHeight" type="text" class="item" value="" placeholder="Height">
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block;width:100%; ">
                                    <label style="width:150px;">
                                        <input type="checkbox" value="" id="RQLVSRChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-oil"></i></span>
                                        Shoes Rack
                                    </label>
                                    <div class="input-group">
                                        <input id="RQLVSRWidth" type="text" class="item" value="" placeholder="Width">
                                    </div>
                                    <div class="input-group">
                                        <input id="RQLVSRHeight" type="text" class="item" value="" placeholder="Height">
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:150px;">
                                        <input type="checkbox" value="" id="RQLVFSChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-road"></i></span>
                                        False Celling
                                    </label>
                                    <div class="input-group">
                                        <input id="RQLVFSArea" type="text" class="item" name="FSArea" value="" placeholder="Area">
                                    </div>
                                    <div class="input-group">
                                        <select class="item" style="margin-left:5px;" id="RQLVFSDesign">
                                            <option value="-1" selected="selected">Select Design Type</option>
                                            <option value="1">Simple</option>
                                            <option value="2">Complex</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:150px; margin-top:5px;">
                                        <input type="checkbox" value="" id="RQLVPUChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-bell"></i></span>
                                        Pooja Unit
                                    </label>
                                    <div class="input-group">
                                        <select class="item" style="margin-left:5px;" id="RQLVPUSize">
                                            <option value="-1" selected="selected">Select size</option>
                                            <option value="1">Small</option>
                                            <option value="2">Medium</option>
                                            <option value="3">Large</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:150px;">Additional requirements</label>
                                    <textarea class="form-control" id="RQLVPUReq"></textarea>
                                </div>
                                @*<div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnQuote" class="btn btn-primary">Request Quote</button>
                                    </div>*@
                            </div>
                            <div id="BedRoom" class="tab-pane" style="min-height:350px;">
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:130px;">
                                        <input type="checkbox" value="" id="RQBRWRChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-blackboard"></i></span>
                                        Wardrobe
                                    </label>
                                    <div class="input-group">
                                        <input id="RQBRWRWidth" type="text" class="item" value="" placeholder="Width">
                                    </div>
                                    <div class="input-group">
                                        <input id="RQBRWRHeight" type="text" class="item" value="" placeholder="Height">
                                    </div>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRWRQnty">
                                            <option value="-1" selected="selected">Select Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:130px;">
                                        <input type="checkbox" value="" id="RQBRLoftChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-blackboard"></i></span>
                                        Loft
                                    </label>
                                    <div class="input-group">
                                        <input id="RQBRLoftWidth" type="text" class="item" value="" placeholder="Width">
                                    </div>
                                    <div class="input-group">
                                        <input id="RQBRLoftHeight" type="text" class="item" value="" placeholder="Height">
                                    </div>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRLoftQnty">
                                            <option value="-1" selected="selected">Select Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:130px;">
                                        <input type="checkbox" value="" id="RQBRFSChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-road"></i></span>
                                        False Celling
                                    </label>
                                    <div class="input-group">
                                        <input id="RQBRFSArea" type="text" class="item" value="" placeholder="Area">
                                    </div>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRFSDesign">
                                            <option value="-1" selected="selected">Select Design Type</option>
                                            <option value="1">Simple</option>
                                            <option value="2">Complex</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRFSQnty">
                                            <option value="-1" selected="selected">Select Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block;width:100%; ">
                                    <label style="width:130px;">
                                        <input type="checkbox" value="" id="RQBRSTChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-oil"></i></span>
                                        Study Table
                                    </label>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRSTQnty">
                                            <option value="-1" selected="selected">Select Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <label style="width:187px;">
                                        <input type="checkbox" value="" id="RQBRDTChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-oil"></i></span>
                                        Drssing Table
                                    </label>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRDTQnty">
                                            <option value="-1" selected="selected">Select Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:130px;">
                                        <input type="checkbox" value="" id="RQBRTVChkbx">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-blackboard"></i></span>
                                        TV Unit
                                    </label>
                                    <div class="input-group">
                                        <select class="item" style="min-width:187px;" id="RQBRTVQnty">
                                            <option value="-1" selected="selected">Select Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="navbar-form navbar-left" style="display:inline-block; width:100%; ">
                                    <label style="width:130px;">Additional requirements</label>
                                    <textarea class="form-control" id="RQBRReq"></textarea>
                                </div>
                                @*<div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnQuote" class="btn btn-primary">Request Quote</button>
                                    </div>*@
                            </div>
                            <ul class="pager wizard">
                                <li class="previous first"><a href="javascript:;">First</a></li>
                                <li class="previous"><a href="javascript:;">Previous</a></li>
                                <li class="next last"><a href="javascript:;">Last</a></li>
                                <li class="next"><a href="javascript:;">Next</a></li>
                                <li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="RQerror-message" style="color:#ff0000;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
