﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type='text/css' />*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="~/Content/homeindex.css" rel="stylesheet" type='text/css' />
    <link href="~/Content/jquery.typeahead.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/homeindex.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.typeahead.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
        <div class="container">
            <div class="header-info text-center">
                <h1>Find Interior Designers, Carpenters, Furniture shops near you.</h1>
                <div class="search_container">
                    <div style="width:345px; display:inline-block;" class="pull-left">
                        <form>
                            <div class="typeahead-container">
                                <div class="typeahead-field">
                                    <span class="typeahead-query">
                                        @*<input id="q" name="q" autocomplete="off" type="search">*@
                                        <input autocomplete="off" id="location-select-txtbox" type="search" class="location-select" placeholder="City, Location, Landmark..">
                                    </span>
                                    @*<span class="typeahead-button">
                                            <button type="submit">
                                                @*<span class="typeahead-search-icon"></span>

                                            </button>
                                        </span>*@

                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="width:345px; display:inline-block;" class="pull-left">
                        <form>
                            <div class="typeahead-container">
                                <div class="typeahead-field">
                                    <span class="typeahead-query">
                                        <input id="seach-txtbox" style="background-image: url(/Content/Images/search.png);" autocomplete="off" type="search" class="location-select-right" placeholder="Carpenter, Interior Designers, Furniture store..">
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="searchbtn" class="search_btn">SEARCH</div>


                </div>
                <input type="hidden" id="locationCategory" /><input type="hidden" id="searchCategory" />
                <p>Over 8,000 business listed over Bengaluru</p>
                <a class="scroll" href="#services"><img src="~/Content/Images/go_down.png" alt="" /></a>
            </div>
        </div>
    </div>
    <div class="main-part">
        <div class="services-section" id="services">
            <div class="container">
                <div class="services-section-head text-center">
                    <h3>Try our hand picked collection</h3>
                </div>
                <div class="services-section-grids row">
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon-heading">
                                <h4><span class="glyphicon glyphicon glyphicon-picture" style="margin-right:8px;"></span>Interior Designers</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><a href="~/Search/Bangalore/Interior Designers?Category=1&PreFilter=top-rated"> Top rated interior designers</a> </p>
                        <p><a href="~/Search/Bangalore/Interior Designers?Category=1&PreFilter=most-exp"> Most experienced interior designers</a></p>
                        <p><a href="~/Search/Bangalore/Interior Designers?Category=1&PreFilter=afforable">Affordable interior designers</a></p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon-heading">
                                <h4><span class="glyphicon glyphicon glyphicon-wrench" style="margin-right:8px;"></span>Carpenters</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><a href="~/Search/Bangalore/Carpenters?Category=1&PreFilter=top-rated"> Top rated carpenters</a></p>
                        <p><a href="~/Search/Bangalore/Interior Designers?Category=1&PreFilter=most-exp">Most experienced carpenters</a></p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon-heading">
                                <h4><span class="glyphicon glyphicon-lamp" style="margin-right:8px;"></span>Furniture Stores</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><a href="~/Search/Bangalore/Furniture Store?Category=1&PreFilter=top-rated">Top rated furniture stores</a></p>
                        <p><a href="~/Search/Bangalore/Furniture Store?Category=1&PreFilter=with-offer"> Stores that is giving offers</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="testimonial" id="customerspeaks">
            <div class="container">
                <div class="services-section-head text-center">
                    <h3>Hot Offers</h3>
                </div>
                <div id="OfferContainer" class="row">
                    @*<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="offer offer-default">
                                                <div class="offer-content">
                                                    <div style="margin-top:5px;font-size:20px; font-weight:500; margin-bottom:5px; color:#1fadbb;">
                                                        Royal Oak
                                                    </div>
                                                    <p id="offerTittle"style="color:#f8b019;" ><span class="glyphicon glyphicon-gift"></span> Summer Sale</p>
                                                    <p style="min-height:30px;">
                                                        20% off on purchase of King Size bed
                                                    </p>
                                                    <div class="row" >
                                                        <div class="col-md-12 post-header-line" style="font-size:12px; margin-top:10px; color:#808080;">
                                                            <div class="text-left" style="display:inline-block;">
                                                                <span class="glyphicon glyphicon-calendar">
                                                                </span>&nbsp;Valid till <br /><strong>20 June</strong>
                                                            </div>
                                                            <div class="text-left" style="display:inline-block; margin-left:15px;">
                                                                <span class="glyphicon glyphicon-eye-open">
                                                                </span>&nbsp;Views<br /><strong>300</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-default">
                                <div class="offer-content">
                                    <div style="margin-top:5px;font-size:20px; font-weight:300; margin-bottom:5px;">
                                        Royal Oak
                                    </div>
                                    <p>
                                        20% off on purchase of King Size bed
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12 post-header-line" style="font-size:12px; margin-top:10px; color:#808080;">
                                            <div class="text-left" style="display:inline-block;">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>&nbsp;Valid till <br /><strong>20 June</strong>
                                            </div>
                                            <div class="text-left" style="display:inline-block; margin-left:15px;">
                                                <span class="glyphicon glyphicon-eye-open">
                                                </span>&nbsp;Views<br /><strong>300</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-default">
                                <div class="offer-content">
                                    <div style="margin-top:5px;font-size:20px; font-weight:300; margin-bottom:5px;">
                                        Royal Oak
                                    </div>
                                    <p>
                                        20% off on purchase of King Size bed
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12 post-header-line" style="font-size:12px; margin-top:10px; color:#808080;">
                                            <div class="text-left" style="display:inline-block;">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>&nbsp;Valid till <br /><strong>20 June</strong>
                                            </div>
                                            <div class="text-left" style="display:inline-block; margin-left:15px;">
                                                <span class="glyphicon glyphicon-eye-open">
                                                </span>&nbsp;Views<br /><strong>300</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-default">
                                <div class="offer-content">
                                    <div style="margin-top:5px;font-size:20px; font-weight:300; margin-bottom:5px;">
                                        Royal Oak
                                    </div>
                                    <p>
                                        20% off on purchase of King Size bed
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12 post-header-line" style="font-size:12px; margin-top:10px; color:#808080;">
                                            <div class="text-left" style="display:inline-block;">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>&nbsp;Valid till <br /><strong>20 June</strong>
                                            </div>
                                            <div class="text-left" style="display:inline-block; margin-left:15px;">
                                                <span class="glyphicon glyphicon-eye-open">
                                                </span>&nbsp;Views<br /><strong>300</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-default">
                                <div class="offer-content">
                                    <div style="margin-top:5px;font-size:20px; font-weight:300; margin-bottom:5px;">
                                        Royal Oak
                                    </div>
                                    <p>
                                        20% off on purchase of King Size bed
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12 post-header-line" style="font-size:12px; margin-top:10px; color:#808080;">
                                            <div class="text-left" style="display:inline-block;">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>&nbsp;Valid till <br /><strong>20 June</strong>
                                            </div>
                                            <div class="text-left" style="display:inline-block; margin-left:15px;">
                                                <span class="glyphicon glyphicon-eye-open">
                                                </span>&nbsp;Views<br /><strong>300</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-default">
                                <div class="offer-content">
                                    <div style="margin-top:5px;font-size:20px; font-weight:300; margin-bottom:5px;">
                                        Royal Oak
                                    </div>
                                    <p>
                                        20% off on purchase of King Size bed
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12 post-header-line" style="font-size:12px; margin-top:10px; color:#808080;">
                                            <div class="text-left" style="display:inline-block;">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>&nbsp;Valid till <br /><strong>20 June</strong>
                                            </div>
                                            <div class="text-left" style="display:inline-block; margin-left:15px;">
                                                <span class="glyphicon glyphicon-eye-open">
                                                </span>&nbsp;Views<br /><strong>300</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>

            </div>
            @*<div class="subscribe text-center" id="shortcodes">
                <div class="container">
                    <h3>Stay Connected</h3>
                    <input type="text" class="text" value="Leave your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Leave your email here';}">
                    <input type="submit" value="Subscribe">
                </div>
            </div>*@
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    

    @*Login Modal*@
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Clown</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="login">
                                @Html.Partial("~/Views/Shared/_SignIn.cshtml")
                            </div>
                            <div id="Register">
                                @Html.Partial("~/Views/Shared/_Signup.cshtml")
                            </div>
                            <div id="ForgotPassword">
                                @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml")
                            </div>
                        </div>
                        <div style="height:230px; float:left; margin-top:5px; border-right:1px solid #cdcdcd; ">

                        </div>
                        <div id="loginright" class="col-xs-6" style="width:48%;">
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>
                                    <a href="#" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;">Login using Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-lg btn-info btn-block">Login using Google</a>
                                </li>
                                @*
                                    <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>*@
                            </ul>
                            @*<p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>*@
                        </div>
                        <div id="signupright" class="col-xs-6" style="width:48%;">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
