﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="~/Content/dropdowns-enhancement.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Content/homesearch.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/JPagePagination.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <!--<script src="Scripts/jquery.quick.pagination.min.js"></script>-->
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dropdowns-enhancement.js"></script>
    <script src="~/Scripts/jPages.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/homesearch.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />

</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
        @*<div class="container">
                <div class="header-top">
                    <div class="logo">
                        <a href="/"><img src="~/Content/Images/logo.png" alt="" /></a>
                    </div>

                    <div class="search_container">
                        <input id="location-select-txtbox" type="text" class="text" style="border-right:1px solid #808080;" value="City, Location, Landmark..." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'City, Location, Landmark...'; }">
                        <input id="seach-txtbox" type="text" class="text" value="Interior Designer, Carpenter..." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Interior Designer, Carpenter...'; }">
                        <div class="search_btn">SEARCH</div>
                    </div>
                    @Html.Partial("~/Views/Shared/_LeftNavigation.cshtml")

                    <div class="clearfix"></div>
                </div>
            </div>*@
    </div>
    @*<nav class="navbar navbar-default" style="box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px -3px; border-radius: 0px; background-color: #FFF;">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Refine result</a>
            </div>
            <div>
                <ul id="filter" class="nav navbar-nav">
                   
                </ul>
            </div>
        </div>
    </nav>*@
    <div id="list" class="datalist">
        <div class="container">
            <div class="filter-vertical">
                <div class="heading">
                    <span class="glyphicon glyphicon-filter"></span>
                    <span>FILTER</span>
                </div>
                <div class="filter-tab">
                    <div class="fliter-item-heading">COST OF 2BHK INTERIOR <span class="glyphicon glyphicon-menu-down pull-right filter-carcet"></span></div>
                    <div class="filter-string"></div>
                    <div class="filter-items">
                        <ul>
                            <li>Less than 3L</li>
                            <li>3L to 5L</li>
                        </ul>
                    </div>
                </div>
                <div class="filter-tab">
                    <div class="fliter-item-heading">SERVICES OFFERING<span class="glyphicon glyphicon-menu-down pull-right filter-carcet"></span></div>
                    <div class="filter-string"></div>
                    <div class="filter-items">
                        <ul id="filter-services">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="data">
                <div class="data-header">
                    <span class="search-nav">Home/Interior Designers/Koramangla</span>
                    <span class="search-header">Interior Designers in Koramangla</span>
                    <span class="search-resultCount"></span>
                </div>
                <div class="data-container">
                    <input type="hidden" id="locationCategory" value="@ViewBag.locationCategory" /><input type="hidden" id="searchCategory" value="@ViewBag.serachCategory" /><input type="hidden" id="location" value="@ViewBag.location" /><input type="hidden" id="search" value="@ViewBag.serach" />
                    <div id="ajax" style="margin:auto; margin-left:0px; margin-top:20px;"><img style="margin-left:300px;" src="~/Content/Images/ajax-loader.gif" /><span style="display:block; text-align:center;">Please wait while we load the result for you...</span></div>
                    <ul id="data-list">
                        @*<li>
                                <p>Bonito Designs&nbsp;</p>
                                <div class="ratting"><div class="ratting-number">4.5</div><div class="ratting-text" style="">101 Reviews</div><div class="verification"><img src="~/Content/Images/verified.png" height="20" width="20" /><span>Verified</span></div></div>
                                <div class="deals"><span>Deals in > </span> Kitchen, Interior design</div>
                                <div class="address">Located at > 2362, 24th Main Road, Sector 1, HSR Layout, Bengaluru, Karnataka</div>
                                <div class="statistics">
                                    <div style="float:left;">
                                        <div style="color:#808080; font-size:12px; min-width:100px; display:inline-block;">Completed Projects</div>
                                        <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;">15</span>
                                    </div>
                                    <div style="float:left; margin-left:15px;">
                                        <span style="color:#808080; font-size:12px; width:100px; display:inline-block;">Total experience</span>
                                        <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;">5.6</span>
                                    </div>
                                    <div style="float:left; margin-left:15px;">
                                        <span style="color:#808080; font-size:12px; min-width:100px; display:inline-block;">Running Offers</span>
                                        <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;">2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>FabModula</p>
                                <div class="ratting"><div class="ratting-number">4.5</div><div class="ratting-text" style="">101 Reviews</div></div>
                                <div class="address">HSR Layout > 75/1, 7th Cross, Christ School Road, Bangalore 560029, Karnataka, INDIA</div>
                                <div class="deals"><span>Deals in > </span> Kitchen, Interior design</div>
                                <div class="statistics">
                                    <div style="float:left;">
                                        <div style="color:#808080; font-size:11px; width:100px; display:inline;">Projects completed</div>
                                        <span style="display:block; color: #514e4e; font-size: 16px; font-weight:600;">15</span>
                                    </div>
                                    <div style="float:left; margin-left:15px;">
                                        <span style="color:#808080; font-size:11px; width:100px; display:inline;">Total exp</span>
                                        <span style="display:block; color: #514e4e; font-size: 16px; font-weight:600;">5</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>Bonito Designs</p>
                                <div class="ratting"><div class="ratting-number">4.5</div><div class="ratting-text" style="">101 Reviews</div></div>
                                <div class="address">HSR Layout > 2362, 24th Main Road, Sector 1, HSR Layout, Bengaluru, Karnataka</div>
                                <div class="deals"><span>Deals in > </span> Kitchen, Interior design</div>
                                <div class="statistics">
                                    <div style="float:left;">
                                        <img src="Images/project.png" height="20" width="20" />
                                        <div style="color:#808080; font-size:11px; width:100px; display:inline;">Projects completed</div>
                                        <span style="display:block; margin-left:28px; margin-top:-8px; color: #514e4e; font-size: 16px; font-weight:600;">15</span>
                                    </div>
                                    <div style="float:left; margin-left:15px;">
                                        <img src="Images/exp.png" height="22" width="22" />
                                        <span style="color:#808080; font-size:11px; width:100px; display:inline;">Total exp</span>
                                        <span style="display:block; margin-left:30px; margin-top:-9px; color: #514e4e; font-size: 16px; font-weight:600;">5</span>
                                    </div>
                                </div>
                            </li>*@
                    </ul>
                    <ul id="pagination-demo"></ul>
                    <div class="holder">
                    </div>
                </div>
            </div>
            <div class="sponser">
                <div id="map-canvas" style="width:100%; height:300px;"></div>
                <!--<div><iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d15555.372242562913!2d77.62438045!3d12.9178065!3m2!1i1024!2i768!4f13.1!2m1!1snearby+restaurants!5e0!3m2!1sen!2sin!4v1426540891390" width="425" height="200" frameborder="0" style="border:1px"></iframe></div>-->
                @*<div>
                        <iframe style="width:100%; height:300px;" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=12.917793~77.622075&lvl=16&w=400&h=300&sty=r&typ=d&pp=&ps=&dir=0&mkt=en-in&src=SHELL&form=BMEMJS"></iframe>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Useful Links</h4>
                    <ul>
                        <li><a href="#">Carpenters</a></li>
                        <li><a href="#">Interior Designers</a></li>
                        <li><a href="#">Furniture Stores</a></li>
                        <li><a href="#">Modular Kitchen</a></li>
                        <li><a href="#">Curtons</a></li>
                        <li><a href="#">Lightings</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Learn</h4>
                    <ul>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul><br />
                    <h4 class="title">Keep in touch</h4>
                    <div class="social-icons">
                        <a href="#"><i class="f_facebook"></i></a>
                        <a href="#"><i class="f_youtube"></i></a>
                        <a href="#"><i class="f_linkedin"></i></a>
                        <a href="#"><i class="f_googlepluse"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Contact Us</h4>
                    <ul class="address">
                        <li><i class="f_phone"></i></li>
                        <li>0123456789</li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_msg"></i></li>
                        <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_location"></i></li>
                        <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    @*Login Modal*@
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Clown</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="login">
                                @Html.Partial("~/Views/Shared/_SignIn.cshtml")
                            </div>
                            <div id="Register">
                                @Html.Partial("~/Views/Shared/_Signup.cshtml")
                            </div>
                            <div id="ForgotPassword">
                                @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml")
                            </div>
                        </div>
                        <div style="height:230px; float:left; margin-top:5px; border-right:1px solid #cdcdcd; ">

                        </div>
                        <div id="loginright" class="col-xs-6" style="width:48%;">
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>
                                    <a href="#" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;">Login using Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-lg btn-info btn-block">Login using Google</a>
                                </li>
                                @*<li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>*@
                            </ul>
                            @*<p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>*@
                        </div>
                        <div id="signupright" class="col-xs-6" style="width:48%;">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
