﻿<div class="footer">
    <div class="container">
        <div class="footer-topbar">
            <div class="footer-topbar-navbar">
                <div class="footer-links">
                    <ul>
                        <li><a>Privary Policy</a></li>
                        <li><a>Terms & Conditions</a></li>
                        <li><a>For Business</a></li>
                    </ul>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a><i class="f_facebook"></i></a></li>
                        <li><a><i class="f_youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottombar">
            <span> &copy; 2015 - Companyname (P) Ltd </span>
        </div>
    </div>
</div>
<style>
    .footer {
        background: #323232;
        margin-top: 20px;
    }

    .footer-topbar {
        height: 40px;
        width: 100%;
        display: block;
    }

    .footer-links {
        float: left;
    }

    .footer-topbar-navbar ul {
        margin-left: -38px;
        margin-top: 10px;
    }

        .footer-topbar-navbar ul li {
            list-style: none;
            display: inline-block;
        }

            .footer-topbar-navbar ul li a {
                padding-right: 5px;
                color: #ffd800;
                cursor: pointer;
                text-decoration: none;
            }

                .footer-topbar-navbar ul li a:hover {
                    color: #d5b70e;
                }

    .social-icons {
        float: right;
    }

        .social-icons i {
            width: 30px;
            height: 30px;
            background: url('/Content/Images/img-sprite.png') no-repeat 0px 0px;
            display: inline-block;
            /*margin:0 2.5em;*/
        }

            .social-icons i:hover {
                opacity: 0.5;
            }

    i.f_facebook {
        background-position: -935px 0px;
    }

    i.f_youtube {
        background-position: -995px 0px;
    }

    i.f_linkedin {
        background-position: -1025px 0px;
    }

    i.f_googlepluse {
        background-position: -1115px 0px;
    }

    .footer-bottombar {
        display: block;
        height: 35px;
        color: #eaeaea;
    }

        .footer-bottombar span {
            margin-top: 5px;
            vertical-align: middle;
            padding-bottom: 3px;
        }
</style>

