﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f8f7f7;
}
.header {
	background: url('Images/header-bg.jpg') no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	height:300px;
}
.header-top {
	padding:1.5em 0;
}
.logo {
	float:left;
}
.top-menu {
	float:right;
}
.top-menu ul li {
	display:inline-block;
	margin:0 14px;
}
.top-menu ul li a {
	color:#fff;
	font-size:1.05em;
	font-weight:400;
	padding:7px 0;
	text-decoration:none;
}
.top-menu ul li a.active {
	border-bottom:3px solid #1c9fda;	
}
.top-menu ul li a:hover {
	border-bottom:3px solid #1c9fda;	
}
.header-info {
	padding-top:3.5em;
}
.header-info h1 {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:3em;
	font-weight:500;
	letter-spacing:0.01em;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 3px;
}
.header-info p {
	color:#fff;
	font-size:1.35em;
	font-weight:300;
	line-height:1.7em;
	width:80%;
	margin:3em auto 4em;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 3px;
}
.contact{
    height:25px;
}
.services-section, .facts-section, .location-section{
	padding:1em 0;
}
testimonial-section-grids{
    margin-bottom:10px;
}
.testimonial-section-grids span
{
    font-size:22px;
    font-weight:600;
    color:#303030;
}
.services-section-head h3, .testimonial-section-grids h3, .projects-section-head h3, .facts-section-head h3, .location-section-head h3 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 2em;
    font-weight: 400;
    font-kerning: auto;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    margin-bottom:35px;
}
.services-section-grids, .projects-section-grids, .facts-section-grids, .location-section-grids  {
	margin-top:2em;
    margin-bottom:2em;
}
.service-icon{
	float:left;
	/*width:18%;*/
	margin-right:1%;
}
.service-icon-heading{
	float:left;
	width:78%;
	/*margin-top: 1.2em;*/
}
.testimonial-icon-heading
{
    margin-top: 0em;
}
.service-icon-heading h4{
	color:#666;
	font-family: 'Open Sans', sans-serif;
	font-size:1.3em;
	font-weight:600;
    display:inline;
}
.services-section-grid p, .testimonial-section-grids p{
	color:#878787;
	font-size:0.8em;
	line-height:1.8em;
	font-weight:400;
	margin-top:1em;
}
.testimonial-section-grids p
{
    margin-top:0px;
    margin-bottom:10px;
}
.services-section-grid, .projects-section-grid {
	/*margin-top:3em;*/
}

.testimonial-icon-heading h4{
    font-weight:600;
}
.testimonial-icon-heading h2{
    font-size:13px;
    margin-top:5px;
    font-weight:500;
    margin-bottom:2px;
}
i.event {
	width:32px;
	height:32px;
	/*background: url('Images/1429105454_cutlery.png') no-repeat 0px 0px;*/
	display:inline-block;
}
i.needs {
	width:32px;
	height:32px;
	background: url('Images/1429105570_paper-plane-1-32.png') no-repeat 0px 0px;
	display:inline-block;
}
i.businesshrs {
	width:32px;
	height:32px;
	background: url('Images/facts_businessHrs.png') no-repeat 0px 0px;
	display:inline-block;
}
i.projects {
	width:32px;
	height:32px;
	background: url('Images/facts_projects.png') no-repeat 0px 0px;
	display:inline-block;
}
i.offers {
	width:32px;
	height:32px;
	background: url('Images/facts_offers.png') no-repeat 0px 0px;
	display:inline-block;
}
i.price {
	width:32px;
	height:32px;
	background: url('Images/facts_price.png') no-repeat 0px 0px;
	display:inline-block;
}
.projects-section, .gallery-section {
    padding: 1em 0;
    background-color: #ECECEC;
}

.projects-section-grid-head, .gallery-section-grid-head{
    box-sizing: border-box;
color: #333;
float:left;
font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 14px;
line-height: 20px;
margin-bottom: 35px;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
position: relative;
text-align: center;
width: 320px;
background-color:#fff;
min-height:179px;

}
.projects-section-grid-head h3, .projects-section-grid-head h3{
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}
.projects-section-grid-head-tittle{
    border-bottom:1px solid #ADADAD;
    padding-bottom:10px;
}
.projects-section-grid-head-body{
    font-size:11px;
}

.facts-section-grid-head{
    display:inline-block;
    width:100%;
}
.facts-section-grid-head h4{
    color:#000;
    border-bottom:1px solid #ADADAD;
    padding-bottom:5px;
    margin-top:2px;
}
.facts-icon-heading ul{
    margin-left:-35px;
}
.facts-icon-heading ul li{
    list-style:none;
    line-height:30px;
    font-weight:400;
}
.facts-icon-heading{
    float:left;
    padding-right:10px;
    max-width:90%;
}
pre{
    padding:0px;
    background-color:none;
    font-family:'Open sans', sans-serif;
    border:none;
    display:inline-block;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
/*white-space: normal;*/
}
.indivisual-ratting-number
{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display:inline;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    padding:2px 3px;
}
.ratting-number{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    margin-top:5px;
    padding:8px 20px;
}
.ratting-text
{
    font-size:13px;
    color:#fff; 
    padding-top:3px; 
    padding-left:5px;
    display:inline-block;
    font-weight:500;
    margin-right:5px;
}
/*Temp*/
#lightGallery
{
    margin-left:-38px;
    margin-top:5px;
    cursor:pointer;
}
#lightGallery li
{
    list-style:none;
    display:inline-block;
}
.showThumbByDefault #lg-gallery.open .lg-slide {
    padding-bottom: 120px;
}
.showThumbByDefault #lg-gallery .thumb-cont .thumb-info{
    display:none;
}
/*/ actions */
.showThumbByDefault #lg-action {
    position: static;
}
.showThumbByDefault #lg-action a {
    margin-top: -14px !important;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    background-color: transparent;
    font-size: 28px;
}
.showThumbByDefault #lg-action a#lg-prev {
    left: 17px;
}
.showThumbByDefault #lg-action a#lg-next {
    right: 17px;
}







.footer-top {
	padding:4em 0;
	background:#323232;
}
.footer-grid h4 {
	color:#9C9C9C;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing:1px;
	margin-bottom: 15px;
}
.footer-grid p {
	color:#f6f5f5;
	line-height: 1.8em;
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
}
.services-section ul {
    margin-left:0px;
}
.footer-grid ul{
    margin-left:-35px;
}
.footer-grid ul li {
	list-style-type:none;
	/*margin-bottom:5px;*/
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
	color:#75787C;
}
.footer-grid ul.address li,.footer-grid ul.flkr li  {
	display:inline-block;
}
.footer-grid ul li a {
	font-size: 0.95em;
	font-weight: 600;
	letter-spacing:1px;
	color:#75787C;
	text-decoration:none;
}
.footer-grid ul li a:hover {
	color:#000;
}
i.f_phone {
	width:25px;
	height:25px;
	background: url('Images/img-sprite.png') no-repeat -860px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_msg {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -885px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_location {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -910px 0px;
	display: inline-block;
	vertical-align: super;
}
.footer-grid ul.flkr li img  {
	width:100%
}
.footer-grid ul.flkr li {
	margin: 0 2% 2% 0;
	width: 23%;
	float: left;
}
h4.title
{
    color:#9C9C9C;
    font-size:18px;
    margin-bottom:3px;
}

.social-icons i {
	width:30px;
	height:30px;
	background: url('Images/img-sprite.png') no-repeat 0px 0px;
	display: inline-block;	
	/*margin:0 2.5em;*/
}
.social-icons i:hover {
	opacity:0.5;
}
i.f_facebook {
	background-position: -935px 0px;
}
i.f_youtube {
	background-position: -995px 0px;
}
i.f_linkedin {
	background-position: -1025px 0px;
}
i.f_googlepluse {
	background-position: -1115px 0px;
}
@media screen and (max-width: 1366px) { 
	.contact-section-head h3 {
		background: url('images/head_down.png') no-repeat 541px 50px;
		padding-bottom: 1.2em;
	}
	.services-section-head h3,.our-team-head h3,.pricing-section-head h3,.blog-section-head h3 {
		/*padding-bottom: 1.2em;
		background: url('Images/head_down.png') no-repeat 450px 50px;*/
	}
	.header {
		min-height: 300px;
	}
	.header-info h1 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.header-info p {
		margin: 0.5em auto 0.5em;
		font-size: 1em;
	}
	.services-section-grid p {
		margin-top: 0.5em;
	}
	.services-section {
		/*padding: 4em 0;*/
	}
	.projects-section {
		/*padding: 4em 0 0 0;*/
	}
	.about-section {
		padding: 4em 0;
	}
	.our-team {
		padding-top: 4em;
	}
	.about-top {
		padding: 3em 0;
	}
	.subscribe {
		min-height: 232px;
	}
	.pricing-section {
		padding: 4em 0;
	}
	.blog-section {
		padding: 4em 0;
	}
	.contact-section {
		padding: 5em 0;
	}
	.map iframe {
		min-height: 500px;
	}
	.map {
		margin: 2em 0 3em 0;
	}
	.clients {
		padding: 3em 0;
	}
}

/*Review Textbox*/
.review-form-textarea {
    background-color: #FFF;
    border-bottom-color: #CBCBCB;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #CBCBCB;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CBCBCB;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #CBCBCB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: #000;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    font-size: 13.3333px;
    font-weight: 400;
    height: 180px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: #000;
    outline-style: none;
    outline-width: 0px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 6px;
    position: relative;
    resize: vertical;
    text-rendering: optimizelegibility;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: border-color;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    vertical-aligntopz-index: 10;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}