﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f8f7f7;
}
.header {
	background-color:#2D2D2D;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:28px;
}
.header-top {
	padding:0.5em 0;
}

.logo {
	float:left;
}
.logo img {
        /*margin-top: 2px;*/
}
.top-menu {
	float:right;
}
.top-menu ul li {
	display:inline-block;
	margin:0 14px;
}
.top-menu ul li a {
	color:#fff;
	font-size:1.05em;
	font-weight:400;
	padding:7px 0;
	text-decoration:none;
}
.top-menu ul li a.active {
	border-bottom:3px solid #1c9fda;	
}
.top-menu ul li a:hover {
	border-bottom:3px solid #1c9fda;	
}

.search_container
{
    width:500px; 
    background-color:whitesmoke; 
    border:1px solid #808080; 
    border-radius:4px; 
    height:35px;
    margin-left:10px;
    margin-bottom:0px;
    /*margin-top:2px;*/
    float:left;
}
.search_container input[type="text"] {
	width: 195px;
    padding-left:5px;
	font-size: 0.9em;
	font-weight: 600;
	color: #808080;
	outline: none;
	background: none;
	border:0px solid #fff;
    height:33px;
    font-weight:500;
}

.search_btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1c9fda;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    height: 33px;
    line-height: 35px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width:90px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
}
.datalist{
    margin-top:15px;
}
.sponser
{
    width:38%;
    /*border-left:1px solid #75787C;*/
    float:right;
    vertical-align:top;
    display:inline-block;
}
.data{
    width:75%;
    display:inline-block;
}
.data-header{
    
    margin-bottom:5px;
    border-bottom:1px solid #ECE7DB;
}
.spName{
    font-size:23px;
    font-weight:600;
    display:inline-block;
    margin-bottom:3px;
    margin-top:15px;
    letter-spacing:0.01em;
}
.search-resultCount{
    font-size:12px;
    margin-bottom:3px;
    font-weight:600;
    display:block;
}
.section-each
{
    margin-left:auto;
    margin-right:auto;
    padding-left:0px;
    padding-right:0px;
    margin-top:10px;
    margin-bottom:10px;
}
.ratting
{
    display:block;
    height:28px;
    margin-bottom:8px;
}
.ratting-text
{
    font-size:13px;
    color:#837d7d; 
    padding-top:3px; 
    padding-left:5px;
    display:inline-block;
    font-weight:600;
}
.verification{
   display:inline-block;
   
   margin-left:8px;
}
.verification img{
    margin-top:-5px;
}
.verification span{
    font-size:13px;
    color:#129310;
    margin-left:5px;
    margin-top:-5px;
    font-weight:600;
}
.ratting-number{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    margin-left:0px;
    padding:4px 12px;
}
/*Temp*/
#lightGallery
{
    margin-left:-38px;
    margin-top:5px;
    cursor:pointer;
}
#lightGallery li
{
    list-style:none;
    display:inline-block;
}
.showThumbByDefault #lg-gallery.open .lg-slide {
    padding-bottom: 120px;
}
.showThumbByDefault #lg-gallery .thumb-cont .thumb-info{
    display:none;
}
/*/ actions */
.showThumbByDefault #lg-action {
    position: static;
}
.showThumbByDefault #lg-action a {
    margin-top: -14px !important;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    background-color: transparent;
    font-size: 28px;
}
.showThumbByDefault #lg-action a#lg-prev {
    left: 17px;
}
.showThumbByDefault #lg-action a#lg-next {
    right: 17px;
}

.projectsLists{
    margin-left:-38px;
}
.projectsLists li{
    list-style:none;
    margin-left:auto;
    /*display:inline-block;*/
    float:left;
    width:150px;
    text-align:center;
    font-size:11px;
}
.projectsLists li img
{
    text-align:center;
}


/*Temp Ends*/
#review-text{
    margin-left:-38px;
}
#review-text li{
    list-style:none;
}

.review-header{
    font-size:15px;
}
#rattingdetails{
    font-size:11px;
    color:#838181;
}
.indivisual-ratting-number{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    /*float: left;*/
    display:inline;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    margin-left:0px;
    padding:2px 6px;
}
.review-header{
    background-color:#F4F4F4;
    border:2px solid #E9E9E9;
    border-radius:4px;
    padding-left:10px;
    padding-top:4px;
    padding-bottom:4px;
    width:600px;
}
.reviewedOn{
    display:inline-block;
    margin-left:5px;
}
pre{
    width:600px;
    background-color:none;
    font-family:Verdana;
    border:none;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
/*white-space: normal;*/
}
.footer-top {
	padding:4em 0;
	background:#323232;
}
.footer-grid h4 {
	color:#9C9C9C;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing:1px;
	margin-bottom: 15px;
}
.footer-grid p {
	color:#f6f5f5;
	line-height: 1.8em;
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
}
.services-section ul {
    margin-left:0px;
}
.footer-grid ul{
    margin-left:-35px;
}
.footer-grid ul li {
	list-style-type:none;
	/*margin-bottom:5px;*/
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
	color:#75787C;
}
.footer-grid ul.address li,.footer-grid ul.flkr li  {
	display:inline-block;
}
.footer-grid ul li a {
	font-size: 0.95em;
	font-weight: 600;
	letter-spacing:1px;
	color:#75787C;
	text-decoration:none;
}
.footer-grid ul li a:hover {
	color:#000;
}
i.f_phone {
	width:25px;
	height:25px;
	background: url('Images/img-sprite.png') no-repeat -860px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_msg {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -885px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_location {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -910px 0px;
	display: inline-block;
	vertical-align: super;
}
.footer-grid ul.flkr li img  {
	width:100%
}
.footer-grid ul.flkr li {
	margin: 0 2% 2% 0;
	width: 23%;
	float: left;
}
h4.title
{
    color:#9C9C9C;
    font-size:18px;
    margin-bottom:3px;
}

.social-icons i {
	width:30px;
	height:30px;
	background: url('Images/img-sprite.png') no-repeat 0px 0px;
	display: inline-block;	
	/*margin:0 2.5em;*/
}
.social-icons i:hover {
	opacity:0.5;
}
i.f_facebook {
	background-position: -935px 0px;
}
i.f_youtube {
	background-position: -995px 0px;
}
i.f_linkedin {
	background-position: -1025px 0px;
}
i.f_googlepluse {
	background-position: -1115px 0px;
}
.filterMore{
    display: block;
    width: 500px; 
    position: absolute; 
    top: 98px; 
    height: 200px; 
    background-color: #ffffff; 
    left: 250px; 
    border: 1px medium #808080; 
    border-radius:0px 0px 2px 2px; 
    background-clip: padding-box; 
    border-color: rgba(0, 0, 0, 0.15); 
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px; 
    box-sizing: border-box; 
    color: #333; 
    float: none;
}
.filterMoreDisabled{
    display: none;
    width: 500px; 
    position: absolute; 
    top: 100px; 
    height: 200px; 
    background-color: #ffffff; 
    left: 250px; 
    border: 1px medium #808080; 
    border-radius:0px 0px 2px 2px; 
    background-clip: padding-box; 
    border-color: rgba(0, 0, 0, 0.15); 
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px; 
    box-sizing: border-box; 
    color: #333; 
    float: none;
}