﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f8f7f7;
}
.header {
	background: url('Images/header-bg.jpg') no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:628px;
}
.header-top {
	padding:1.5em 0;
}
.logo {
	float:left;
}
.top-menu {
	float:right;
}
.top-menu ul li {
	display:inline-block;
	margin:0 14px;
}
.top-menu ul li a {
	color:#fff;
	font-size:1.05em;
	font-weight:400;
	padding:7px 0;
	text-decoration:none;
}
.top-menu ul li a.active {
	border-bottom:3px solid #1c9fda;	
}
.top-menu ul li a:hover {
	border-bottom:3px solid #1c9fda;	
}
.header-info {
	padding-top:6em;
}
.header-info h1 {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:3.2em;
	font-weight:600;
	letter-spacing:0.01em;
}
.header-info p {
	color:#fff;
	font-size:1.35em;
	font-weight:300;
	line-height:1.7em;
	width:80%;
	margin:3em auto 4em;
}
.location-select{
     border-width:1px; border-color:#fff; border-style:solid; 
     font-size:14px; padding:6px; padding-left:34px;
     border-radius:3px 0px 0px 3px;
     display:inline-block;
     float:left;
     height:43px;
     width:350px;
     background-image: url(Images/mylocation.png);
     background-repeat:no-repeat;
     background-position:10px 13px;
}
.location-select-right{
     border-width:1px; border-color:#fff; border-style:solid; font-size:14px; padding:6px; padding-left:34px;
     border-radius:1px;
     display:inline-block;
     float:left;
     height:43px;
     width:350px;
     margin-left:3px;
     background-image: url(Images/search.png);
     background-repeat:no-repeat;
     background-position:10px 13px;
}
.location-select-disable, .search-suggestion-disable {
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
    color: #333;
    cursor: pointer;
    display: none;
    line-height: 14.6667px;
    min-height: 124px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    text-rendering: optimizelegibility;
    top: 275px;
    margin-left:153px;
    width: 350px;
    z-index: 1;
}
.location-select-active, .search-suggestion-active {
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
    color: #333;
    cursor: pointer;
    display: block;
    line-height: 14.6667px;
    min-height: 124px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    text-rendering: optimizelegibility;
    top: 275px;
    width: 350px;
    margin-left:153px;
    z-index: 1;
}
.search-suggestion-active{
    margin-left:506px;
}
.location-select-active ul, .search-suggestion-active ul{
    margin-left:-40px;
}
.location-select-active ul li, .search-suggestion-active ul li{
    list-style:none;
    font-size:13px; 
    text-align:left;
    line-height:28px;
    color: #808080;
    font-weight:500;
    display:block;
    padding-left:5px;
    margin-top:2px;
}
.location-select-active ul li:hover, .search-suggestion-active ul li:hover {
        background-color:#d9d8d8;
 }
/*.search_container input[type="text"] {
	width: 70%;
	padding-top: 12px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:12px;
	border: none;
	font-size: 1em;
	font-weight: 600;
	color: #808080;
	outline: none;
	background: none;
	font-weight: 300;
	border:0px solid #fff;
	margin-left:5px;
    /*border:0px solid #808080;*/

    /*float:left;
    font-family: "open_sansregular",Tahoma,Geneva,sans-serif;
    list-style-type: none;
    margin-left: 0px;
    position: relative;
    width: 349px;*/

/*}*/
.search_container
{
    /*max-width:650px; 
    background-color:whitesmoke; 
    border:1px solid #808080; 
    border-radius:4px; 
    height:52px;
    margin:auto;*/

    max-width:850px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("Images/trans.png");
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 9px -4px;
/*font-family: "open_sansregular",Tahoma,Geneva,sans-serif;*/
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    -moz-user-select: none;
    margin:auto;
    height:60px;
}
.search_btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1c9fda;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    /*line-height: 44px;*/
    line-height: 43px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 127px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
}
.services-section{
	padding:3em 0;
}
testimonial-section-grids{
    margin-bottom:10px;
}
.testimonial-section-grids span
{
    font-size:22px;
    font-weight:600;
    color:#303030;
}
.services-section-head h3, .testimonial-section-grids h3{
	font-family: 'Roboto', sans-serif;
	color:#303030;
	font-size:2.25em;
	font-weight:700;
	background: url('Images/head_down.png') no-repeat 450px 55px;
	/*padding-bottom: 2em;*/	
}
.services-section-grids {
	/*margin-top:2.5em;*/
}
.service-icon{
	float:left;
	width:18%;
	margin-right:4%;
}
.service-icon-heading, .testimonial-icon-heading{
	float:left;
	width:78%;
	margin-top: 1.2em;
}
.testimonial-icon-heading
{
    margin-top: 0em;
}
.service-icon-heading h4{
	color:#1c9fda;
	font-family: 'Roboto', sans-serif;
	font-size:1.6em;
	font-weight:700;
}
.services-section-grid p, .testimonial-section-grids p{
	color:#878787;
	font-size:1em;
	line-height:1.8em;
	font-weight:400;
	margin-top:1em;
}
.testimonial-section-grids p
{
    margin-top:0px;
    margin-bottom:10px;
}
.services-section-grid {
	/*margin-top:3em;*/
}

.testimonial-icon-heading h4{
    font-weight:600;
}
.testimonial-icon-heading h2{
    font-size:13px;
    margin-top:5px;
    font-weight:500;
    margin-bottom:2px;
}
i.event {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
}
i.needs {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -60px 0px;
	display:inline-block;
}
i.gender {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -120px 0px;
	display:inline-block;
}
i.photo {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -180px 0px;
	display:inline-block;
}
i.education {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -240px 0px;
	display:inline-block;
}
i.project {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -300px 0px;
	display:inline-block;
}
.subscribe input[type="text"] {
	width: 30%;
	padding: 12px;
	border: none;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	outline: none;
	background: none;
	font-weight: 300;
	border:1px solid #fff;
	margin-right:13px;
}
.subscribe input[type="submit"] {
	color: #303030;
	background: #fff;
	padding: 13px 23px;
	font-size: 1em;
	outline: none;
	border: none;
	font-weight: 500;
	text-transform:uppercase;
}
.subscribe input[type="submit"]:hover {
	background:#303030;
	color:#fff;
}
.subscribe {
	/*background: url('../images/subscribe_bg.jpg') no-repeat 0px 0px;*/
    background-color:#0A7D9C;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height: 280px;
}
.subscribe h3 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 18px;
	padding-top:0.8em;
}
.footer-top {
	padding:4em 0;
	background:#323232;
}
.footer-grid h4 {
	color:#9C9C9C;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing:1px;
	margin-bottom: 15px;
}
.footer-grid p {
	color:#f6f5f5;
	line-height: 1.8em;
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
}
.services-section ul {
    margin-left:0px;
}
.footer-grid ul{
    margin-left:-35px;
}
.footer-grid ul li {
	list-style-type:none;
	/*margin-bottom:5px;*/
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
	color:#75787C;
}
.footer-grid ul.address li,.footer-grid ul.flkr li  {
	display:inline-block;
}
.footer-grid ul li a {
	font-size: 0.95em;
	font-weight: 600;
	letter-spacing:1px;
	color:#75787C;
	text-decoration:none;
}
.footer-grid ul li a:hover {
	color:#000;
}
i.f_phone {
	width:25px;
	height:25px;
	background: url('Images/img-sprite.png') no-repeat -860px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_msg {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -885px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_location {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -910px 0px;
	display: inline-block;
	vertical-align: super;
}
.footer-grid ul.flkr li img  {
	width:100%
}
.footer-grid ul.flkr li {
	margin: 0 2% 2% 0;
	width: 23%;
	float: left;
}
h4.title
{
    color:#9C9C9C;
    font-size:18px;
    margin-bottom:3px;
}

.social-icons i {
	width:30px;
	height:30px;
	background: url('Images/img-sprite.png') no-repeat 0px 0px;
	display: inline-block;	
	/*margin:0 2.5em;*/
}
.social-icons i:hover {
	opacity:0.5;
}
i.f_facebook {
	background-position: -935px 0px;
}
i.f_youtube {
	background-position: -995px 0px;
}
i.f_linkedin {
	background-position: -1025px 0px;
}
i.f_googlepluse {
	background-position: -1115px 0px;
}
@media screen and (max-width: 1366px) { 
	.contact-section-head h3, .projects-section-head h3 {
		background: url('images/head_down.png') no-repeat 541px 50px;
		padding-bottom: 1.2em;
	}
	.services-section-head h3,.our-team-head h3,.pricing-section-head h3,.blog-section-head h3 {
		padding-bottom: 1.2em;
		background: url('Images/head_down.png') no-repeat 450px 50px;
	}
	.header {
		min-height: 523px;
	}
	.header-info h1 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.header-info p {
		margin: 2em auto 3em;
		font-size: 1.3em;
	}
	.services-section-grid p {
		margin-top: 0.5em;
	}
	.services-section {
		/*padding: 4em 0;*/
	}
	.projects-section {
		padding: 4em 0 0 0;
	}
	.about-section {
		padding: 4em 0;
	}
	.our-team {
		padding-top: 4em;
	}
	.about-top {
		padding: 3em 0;
	}
	.subscribe {
		min-height: 232px;
	}
	.pricing-section {
		padding: 4em 0;
	}
	.blog-section {
		padding: 4em 0;
	}
	.contact-section {
		padding: 5em 0;
	}
	.map iframe {
		min-height: 500px;
	}
	.map {
		margin: 2em 0 3em 0;
	}
	.clients {
		padding: 3em 0;
	}
}

.autocomplete-suggestions { 
    /*border: 1px solid #999;*/ 
    background: #FFF; 
    overflow: auto; 
    width:353px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
    color: #333;
    cursor: pointer;

}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; padding:5px; font-size:12.5px;color: #9C9C9C; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #333; font-weight:700; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }