﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f8f7f7;
}
.header {
	background-color:#2D2D2D;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:28px;
}
.header-top {
	padding:0.5em 0;
}

.logo {
	float:left;
}
.logo img {
        margin-top: 4px;
}
.top-menu {
	float:right;
}
.top-menu ul li {
	display:inline-block;
	margin:0 14px;
}
.top-menu ul li a {
	color:#fff;
	font-size:1.05em;
	font-weight:400;
	padding:7px 0;
	text-decoration:none;
}
.top-menu ul li a.active {
	border-bottom:3px solid #1c9fda;	
}
.top-menu ul li a:hover {
	border-bottom:3px solid #1c9fda;	
}
.search_container input[type="text"] {
	width: 195px;
    padding-left:5px;
	/*padding-top: 5px;
    
    padding-right:5px;
    padding-bottom:5px;
	border: none;*/
	font-size: 0.9em;
	font-weight: 600;
	color: #808080;
	outline: none;
	background: none;
	border:0px solid #fff;
	/*margin-left:5px;*/
    height:33px;
    font-weight:500;
    /*border:0px solid #808080;*/
}
.search_container
{
    width:500px; 
    background-color:whitesmoke; 
    border:1px solid #808080; 
    border-radius:4px; 
    height:35px;
    margin-left:10px;
    margin-bottom:0px;
    margin-top:4px;
    float:left;
}
.search_btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1c9fda;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    height: 33px;
    line-height: 35px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width:90px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
}
.filter-search{
    background-color: #FFF;
box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px -3px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:28px;
}

.filter-search-header{
    font-weight:600;
    color:#808080;
    font-size:14px;
    width:100px;
    float:left;
}
/*.filter-search-details ul li{
    display:inline;
	margin:0 14px;
    /*min-width:500px;
    font-size:13px;
}*/
.filter-search-details ul li img {
	margin-left:8px;
    cursor:pointer;
    opacity:0.5;
}
.filter-search-details ul li img:hover{
    opacity:0.8;
}
.datalist{
    margin-top:15px;
}
.data-container ul#data-list
{
    /*width:100%;*/
    margin-left:-38px;
}
.data-container ul.pagination
{
    /*width:100%;*/
    margin-left:0px;
}
.data-container ul#data-list li
{
    list-style:none;
    margin-top:5px;
    border-bottom:1px solid #ccc;
    height:150px;
    width:100%;
}
.data-container ul#data-list li p{
    color:#13719c;
    font-weight:600;
    margin-bottom:3px;
    font-size:16px;
    cursor:pointer;
}
.ratting
{
    display:block;
    height:28px;
}
.ratting-text
{
    font-size:11px;
    color:#837d7d; 
    padding-top:3px; 
    padding-left:5px;
    display:inline-block;
}
.verification{
   display:inline-block;
   
   margin-left:8px;
}
.verification img{
    margin-top:-5px;
}
.verification span{
    font-size:11px;
    color:#129310;
    margin-left:5px;
    margin-top:-5px;
}
.data-container .address{
    font-size:12px;
}
.data-container .deals{
    font-size:12px;
    margin-bottom:5px;
}
.data-container .ratting-number{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    margin-left:0px;
    padding:1px 6px;
}

.statistics{
    font-size:12px;
    margin-top:10px;
    display:inline-block;
}
.statistics img
{
    margin-right:5px;
}
.ratting-number:hover
{
    opacity:0.8;
}

.data{
    width:60%;
    display:inline-block;
}
.data-header{
    height:80px;
    margin-bottom:5px;
    border-bottom:1px solid #9c9b9b;
}
.search-nav{
    font-size:11px;
    font-weight:600;
    display:block;
    margin-bottom:5px;
}
.search-header{
    font-size:19px;
    font-weight:600;
    display:block;
    margin-bottom:3px;
}
.search-resultCount{
    font-size:12px;
    margin-bottom:3px;
    font-weight:600;
}
.sponser
{
    width:38%;
    /*border-left:1px solid #75787C;*/
    float:right;
    vertical-align:top;
    display:inline-block;
}

.footer-top {
	padding:4em 0;
	background:#323232;
}
.footer-grid h4 {
	color:#9C9C9C;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing:1px;
	margin-bottom: 15px;
}
.footer-grid p {
	color:#f6f5f5;
	line-height: 1.8em;
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
}
.services-section ul {
    margin-left:0px;
}
.footer-grid ul{
    margin-left:-35px;
}
.footer-grid ul li {
	list-style-type:none;
	/*margin-bottom:5px;*/
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing:1px;
	color:#75787C;
}
.footer-grid ul.address li,.footer-grid ul.flkr li  {
	display:inline-block;
}
.footer-grid ul li a {
	font-size: 0.95em;
	font-weight: 600;
	letter-spacing:1px;
	color:#75787C;
	text-decoration:none;
}
.footer-grid ul li a:hover {
	color:#000;
}
i.f_phone {
	width:25px;
	height:25px;
	background: url('Images/img-sprite.png') no-repeat -860px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_msg {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -885px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_location {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -910px 0px;
	display: inline-block;
	vertical-align: super;
}
.footer-grid ul.flkr li img  {
	width:100%
}
.footer-grid ul.flkr li {
	margin: 0 2% 2% 0;
	width: 23%;
	float: left;
}
h4.title
{
    color:#9C9C9C;
    font-size:18px;
    margin-bottom:3px;
}

.social-icons i {
	width:30px;
	height:30px;
	background: url('Images/img-sprite.png') no-repeat 0px 0px;
	display: inline-block;	
	/*margin:0 2.5em;*/
}
.social-icons i:hover {
	opacity:0.5;
}
i.f_facebook {
	background-position: -935px 0px;
}
i.f_youtube {
	background-position: -995px 0px;
}
i.f_linkedin {
	background-position: -1025px 0px;
}
i.f_googlepluse {
	background-position: -1115px 0px;
}
.filterMore{
    display: block;
    width: 500px; 
    position: absolute; 
    top: 98px; 
    height: 200px; 
    background-color: #ffffff; 
    left: 250px; 
    border: 1px medium #808080; 
    border-radius:0px 0px 2px 2px; 
    background-clip: padding-box; 
    border-color: rgba(0, 0, 0, 0.15); 
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px; 
    box-sizing: border-box; 
    color: #333; 
    float: none;
}
.filterMoreDisabled{
    display: none;
    width: 500px; 
    position: absolute; 
    top: 100px; 
    height: 200px; 
    background-color: #ffffff; 
    left: 250px; 
    border: 1px medium #808080; 
    border-radius:0px 0px 2px 2px; 
    background-clip: padding-box; 
    border-color: rgba(0, 0, 0, 0.15); 
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px; 
    box-sizing: border-box; 
    color: #333; 
    float: none;
}
.arrow-up {
	width:0; 
	height:0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top:-11px;
    left:230px;
    position:relative;
	border-bottom: 10px solid #efeeee;
    

    /*border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #DA362A;
    float: left;
    height: 1px;
    margin-top: 3px;*/
}

.autocomplete-suggestions{background-color:#fff;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; padding:5px; font-size:12.5px;color: #9C9C9C; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #333; font-weight:700; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }



