﻿@using Microsoft.AspNet.Identity
@model Clown.UI.WebApp.Models.ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type='text/css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    @*<link href="~/Content/homeindex.css" rel="stylesheet" type='text/css' />*@
    <link href="~/Content/homesearch.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/homeindex.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container" style="min-height:329px">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <span class="search-nav" style="margin-top:5px;">Settings / Security</span>
                <span class="search-header" style="border-bottom:1px solid #f3f0f0; padding-bottom:10px;"><span class="glyphicon glyphicon-lock"></span> Change Password</span>
                
                @Html.ValidationSummary("", new { @class = "text-danger" })
                if (ViewData["Message"] != null)
                {
                    <div>@ViewData["Message"]</div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    @*<div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Useful Links</h4>
                    <ul>
                        <li><a href="#">Carpenters</a></li>
                        <li><a href="#">Interior Designers</a></li>
                        <li><a href="#">Furniture Stores</a></li>
                        <li><a href="#">Modular Kitchen</a></li>
                        <li><a href="#">Curtons</a></li>
                        <li><a href="#">Lightings</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Learn</h4>
                    <ul>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul><br />
                    <h4 class="title">Keep in touch</h4>
                    <div class="social-icons">
                        <a href="#"><i class="f_facebook"></i></a>
                        <a href="#"><i class="f_youtube"></i></a>
                        <a href="#"><i class="f_linkedin"></i></a>
                        <a href="#"><i class="f_googlepluse"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Contact Us</h4>
                    <ul class="address">
                        <li><i class="f_phone"></i></li>
                        <li>0123456789</li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_msg"></i></li>
                        <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_location"></i></li>
                        <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>*@
</body>
</html>
