﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BusinessDetails</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/BusinessDetails.css" rel="stylesheet" />
    <link href="~/Content/lightGallery.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="~/Scripts/BusniessDetails.js"></script>
    <script src="~/Scripts/lightGallery.min.js"></script>
    <script src="~/Scripts/DateFormatter.js"></script>
</head>
<body>
    <div class="header" id="home">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href="http://localhost:1075"><img src="~/Content/Images/logo.png" alt="" /></a>
                </div>
                <div class="top-menu">
                    <span class="menu"> </span>
                    <ul>
                        @*<li><a class="active scroll" href="#shortcodes">Bangalore</a></li>*@
                        <li><a class="active scroll" href="#contact">Log in</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-info text-center">
                <h1></h1>
                <p class="category"></p>
                <p class="contact"></p>
                <input type="hidden" id="ServiceProviderId" value="@ViewBag.ServiceProviderId" />
                @*<p>Price Range: Expensive (5Lakh for a complete 2BHK house)</p>*@
                @*<a class="scroll" href="#services"><img src="~/Content/Images/go_down.png" alt="" /></a>*@
            </div>
            <div class="header-bottom" style="line-height: 45px; border-top: 1px solid rgba(234, 234, 234, 0.25); width: 75%; margin: auto; padding-left:5px; padding-right:5px;">
                <div style="display:initial; color:#fff;"><a data-toggle="tooltip" data-original-title="Add to wishlist"><img src="~/Content/Images/wishlist.png" height="25" width="20" /></a></div>
                <div style="display: initial; color: #fff; margin-left:20px;"><img src="~/Content/Images/action_quote.png" height="30" width="25" data-toggle="tooltip" data-original-title="Request Quote" /></div>
                <div style="display: initial; color: #fff; margin-left:20px;"><img src="~/Content/Images/action_Review.png" height="30" width="25" data-toggle="tooltip" data-original-title="Write a review" /></div>
                <div style="float:right;">
                    <img id="verified" src="~/Content/Images/action_verified.png" height="30" width="32" data-toggle="tooltip" data-original-title="Verified" />
                    <div class="ratting-text" style=""></div>
                    <div class="ratting-number"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-part">
        <div class="services-section" id="services">
            <div class="container">
                <div class="services-section-head text-center">
                    <h3>Services offered</h3>
                </div>
                <div id="servicelist-container" class="container" style="margin-top:5px;">
                    @*<div class="services-section-grids row">
           <div class="col-md-3 services-section-grid">
        <div class="services-section-grid-head">
            <div class="service-icon">
                <i class="event"></i>
            </div>
            <div class="service-icon-heading">
                <h4>Modular Kitchen</h4>
                <p>Do in-depth research on the best</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-3 services-section-grid">
        <div class="services-section-grid-head">
            <div class="service-icon">
                <i class="needs"></i>
            </div>
            <div class="service-icon-heading">
                <h4>Interior Designing</h4>
                <p>Get and overall idea of the cost.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-3 services-section-grid">
        <div class="services-section-grid-head">
            <div class="service-icon">
                <i class="event"></i>
            </div>
            <div class="service-icon-heading">
                <h4>False Celling</h4>
                <p>Choose interior designs for your</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-3 services-section-grid">
        <div class="services-section-grid-head">
            <div class="service-icon">
                <i class="needs"></i>
            </div>
            <div class="service-icon-heading">
                <h4>Lighting</h4>
                <p>Choose interior designs for your.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
                    </div>*@
                </div>
                @*<div class="services-section-grids">
                    <div class="col-md-3 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="needs"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>Lighting</h4>
                                <p>Choose interior designs for your.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="event"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>Modular Kitchen</h4>
                                <p>Do in-depth research on the best</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="needs"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>Interior Designing</h4>
                                <p>Get and overall idea of the cost.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="event"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>False Celling</h4>
                                <p>Choose interior designs for your</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
            </div>
        </div>
        <div class="facts-section" id="facts">
            <div class="container">
                <div class="facts-section-head text-center">
                    <h3>Facts</h3>
                </div>
                <div class="facts-section-grids row">
                    <div class="col-md-4">
                        <div class="facts-section-grid-head">
                            <div class="service-icon">
                                <i class="price"></i>
                            </div>
                            <div class="facts-icon-heading">
                                <h4>Price range</h4>
                                <p class="price-text">Not Available</p>
                            </div>
                        </div>
                        <div class="facts-section-grid-head" style="margin-top:40px;">
                            <div class="service-icon">
                                <i class="offers"></i>
                            </div>
                            <div class="facts-icon-heading">
                                <h4>Running Offers</h4>
                                <p>Not Available</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="facts-section-grid-head">
                            <div class="service-icon">
                                <i class="businesshrs"></i>
                            </div>
                            <div class="facts-icon-heading">
                                <h4>Business Hours</h4>
                                <ul id="bisunesshrs">
                                    <li>Not Available</li>
                                    @*<li>Sun :10:30AM to 7:30PM</li>
                                    <li>Mon :10:30AM to 7:30PM</li>
                                    <li>Tue :10:30AM to 7:30PM</li>
                                    <li>Wed :10:30AM to 7:30PM</li>
                                    <li>Thr :10:30AM to 7:30PM</li>
                                    <li>Fri :10:30AM to 7:30PM</li>
                                    <li>Fri :10:30AM to 7:30PM</li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="facts-section-grid-head">
                            <div class="service-icon">
                                <i class="project"></i>
                            </div>
                            <div class="facts-icon-heading" style="max-width:80%;">
                                <h4 id="completedproject">Completed Projects</h4>
                                <p id="completedprojecttext" class="project-text" >Not Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-section" id="projects">
            <div class="container">
                <div class="projects-section-head text-center">
                    <h3>Recent Projects</h3>
                </div>
                <div class="projects-section-grids">
                    @*<div class="col-md-4">
                        <div class="projects-section-grid-head">
                            <div class="projects-section-grid-head-tittle">
                                <h3>3Bhk Complete Interior</h3>
                                <h5>White field</h5>
                            </div>
                            <div class="projects-section-grid-head-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="projects-section-grid-head">
                            <div class="projects-section-grid-head-tittle">
                                <h3>Interior designing for 2bhk house</h3>
                                <h5>Electronic City</h5>
                            </div>
                            <div class="projects-section-grid-head-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="projects-section-grid-head">
                            <div class="projects-section-grid-head-tittle">
                                <h3>Modular Kitchen and false-celling</h3>
                                <h5>Jaynagar</h5>
                            </div>
                            <div class="projects-section-grid-head-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="location-section" id="location">
            <div class="container">
                <div class="location-section-head text-center">
                    <h3>Location</h3>
                    <p class="location-text">HSR Layout, Bangalore, Karnataka, In</p>
                </div>
                <div class="location-section-grids">
                    <div id="map-canvas" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="gallery-section" id="projects">
            <div class="container">
                <div class="gallery-section-head text-center">
                    <h3>Gallery</h3>
                </div>
                <div class="gallery-section-grids">
                    <ul id="lightGallery">
                        @*<li data-src="../Content/Images/img1.jpg">
                            <img src="~/Content/Images/thumb1.jpg" />
                        </li>
                        <li data-src="../Content/Images/img2.jpg">
                            <img src="~/Content/Images/thumb2.jpg" />
                        </li>
                        <li data-src="../Content/Images/img3.jpg">
                            <img src="~/Content/Images/thumb3.jpg" />
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="testimonial" id="customerspeaks">
            <div class="container">
                <div class="testimonial-section-head text-center">
                    <h3>Recent Reviews</h3>
                </div>
                <div class="testimonial-section-grids">
                    @*<div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="testimonial-icon-heading">
                                <h4>Surendar R</h4>
                                <div style="font-size:12px;">Ratted <div class="indivisual-ratting-number">4.5</div> | Reviewed on 12 Mar 2015</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information. <span>"</span></p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <!--<div class="service-icon">
                            <i class="event"></i>
                        </div>-->
                            <div class="testimonial-icon-heading">
                                <h4>Rajib Rajbangshi,</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.<span>"</span></p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <!--<div class="service-icon">
                            <i class="event"></i>
                        </div>-->
                            <div class="testimonial-icon-heading">
                                <h4>Ashok Datti Kumar,</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.<span>"</span></p>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
                <div class="footer-top">
                    <div class="container row">
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Company</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Term of Use</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Useful Links</h4>
                            <ul>
                                <li><a href="#">Carpenters</a></li>
                                <li><a href="#">Interior Designers</a></li>
                                <li><a href="#">Furniture Stores</a></li>
                                <li><a href="#">Modular Kitchen</a></li>
                                <li><a href="#">Curtons</a></li>
                                <li><a href="#">Lightings</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Learn</h4>
                            <ul>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul><br />
                            <h4 class="title">Keep in touch</h4>
                            <div class="social-icons">
                                <a href="#"><i class="f_facebook"></i></a>
                                <a href="#"><i class="f_youtube"></i></a>
                                <a href="#"><i class="f_linkedin"></i></a>
                                <a href="#"><i class="f_googlepluse"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Contact Us</h4>
                            <ul class="address">
                                <li><i class="f_phone"></i></li>
                                <li>0123456789</li>
                            </ul>
                            <ul class="address">
                                <li><i class="f_msg"></i></li>
                                <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                            </ul>
                            <ul class="address">
                                <li><i class="f_location"></i></li>
                                <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--<div class="footer-bottom">
                    <div class="container">
                        <div class="copyright text-center">
                            <p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                        </div>
                    </div>
                </div>-->
            </div>
</body>
</html>
