﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/detail.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/lightGallery.css" rel="stylesheet" />
    
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/detail.js"></script>*@
    <script src="~/Scripts/JRate.js"></script>
    <script src="~/Scripts/HomeDetails.js"></script>
    <script src="~/Scripts/lightGallery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />
</head>
<body>
    @*Markup for header*@
    <div class="header" id="home">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href="http://localhost:1075"><img src="~/Content/Images/logo.png" alt="" /></a>
                </div>
                <div class="search_container">
                    <input id="location-select-txtbox" type="text" class="text" style="border-right:1px solid #808080;" value="City, Location, Landmark..." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'City, Location, Landmark...'; }">
                    <input id="seach-txtbox" type="text" class="text" value="Interior Designer, Carpenter..." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Interior Designer, Carpenter...'; }">
                    <div class="search_btn">SEARCH</div>
                </div>
                <div class="top-menu">
                    <span class="menu"> </span>
                    <ul>
                        @*<li><a class="active scroll" href="#shortcodes">Bangalore</a></li>*@
                        <li><a class="active scroll" href="#contact">Log in</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="datalist">
        <div class="container">
            <div class="data">
                <div class="data-header">
                    <div class="spName">Bonito Designs</div>
                    <div class="search-resultCount">080 32428866, www.bonitodesignss.com</div>
                    <div class="ratting"><div class="ratting-number">2</div><div class="ratting-text" style="">101 Reviews</div><div class="verification"><img src="~/Content/Images/verified.png" height="32" width="32" /><span id="verified-text">Verified</span></div></div>
                </div><input type="hidden" id="ServiceProviderId" value="@ViewBag.ServiceProviderId" />
                <div class="data-container">
                    <div id="Location" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Address</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;">
                            <div id="location-text" style="margin-top:5px;"><strong>Varthur</strong> Abbigere, Bangalore, Karnataka</div>
                            <div id="map-canvas" style="width:50%; height:300px; margin-top:5px;"></div>
                        </div>
                    </div>
                    <div id="Category" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Category</div>
                        <div id="category-text" style="color: #4D4D4D; font-size:13px; font-weight:500;">Interior Design House</div>
                    </div>
                    <div id="DealsIn" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Service Offered</div>
                        <div id="deal-text" style="color: #4D4D4D; font-size:13px; font-weight:500;">False Celling, Modular Kitchen, Full House Interior, Lightings</div>
                    </div>
                    <div id="BusinessHrs" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Business Hours</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;">
                            <ul id="businesshrs-text">
                                @*<li>Sunday: 10:00 AM to 7:30 PM</li>
                                <li>Monday: 10:00 AM to 7:30 PM</li>
                                <li>Tuesday: 10:00 AM to 7:30 PM</li>
                                <li>Wednesday: 10:00 AM to 7:30 PM</li>
                                <li>Thrusday: 10:00 AM to 7:30 PM</li>
                                <li><strong>Friday: 10:00 AM to 7:30 PM</strong></li>
                                <li>Saturday: 10:00 AM to 7:30 PM</li>*@
                            </ul>
                        </div>
                    </div>
                    <div id="PriceRange" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Price Range</div>
                        <div id="pricerange=text" style="color: #4D4D4D; font-size:13px; font-weight:500;">Expensive (5 Lakh for a 2bhk complete interior)</div>
                    </div>
                    <div id="GoodAt" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Service Highlights</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;">Modular Kitchen, False Celling</div>
                    </div>

                    <div id="Photos" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Photos</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;">
                            <ul id="lightGallery">
                                @*<li data-src="../Content/Images/img1.jpg">
                                    <img src="~/Content/Images/thumb1.jpg" />
                                </li>
                                <li data-src="../Content/Images/img2.jpg">
                                    <img src="~/Content/Images/thumb2.jpg" />
                                </li>
                                <li data-src="../Content/Images/img3.jpg">
                                    <img src="~/Content/Images/thumb3.jpg" />
                                </li>*@
                            </ul>
                        </div>
                    </div>
                    <div id="Projects" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Projects</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;">
                            <ul class="projectsLists">
                                @*<li><img src="~/Content/Images/thumb2.jpg" /><div>3bhk full house interior - Whitefield</div></li>
                                <li><img src="~/Content/Images/thumb1.jpg" /><div>2bhk full house interior - Hebbal</div></li>
                                <li><img src="~/Content/Images/thumb3.jpg" /><div>3bhk full house interior - Marthahalli</div></li>*@
                            </ul>
                            <div style="display:inline-block; margin-top:45px; font-size:12px; font-weight:600;">+10 More...</div>
                        </div>
                    </div>
                    <div id="YourReviews" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Pen down your opinion</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;"><div id="rattings" style="display:inline-block"></div><div id="ratting-number"></div><textarea id="urReview" class="form-control" rows="5" id="comment" style="resize:none; width:450px;"></textarea></div>
                    </div>
                    <div id="Reviews" class="container section-each">
                        <div style="text-transform: uppercase; color: #4D4D4D; font-size:14.5px; font-weight:700;">Popular Reviwes</div>
                        <div style="color: #4D4D4D; font-size:13px; font-weight:500;">
                            <ul id="review-text">
                                @*<li>
                                    <div>
                                        <div class="review-header">
                                            <div class="userName">Shrey Deshmukh</div>
                                            <div id="rattingdetails">Ratting <div class="indivisual-ratting-number">4.5</div><div class="reviewedOn">Reviwed on 4 Apr, 2015</div></div>
                                        </div>
                                        <div class="review-body"></div>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="sponser">
                @*<div id="map-canvas" style="width:100%; height:300px;"></div>*@
            </div>
        </div>
    </div>
    </div>
    @*Markup for footer*@
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Useful Links</h4>
                    <ul>
                        <li><a href="#">Carpenters</a></li>
                        <li><a href="#">Interior Designers</a></li>
                        <li><a href="#">Furniture Stores</a></li>
                        <li><a href="#">Modular Kitchen</a></li>
                        <li><a href="#">Curtons</a></li>
                        <li><a href="#">Lightings</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Learn</h4>
                    <ul>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul><br />
                    <h4 class="title">Keep in touch</h4>
                    <div class="social-icons">
                        <a href="#"><i class="f_facebook"></i></a>
                        <a href="#"><i class="f_youtube"></i></a>
                        <a href="#"><i class="f_linkedin"></i></a>
                        <a href="#"><i class="f_googlepluse"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Contact Us</h4>
                    <ul class="address">
                        <li><i class="f_phone"></i></li>
                        <li>0123456789</li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_msg"></i></li>
                        <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_location"></i></li>
                        <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>
