﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type='text/css' />
    <link href="~/Content/homeindex.css" rel="stylesheet" type='text/css' />
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/homeindex.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />
</head>
<body>
    <div class="header" id="home">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href="http://localhost:1075"><img src="~/Content/Images/logo.png" alt="" /></a>
                </div>
                <div class="top-menu">
                    <span class="menu"> </span>
                    <ul>
                        @*<li><a class="active scroll" href="#shortcodes">Bangalore</a></li>*@
                        <li><a class="active scroll" href="#contact">Log in</a></li>
                    </ul>
                </div>
                <!-- script-for-menu -->
                <!--<script>
                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle("slow", function () {
                        });
                    });
                </script>-->
                <!-- script-for-menu -->
                <div class="clearfix"></div>
            </div>
            <div class="header-info text-center">
                <h1>Find Interior Designers, Carpenters, Furniture shops near you.</h1>
                <div class="search_container">
                    <input id="location-select-txtbox" type="text" class="location-select" value="City, Location, Landmark.." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'City, Location, Landmark..'; }">
                    <input id="seach-txtbox" type="text" class="location-select-right" value="Carpenter, Interior Designers.." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Carpenter, Interior Designers..'; }">
                    <div id="searchbtn" class="search_btn">SEARCH</div>
                </div>
                <input type="hidden" id="locationCategory"/><input type="hidden" id="searchCategory" />
                <p>Over 10,000 business listed over 10 cities</p>
                <a class="scroll" href="#services"><img src="~/Content/Images/go_down.png" alt="" /></a>
                <div id="location" class="location-select-disable">
                    <ul>
                        <li>Current location</li>
                        <li>All of Bangalore</li>
                        <li>Koramangala</li>
                    </ul>
                </div>
                <div id="search-suggestion" class="search-suggestion-disable">
                    <ul>
                        <li>Current location</li>
                        <li>All of Bangalore</li>
                        <li>Koramangala</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-part">
        <div class="services-section" id="services">
            <div class="container">
                <div class="services-section-head text-center">
                    <h3>Services</h3>
                </div>
                <div class="services-section-grids">
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="event"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>Get Free Quotes</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Do in-depth research on the best offers around for all your interior needs. </p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="needs"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>Estimate</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Get and overall idea of the cost for your interior works with hust few clicks.</p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <div class="service-icon">
                                <i class="gender"></i>
                            </div>
                            <div class="service-icon-heading">
                                <h4>Choose</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Choose interior designs for your dream home form our thousands of collection.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="testimonial" id="customerspeaks">
            <div class="container">
                <div class="services-section-head text-center">
                    <h3>Happy customers</h3>
                </div>
                <div class="testimonial-section-grids">
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <!--<div class="service-icon">
                                <i class="event"></i>
                            </div>-->
                            <div class="testimonial-icon-heading">
                                <h4>Surendar R</h4>
                                <h2>Bangalore</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information. <span>"</span></p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <!--<div class="service-icon">
                                <i class="event"></i>
                            </div>-->
                            <div class="testimonial-icon-heading">
                                <h4>Rajib Rajbangshi,</h4>
                                <h2>Hosur</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.<span>"</span></p>
                    </div>
                    <div class="col-md-4 services-section-grid">
                        <div class="services-section-grid-head">
                            <!--<div class="service-icon">
                                <i class="event"></i>
                            </div>-->
                            <div class="testimonial-icon-heading">
                                <h4>Ashok Datti Kumar,</h4>
                                <h2>Chennai</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p><span>"</span>The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.<span>"</span></p>
                    </div>
                </div>
            </div>
            <div class="subscribe text-center" id="shortcodes">
                <div class="container">
                    <h3>Stay Connected</h3>
                    <input type="text" class="text" value="Leave your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Leave your email here';}">
                    <input type="submit" value="Subscribe">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Useful Links</h4>
                    <ul>
                        <li><a href="#">Carpenters</a></li>
                        <li><a href="#">Interior Designers</a></li>
                        <li><a href="#">Furniture Stores</a></li>
                        <li><a href="#">Modular Kitchen</a></li>
                        <li><a href="#">Curtons</a></li>
                        <li><a href="#">Lightings</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Learn</h4>
                    <ul>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul><br />
                    <h4 class="title">Keep in touch</h4>
                    <div class="social-icons">
                        <a href="#"><i class="f_facebook"></i></a>
                        <a href="#"><i class="f_youtube"></i></a>
                        <a href="#"><i class="f_linkedin"></i></a>
                        <a href="#"><i class="f_googlepluse"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Contact Us</h4>
                    <ul class="address">
                        <li><i class="f_phone"></i></li>
                        <li>0123456789</li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_msg"></i></li>
                        <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_location"></i></li>
                        <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--<div class="footer-bottom">
            <div class="container">
                <div class="copyright text-center">
                    <p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                </div>
            </div>
        </div>-->
    </div>
</body>
</html>
