﻿@model List<Clown.UI.MVCApp.Models.ServiceProviderDTO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/dropdowns-enhancement.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Content/homesearch.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/JPagePagination.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <!--<script src="Scripts/jquery.quick.pagination.min.js"></script>-->
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dropdowns-enhancement.js"></script>
    <script src="~/Scripts/jPages.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/homesearch.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />

    </head>
    <body>
        <div class="header" id="home">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <a href="http://localhost:1075"><img src="~/Content/Images/logo.png" alt="" /></a>
                    </div>
                    @*<div style="margin-left:5px; color:#ffffff;display:inline-block; float:left; margin-top:8px; cursor:pointer;" class="dropdown-toggle" id="category" data-toggle="dropdown">
                    Interior Designers<img src="~/Content/Images/arrowdown.png" height="20" width="20" />
                </div>*@
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="category" style="position:absolute;top:46px;left:auto;margin-left:130px;">
                        <li role="presentation" style="font-size:14px;"><a role="menuitem" tabindex="-1" href="#">Carpenters</a></li>
                        <li role="presentation" style="font-size:14px;"><a role="menuitem" tabindex="-1" href="#">Decor Houses</a></li>
                        <li role="presentation" style="font-size:14px;"><a role="menuitem" tabindex="-1" href="#">Interior Designers</a></li>
                        <li role="presentation" class="divider"></li>
                    </ul>-->
                    <div class="search_container">
                        <input id="location-select-txtbox" type="text" class="text" style="border-right:1px solid #808080;" value="City, Location, Landmark..." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'City, Location, Landmark...'; }">
                        <input id="seach-txtbox" type="text" class="text" value="Interior Designer, Carpenter..." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Interior Designer, Carpenter...'; }">
                        <div class="search_btn">SEARCH</div>
                    </div>
                    <div class="top-menu">
                        <span class="menu"> </span>
                        <ul>
                            @*<li><a class="active scroll" href="#shortcodes">Bangalore</a></li>*@
                            <li><a class="active scroll" href="#contact">Log in</a></li>
                        </ul>
                    </div>
                    <!-- script-for-menu -->
                    <!--<script>
                        $("span.menu").click(function () {
                            $(".top-menu ul").slideToggle("slow", function () {
                            });
                        });
    </script>-->
                <!-- script-for-menu -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
        <nav class="navbar navbar-default" style="box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px -3px; border-radius: 0px; background-color: #FFF;">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Refine result</a>
                </div>
                <div> 
                    <ul id="filter" class="nav navbar-nav">
                        @*<li>
                            <a class="dropdown-toggle" id="cost" data-toggle="dropdown" style="cursor:pointer;">
                                Cost&nbsp;&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu bullet" role="menu" aria-labelledby="cost">
                                <li><a href="#">Less than 1Lakh</a></li>
                                <li><a href="#">Rs 1lakh to 2Lakh</a></li>
                                <li><a href="#">Rs 2lakh to 3Lakh</a></li>
                                <li><a href="#">Rs 3lakh to 4Lakh</a></li>
                                <li><a href="#">More than 4lakh</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <div id="list" class="datalist">
                <div class="container">
                    <div class="data">
                        <div class="data-header">
                            <span class="search-nav">Home/Interior Designers/Koramangla</span>
                            <span class="search-header">Interior Designers in Koramangla</span>
                            <span class="search-resultCount"></span>
                        </div>
                        <div class="data-container">
                            <input type="hidden" id="locationCategory" value="@ViewBag.locationCategory" /><input type="hidden" id="searchCategory" value="@ViewBag.serachCategory" /><input type="hidden" id="location" value="@ViewBag.location" /><input type="hidden" id="search" value="@ViewBag.serach" />
                            <div id="ajax" style="margin:auto; margin-left:0px; margin-top:20px;"><img style="margin-left:300px;" src="~/Content/Images/ajax-loader.gif" /><span style="display:block; text-align:center;">Please wait while we load the result for you...</span></div>
                            <ul id="data-list">
                                @*<li>
                                    <p>Bonito Designs&nbsp;</p>
                                    <div class="ratting"><div class="ratting-number">4.5</div><div class="ratting-text" style="">101 Reviews</div><div class="verification"><img src="~/Content/Images/verified.png" height="20" width="20" /><span>Verified</span></div></div>
                                    <div class="deals"><span>Deals in > </span> Kitchen, Interior design</div>
                                    <div class="address">Located at > 2362, 24th Main Road, Sector 1, HSR Layout, Bengaluru, Karnataka</div>
                                    <div class="statistics">
                                        <div style="float:left;">
                                            <div style="color:#808080; font-size:12px; min-width:100px; display:inline-block;">Completed Projects</div>
                                            <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;">15</span>
                                        </div>
                                        <div style="float:left; margin-left:15px;">
                                            <span style="color:#808080; font-size:12px; width:100px; display:inline-block;">Total experience</span>
                                            <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;">5.6</span>
                                        </div>
                                        <div style="float:left; margin-left:15px;">
                                            <span style="color:#808080; font-size:12px; min-width:100px; display:inline-block;">Running Offers</span>
                                            <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;">2</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p>FabModula</p>
                                    <div class="ratting"><div class="ratting-number">4.5</div><div class="ratting-text" style="">101 Reviews</div></div>
                                    <div class="address">HSR Layout > 75/1, 7th Cross, Christ School Road, Bangalore 560029, Karnataka, INDIA</div>
                                    <div class="deals"><span>Deals in > </span> Kitchen, Interior design</div>
                                    <div class="statistics">
                                        <div style="float:left;">
                                            <div style="color:#808080; font-size:11px; width:100px; display:inline;">Projects completed</div>
                                            <span style="display:block; color: #514e4e; font-size: 16px; font-weight:600;">15</span>
                                        </div>
                                        <div style="float:left; margin-left:15px;">
                                            <span style="color:#808080; font-size:11px; width:100px; display:inline;">Total exp</span>
                                            <span style="display:block; color: #514e4e; font-size: 16px; font-weight:600;">5</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p>Bonito Designs</p>
                                    <div class="ratting"><div class="ratting-number">4.5</div><div class="ratting-text" style="">101 Reviews</div></div>
                                    <div class="address">HSR Layout > 2362, 24th Main Road, Sector 1, HSR Layout, Bengaluru, Karnataka</div>
                                    <div class="deals"><span>Deals in > </span> Kitchen, Interior design</div>
                                    <div class="statistics">
                                        <div style="float:left;">
                                            <img src="Images/project.png" height="20" width="20" />
                                            <div style="color:#808080; font-size:11px; width:100px; display:inline;">Projects completed</div>
                                            <span style="display:block; margin-left:28px; margin-top:-8px; color: #514e4e; font-size: 16px; font-weight:600;">15</span>
                                        </div>
                                        <div style="float:left; margin-left:15px;">
                                            <img src="Images/exp.png" height="22" width="22" />
                                            <span style="color:#808080; font-size:11px; width:100px; display:inline;">Total exp</span>
                                            <span style="display:block; margin-left:30px; margin-top:-9px; color: #514e4e; font-size: 16px; font-weight:600;">5</span>
                                        </div>
                                    </div>
                                </li>*@
                            </ul>
                            <ul id="pagination-demo"></ul>
                            <div class="holder">
                            </div>
                        </div>
                    </div>
                    <div class="sponser">
                        <div id="map-canvas" style="width:100%; height:300px;"></div>
                        <!--<div><iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d15555.372242562913!2d77.62438045!3d12.9178065!3m2!1i1024!2i768!4f13.1!2m1!1snearby+restaurants!5e0!3m2!1sen!2sin!4v1426540891390" width="425" height="200" frameborder="0" style="border:1px"></iframe></div>-->
                        @*<div>
                            <iframe style="width:100%; height:300px;" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=12.917793~77.622075&lvl=16&w=400&h=300&sty=r&typ=d&pp=&ps=&dir=0&mkt=en-in&src=SHELL&form=BMEMJS"></iframe>
                        </div>*@
                    </div>
                </div>
            </div>
        <div class="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Company</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Term of Use</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Useful Links</h4>
                            <ul>
                                <li><a href="#">Carpenters</a></li>
                                <li><a href="#">Interior Designers</a></li>
                                <li><a href="#">Furniture Stores</a></li>
                                <li><a href="#">Modular Kitchen</a></li>
                                <li><a href="#">Curtons</a></li>
                                <li><a href="#">Lightings</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Learn</h4>
                            <ul>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul><br />
                            <h4 class="title">Keep in touch</h4>
                            <div class="social-icons">
                                <a href="#"><i class="f_facebook"></i></a>
                                <a href="#"><i class="f_youtube"></i></a>
                                <a href="#"><i class="f_linkedin"></i></a>
                                <a href="#"><i class="f_googlepluse"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="title">Contact Us</h4>
                            <ul class="address">
                                <li><i class="f_phone"></i></li>
                                <li>0123456789</li>
                            </ul>
                            <ul class="address">
                                <li><i class="f_msg"></i></li>
                                <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                            </ul>
                            <ul class="address">
                                <li><i class="f_location"></i></li>
                                <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
</body>
</html>
