﻿@using Clown.UI.Admin.Models
@using System.Collections.Generic
@model UpdateOfferViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Offer</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UpdateOffer.css" rel="stylesheet" />
    @*<link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @*<link href="~/Content/themes/base/base.css" rel="stylesheet" />
        <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
        <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
        <link href="~/Content/themes/base/core.css" rel="stylesheet" />*@
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/UpdateOffer.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink("Business", "Index", "ServiceProvider", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink(Model.BusinessName, "Update", "ServiceProvider", new { id = Model.BusinessId }, new { @class = "btn btn-link btn-xs" })
            </div>
            <div class="row">
                <h3>Update Offer</h3>
                <div class="clearfix" style="margin-bottom:8px;"></div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <strong>Success !</strong> Offer details are modified.
                    </div>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("Update", "Offer", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.OfferId);
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OfferTittle, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.OfferTittle, new { @class = "form-control", placeholder = "Offer tittle", id = "offertittle" })
                                    @Html.ValidationMessageFor(m => m.OfferTittle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OfferDescription, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(m => m.OfferDescription, new { @class = "form-control", id = "offerdesc" })
                                    @Html.ValidationMessageFor(m => m.OfferDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control", placeholder = "5/12/2015", id = "offerstartdate" })
                                    @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "offerenddate" })
                                    @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IsActive, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control", id = "isactive" })
                                    @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">

                                <div class="col-sm-8">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success btn-login-submit" value="Save Details" />
                        @Html.ActionLink("Cancel", "Update", "ServiceProvider", new { id = Model.BusinessId }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
