﻿<div class="footer-links">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-company-desc"><p><span class="textWhiteBold">Decoreflick.com</span> is <span class="textWhiteBold">India's No 1</span> portal and has been adjudged as the most preferred property site in India, by independent surveys. The portal provides a platform for property buyers and sellers to locate properties of interest and source information on the real estate space in a transparent and unambiguous manner.</p></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="linkBlocks">
                    <h5>Social</h5>
                    <div>
                        <ul>
                            <li><i class="fa fa-facebook-square"></i>&nbsp;<a> Facebook</a></li>
                            <li><i class="fa fa-twitter"></i>&nbsp;<a> Twitter</a></li>
                            <li><i class="fa fa-youtube"></i>&nbsp;<a> Youtube</a></li>
                            <li><i class="fa fa-google-plus">&nbsp;</i><a> Google Plus</a></li>
                            <li><i class="fa fa-linkedin"></i>&nbsp;<a> Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="linkBlocks">
                    <h5>COMPANY</h5>
                    <div>
                        <ul>
                            <li><a>About Us</a></li>
                            <li><a>Team</a></li>
                            <li><a>Terms & Conditions</a></li>
                            <li><a>Privacy Policy</a></li>
                            <li><a>Customer Care</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-disclaimer">
    <div class="container">
        <div class="linkBlocks">
            <h5>DISCLAIMER</h5>
            <p>
                Decoreflick.com is only an intermediary offering its platform to facilitate the transactions between business and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Business and the Customer/Buyer/User. Magicbricks Realty Services Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Business and both Business and Customer/Buyer/User shall settle all such disputes without involving Company Name in any manner.
            </p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <p>All trademarks, logos and names are properties of their respective owners. All Rights Reserved. © Copyright 2016 Decoreflick.com.</p>
    </div>
</div>
<style>
    .footer-links {
        padding: 19px 0px 48px;
        height: 200px;
        overflow: hidden;
        background: #4D4C4C none repeat scroll 0% 0%;
        color: #ccc;
        font-size: 12px;
    }

    .footer-company-desc {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .textWhiteBold {
        color: #fff;
        font-weight: 600;
    }

    .linkBlocks h5 {
        color: #fff;
    }

    .linkBlocks ul {
        margin-left: -35px;
    }

        .linkBlocks ul li {
            list-style: none;
        }

            .linkBlocks ul li a {
                color: #ccc;
                line-height: 20px;
            }
            .linkBlocks ul li i{
                font-size:15px !important;
            }

    .footer-social-fb {
        background: transparent url("../Content/Images/glyphicons-social-31-facebook.png") no-repeat scroll;
        height: 15px;
        display: inline-block;
        position: relative;
        top: 4px;
        width: 15px;
        padding-right: 5px;
    }

    .footer-disclaimer {
        color: #999;
        background: #333 none repeat scroll 0% 0%;
        padding: 15px 0px;
        font-size: 12px;
    }

    .footer-copyright {
        font-size: 11px;
        color: #FFF;
        height: 50px;
        background: #000 none repeat scroll 0% 0%;
        border-top: 1px solid #DA251C;
        padding: 15px 0px;
    }
</style>
