﻿<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container" style="padding-left:0; padding-right:0; ">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="http://localhost:3063/" style="margin-left:0;"></a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse pull-left">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a id ="lnkCity" href="#" class="dropdown-toggle" data-toggle="dropdown">Bangalore <b class="caret"></b></a>
                    <ul id="cityList" class="dropdown-menu dropdown-menu-large row">
                        <li class="dropdown-header">Popular cities</li>
                        <li class="col-sm-3">
                            <ul>
                                <li><a>Bangalore</a></li>
                                <li><a href="#">Kolkata</a></li>
                                <li><a href="#">Gurgoan</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li><a href="#">Mumbai</a></li>
                                <li><a href="#">Chennai</a></li>
                                <li><a href="#">Hyderabad</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li><a href="#">Bhubaneswar</a></li>
                                <li><a href="#">Delhi</a></li>
                                <li><a href="#">Ahemadabad</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse pull-right" style="padding-right:0;">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li>

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right:0;">@User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">View Response</a></li>
                            <li><a href="#">My profile</a></li>
                            <li><a href="/Manage/Changepassword">Change password</a></li>
                            <li class="divider"></li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = Request.Url }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                {
                                    @Html.AntiForgeryToken();
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Signout</a>
                                }
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="/Account/Login" style="padding-right:0; color:#fff;">LOGIN</a></li>
                }
            </ul>

        </div>
    </div>
</nav>
