﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/TrackQuoteRequest.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/TrackQuoteRequest.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <span class="heading1">My Quote Requests</span>
            <table id="TblQuotesRequested" class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Request Date</th>
                        <th>Request Id</th>
                        <th>Total Views</th>
                        <th>Quotes submited</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                        <td>Mohsin</td>
                        <td>Irshad</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>+923335586757</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>
                    <tr>
                        <td>Mohsin</td>
                        <td>Irshad</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>+923335586757</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>
                    <tr>
                        <td>Mohsin</td>
                        <td>Irshad</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>isometric.mohsin@gmail.com</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>
                    <tr>
                        <td>Mohsin</td>
                        <td>Irshad</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>isometric.mohsin@gmail.com</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>
                    <tr>
                        <td>Mohsin</td>
                        <td>Irshad</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>isometric.mohsin@gmail.com</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>*@
                </tbody>
            </table>
            <br />
            <span id="HeadingQuoutes" class="heading1">Quotes for Request id: </span>
            <table id="TblQuotes" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Quote date</th>
                        <th>Quote id</th>
                        <th>Quote Amount</th>
                        <th>Valid till</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                    <td>Mohsin</td>
                    <td>Irshad</td>
                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                    <td>+923335586757</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                <tr>
                    <td>Mohsin</td>
                    <td>Irshad</td>
                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                    <td>+923335586757</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                <tr>
                    <td>Mohsin</td>
                    <td>Irshad</td>
                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                    <td>isometric.mohsin@gmail.com</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                <tr>
                    <td>Mohsin</td>
                    <td>Irshad</td>
                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                    <td>isometric.mohsin@gmail.com</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                <tr>
                    <td>Mohsin</td>
                    <td>Irshad</td>
                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                    <td>isometric.mohsin@gmail.com</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>*@
                </tbody>
            </table>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    
    
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Clown</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="login">
                                @Html.Partial("~/Views/Shared/_SignIn.cshtml")
                            </div>
                            <div id="Register">
                                @Html.Partial("~/Views/Shared/_Signup.cshtml")
                            </div>
                            <div id="ForgotPassword">
                                @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml")
                            </div>
                        </div>
                        <div style="height:230px; float:left; margin-top:5px; border-right:1px solid #cdcdcd; ">

                        </div>
                        <div id="loginright" class="col-xs-6" style="width:48%;">
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>
                                    <a href="#" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;">Login using Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-lg btn-info btn-block">Login using Google</a>
                                </li>
                                @*<li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>*@
                            </ul>
                            @*<p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>*@
                        </div>
                        <div id="signupright" class="col-xs-6" style="width:48%;">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete Request</h4>
                </div>
                <div class="modal-body">

                    <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Request?

                </div>
                <div class="modal-footer ">
                    <input type="hidden" id="hdnDeleteRequestId" />
                    <div id="DRerror-message" style="color:#ff0000;"></div>
                    <button id="btnDeleteRequest" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
