﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="~/Content/dropdowns-enhancement.css" rel="stylesheet" />
    <link href="~/Content/lightGallery.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Content/projects.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/JPagePagination.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <!--<script src="Scripts/jquery.quick.pagination.min.js"></script>-->
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jPages.min.js"></script>
    <script src="~/Scripts/Project.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/lightGallery.min.js"></script>
    
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div id="list" class="datalist main-part">
        <div class="container">
            <div class="filter-vertical">
                <div class="heading">
                    <span class="glyphicon glyphicon-filter"></span>
                    <span>FILTER</span>
                </div>
                <div class="filter-tab" id="filter-tab-cost">
                    <div class="fliter-item-heading">PROJECT COST<span class="glyphicon glyphicon-menu-down pull-right filter-carcet"></span></div>
                    <div id="filter-cost-set" class="filter-string"></div>
                    <div class="filter-items">
                        <ul id="filter-cost" class="filter-eachItems">
                            <li>Less than 3Lakhs</li>
                            <li>3Lakhs to 5lakhs</li>
                            <li>5Lakhs to 10Lakhs</li>
                            <li>More than 10Lakhs</li>
                        </ul>
                    </div>
                </div>
                <div class="filter-tab" id="filter-tab-area">
                    <div class="fliter-item-heading">AREA<span class="glyphicon glyphicon-menu-down pull-right filter-carcet"></span></div>
                    <div id="filter-area-set" class="filter-string"></div>
                    <div class="filter-items">
                        <ul id="filter-area" class="filter-eachItems">
                            
                        </ul>
                    </div>
                </div>
                <div class="filter-tab" id="filter-tab-housetype">
                    <div class="fliter-item-heading">HOUSE TYPE<span class="glyphicon glyphicon-menu-down pull-right filter-carcet"></span></div>
                    <div id="filter-housetype-set" class="filter-string"></div>
                    <div class="filter-items">
                        <ul id="filter-housetype" class="filter-eachItems">
                            <li>2 BHK</li>
                            <li>3 BHK</li>
                            <li>Villa</li>
                            <li>Commercial</li>
                        </ul>
                    </div>
                </div>
                <div class="filter-tab" id="filter-tab-projectstatus">
                    <div class="fliter-item-heading">PROJECT STATUS<span class="glyphicon glyphicon-menu-down pull-right filter-carcet"></span></div>
                    <div id="filter-projectstatus-set" class="filter-string"></div>
                    <div class="filter-items">
                        <ul id="filter-projectstatus" class="filter-eachItems">
                            <li>Completed</li>
                            <li>InProgress</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="data row">
                <div class="data-header">
                    <span class="search-nav">Home / BonitoDesigns</span>
                    <span class="search-header">Bonito Designs</span>
                    <span class="search-resultCount">20 Projects</span>
                </div>
                <div class="data-container">
                    <input type="hidden" id="spid" value="@ViewBag.SPid" />
                    @*<div id="ajax" style="margin:auto; margin-left:0px; margin-top:20px;"><img style="margin-left:300px;" src="~/Content/Images/ajax-loader.gif" /><span style="display:block; text-align:center;">Please wait while we load the result for you...</span></div>*@
                    <ul id="data-list">
                        @*<li class="listingcomponent">
                            <div id="projectSnippetWidget" class="project-snpt-wrp">
                                <div class="project-snpt-img">
                            <input type="hidden" value="2"/>
                                    <img src="~/Content/Images/img3.jpg" data-lightbox="roadtrip" class="project-thumb" />
                                </div>
                                <div id="" class="project-snpt-right-cont">
                                    <div class="pull-left">
                                        <span class="project-snpt-tittle">Mrs Archana</span>
                                        <span class="project-snpt-status"> Completed </span> 
                                        <div class="clearfix"></div>
                                        <p class="project-snpt-loc">
                                            Sarjapur Road, Bangalore
                                        </p>
                                        <p class="project-snpt-cost">Project cost <span class="emphasis"> 7 Lakhs</span></p>
                                        <p class="project-snpt-cost">House Type <span class="emphasis"> 2 BHK</span></p>
                                    </div>
                                </div>
                            </div>
                            
                        </li>*@
                        @*<li>
                <div style="height:50px;">
                    <div class="pull-left" style="width:100%;">
                        <span class="businessName">
                            <a href="">Honeybee Interior Designers&nbsp;</a>
                        </span>
                        <span class="tags">Interior Designers</span>
                    </div>
                    <div class="pull-left" style="width:100%;">
                        <div class="ratting">
                            <div class="ratting-number">3.5</div>
                            <div class="ratting-text" style="">4 Reviews</div>
                            <div class="verification">
                                <span class="glyphicon glyphicon-heart" style="color:#2c6c2c; font-size:18px;"></span>
                                <span class="ratting-text">Verified</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deals">
                    <span style="font-weight:700;">Deals in </span>xyz
                </div>
                <div class="deals">
                    <span style="font-weight:700;">Located at </span>abc
                </div>
                <div class="statistics">
                    <div style="float:left;">
                        <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;" class="text-center">3</span>
                        <div style="color:#808080; font-size:12px; display:inline-block;" class="text-center">Projects</div>
                    </div>
                    <div style="float:left; margin-left:15px;">
                        <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;" class="text-center">2&nbsp;Yrs</span>
                        <span style="color:#808080; font-size:12px; width:100px; display:inline-block;" class="text-center">Experience</span>
                    </div>
                    <div style="float:left; margin-left:15px;">
                        <span style="display:block; color: #514e4e; font-size: 18px; font-weight:600;" class="text-center">4</span>
                        <span style="color:#808080; font-size:12px; min-width:100px; display:inline-block;" class="text-center">Offers</span>
                    </div>
                </div>
            </li>*@
                    </ul>
                    <div class="holder">
                    </div>
                </div>
            </div>
            <div class="sponser">
                <div id="map-canvas" style="width:100%; height:300px;"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    @*Login Modal*@
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Clown</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="login">
                                @Html.Partial("~/Views/Shared/_SignIn.cshtml")
                            </div>
                            <div id="Register">
                                @Html.Partial("~/Views/Shared/_Signup.cshtml")
                            </div>
                            <div id="ForgotPassword">
                                @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml")
                            </div>
                        </div>
                        <div style="height:230px; float:left; margin-top:5px; border-right:1px solid #cdcdcd; ">

                        </div>
                        <div id="loginright" class="col-xs-6" style="width:48%;">
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>
                                    <a href="#" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;">Login using Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-lg btn-info btn-block">Login using Google</a>
                                </li>
                                @*
                                    <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>*@
                            </ul>
                            @*<p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>*@
                        </div>
                        <div id="signupright" class="col-xs-6" style="width:48%;">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
