﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f8f7f7;
}
.header {
	background: url('Images/header-bg.jpg') no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	height:300px;
}




.header-info {
	padding-top:2.5em;
    padding-bottom:5px;
}
.header-info h1 {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:3em;
	font-weight:500;
	letter-spacing:0.01em;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 3px;
}
.header-info p {
	color:#fff;
	font-size:15px;
	font-weight:300;
	line-height:1.7em;
	width:80%;
	/*margin:3em auto 4em;*/
    margin:auto;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 3px;
}
.contact{
    height:25px;
    margin-bottom:5px !important;
}
.services-section, .Offers-section, .facts-section, .location-section{
	padding:1em 0;
}
testimonial-section-grids{
    margin-bottom:10px;
}
.testimonial-section-grids span
{
    font-size:22px;
    font-weight:600;
    color:#303030;
}
.services-section-head h3, .Offers-section-head h3, .testimonial-section-grids h3, .projects-section-head h3, .facts-section-head h3, .location-section-head h3 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 2em;
    font-weight: 400;
    font-kerning: auto;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    margin-bottom:35px;
}
.services-section-grids, .projects-section-grids, .facts-section-grids, .location-section-grids  {
	margin-top:2em;
    margin-bottom:2em;
}
.service-icon{
	float:left;
	/*width:18%;*/
	margin-right:1%;
}
.service-icon-heading{
	float:left;
	width:78%;
	/*margin-top: 1.2em;*/
}
.testimonial-icon-heading
{
    margin-top: 0em;
}
.service-icon-heading h4{
	color:#666;
	font-family: 'Open Sans', sans-serif;
	font-size:1.3em;
	font-weight:600;
    display:inline;
}
.services-section-grid p, .testimonial-section-grids p{
	color:#878787;
	font-size:0.8em;
	line-height:1.8em;
	font-weight:400;
	margin-top:1em;
}
.testimonial-section-grids p
{
    margin-top:0px;
    margin-bottom:10px;
}
.services-section-grid, .projects-section-grid {
	/*margin-top:3em;*/
}

.testimonial-icon-heading h4{
    font-weight:600;
}
.testimonial-icon-heading h2{
    font-size:13px;
    margin-top:5px;
    font-weight:500;
    margin-bottom:2px;
}
i.event {
	width:32px;
	height:32px;
	/*background: url('Images/1429105454_cutlery.png') no-repeat 0px 0px;*/
	display:inline-block;
}
i.needs {
	width:32px;
	height:32px;
	background: url('Images/1429105570_paper-plane-1-32.png') no-repeat 0px 0px;
	display:inline-block;
}
i.businesshrs {
	width:32px;
	height:32px;
	background: url('Images/facts_businessHrs.png') no-repeat 0px 0px;
	display:inline-block;
}
i.projects {
	width:32px;
	height:32px;
	background: url('Images/facts_projects.png') no-repeat 0px 0px;
	display:inline-block;
}
i.offers {
	width:32px;
	height:32px;
	background: url('Images/facts_offers.png') no-repeat 0px 0px;
	display:inline-block;
}
i.price {
	width:32px;
	height:32px;
	background: url('Images/facts_price.png') no-repeat 0px 0px;
	display:inline-block;
}
.projects-section, .gallery-section, .Offers-section {
    padding: 1em 0;
    background-color: #ECECEC;
}

.projects-section-grid-head, .gallery-section-grid-head{
    box-sizing: border-box;
color: #333;
float:left;
font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 14px;
line-height: 20px;
margin-bottom: 35px;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
position: relative;
text-align: center;
width: 320px;
background-color:#fff;
min-height:179px;

}
.projects-section-grid-head h3, .projects-section-grid-head h3{
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}
.projects-section-grid-head-tittle{
    border-bottom:1px solid #ADADAD;
    padding-bottom:10px;
}
.projects-section-grid-head-body{
    font-size:11px;
}

.facts-section-grid-head{
    display:inline-block;
    width:100%;
}
.facts-section-grid-head h4{
    color:#000;
    border-bottom:1px solid #ADADAD;
    padding-bottom:5px;
    margin-top:2px;
}
.facts-icon-heading ul{
    margin-left:-35px;
}
.facts-icon-heading ul li{
    list-style:none;
    line-height:30px;
    font-weight:400;
}
.facts-icon-heading{
    float:left;
    padding-right:10px;
    max-width:90%;
}
pre{
    padding:0px;
    background-color:none;
    font-family:'Open sans', sans-serif;
    border:none;
    display:inline-block;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
/*white-space: normal;*/
}
.indivisual-ratting-number
{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display:inline;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    padding:2px 3px;
}
.ratting-number{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    margin-top:5px;
    padding:8px 20px;
}
.ratting-text
{
    font-size:13px;
    color:#fff; 
    padding-top:3px; 
    padding-left:5px;
    display:inline-block;
    font-weight:500;
    margin-right:5px;
}
/*Temp*/
#lightGallery
{
    margin-left:-38px;
    margin-top:5px;
    cursor:pointer;
}
#lightGallery li
{
    list-style:none;
    display:inline-block;
}
.showThumbByDefault #lg-gallery.open .lg-slide {
    padding-bottom: 120px;
}
.showThumbByDefault #lg-gallery .thumb-cont .thumb-info{
    display:none;
}
/*/ actions */
.showThumbByDefault #lg-action {
    position: static;
}
.showThumbByDefault #lg-action a {
    margin-top: -14px !important;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    background-color: transparent;
    font-size: 28px;
}
.showThumbByDefault #lg-action a#lg-prev {
    left: 17px;
}
.showThumbByDefault #lg-action a#lg-next {
    right: 17px;
}








@media screen and (max-width: 1366px) { 
	.contact-section-head h3 {
		background: url('images/head_down.png') no-repeat 541px 50px;
		padding-bottom: 1.2em;
	}
	.services-section-head h3,.our-team-head h3,.pricing-section-head h3,.blog-section-head h3 {
		/*padding-bottom: 1.2em;
		background: url('Images/head_down.png') no-repeat 450px 50px;*/
	}
	.header {
		min-height: 300px;
	}
	.header-info h1 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.header-info p {
		margin: 0.5em auto 0.5em;
		font-size: 1em;
	}
	.services-section-grid p {
		margin-top: 0.5em;
	}
	.services-section {
		/*padding: 4em 0;*/
	}
	.projects-section {
		/*padding: 4em 0 0 0;*/
	}
	.about-section {
		padding: 4em 0;
	}
	.our-team {
		padding-top: 4em;
	}
	.about-top {
		padding: 3em 0;
	}
	.subscribe {
		min-height: 232px;
	}
	.pricing-section {
		padding: 4em 0;
	}
	.blog-section {
		padding: 4em 0;
	}
	.contact-section {
		padding: 5em 0;
	}
	.map iframe {
		min-height: 500px;
	}
	.map {
		margin: 2em 0 3em 0;
	}
	.clients {
		padding: 3em 0;
	}
}



.review-form-textarea {
    background-color: #FFF;
    border-bottom-color: #CBCBCB;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #CBCBCB;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CBCBCB;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #CBCBCB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    min-height: 180px;
    line-height: 18px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 6px;
    resize: vertical;
    text-rendering: optimizelegibility;
    overflow-x:auto;
    display:block;
    width:500px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}


.offer{
	background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
    }
.shape {
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
	border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
	border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
	border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
	border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
}

	
.offer-content{
	padding:0 10px 10px;
}