﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f8f7f7;
}
.header {
	background: url('Images/header-bg.jpg') no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:628px;
}
.main-part
{
    min-height:650px;
}
.header-info {
	padding-top:6em;
}
.header-info h1 {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:3.2em;
	font-weight:600;
	letter-spacing:0.01em;
}
.header-info p {
	color:#fff;
	font-size:1.35em;
	font-weight:300;
	line-height:1.7em;
	width:80%;
	margin:3em auto 4em;
}
.location-select{
     border-width:1px; border-color:#fff; border-style:solid; 
     font-size:14px; padding:6px; padding-left:34px;
     border-radius:3px 0px 0px 3px;
     display:inline-block;
     float:left;
     height:43px;
     width:350px;
     background-image: url(Images/mylocation.png);
     background-repeat:no-repeat;
     background-position:10px 13px;
}
.location-select-right{
     border-width:1px; border-color:#fff; border-style:solid; font-size:14px; padding:6px; padding-left:34px;
     border-radius:1px;
     display:inline-block;
     float:left;
     height:43px;
     width:350px;
     margin-left:3px;
     background-image: url(Images/search.png);
     background-repeat:no-repeat;
     background-position:10px 13px;
}
.location-select-disable, .search-suggestion-disable {
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
    color: #333;
    cursor: pointer;
    display: none;
    line-height: 14.6667px;
    min-height: 124px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    text-rendering: optimizelegibility;
    top: 275px;
    margin-left:153px;
    width: 350px;
    z-index: 1;
}
.location-select-active, .search-suggestion-active {
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
    color: #333;
    cursor: pointer;
    display: block;
    line-height: 14.6667px;
    min-height: 124px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    text-rendering: optimizelegibility;
    top: 275px;
    width: 350px;
    margin-left:153px;
    z-index: 1;
}
.search-suggestion-active{
    margin-left:506px;
}
.location-select-active ul, .search-suggestion-active ul{
    margin-left:-40px;
}
.location-select-active ul li, .search-suggestion-active ul li{
    list-style:none;
    font-size:13px; 
    text-align:left;
    line-height:28px;
    color: #808080;
    font-weight:500;
    display:block;
    padding-left:5px;
    margin-top:2px;
}
.location-select-active ul li:hover, .search-suggestion-active ul li:hover {
        background-color:#d9d8d8;
 }

.search_container
{
    max-width:850px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("Images/trans.png");
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 9px -4px;
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    -moz-user-select: none;
    margin:auto;
    height:60px;
}
.search_btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1c9fda;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    /*line-height: 44px;*/
    line-height: 43px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 127px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
}
.services-section{
	padding:1em 0;
}
.services-section-grid-head
{
    border-bottom:1px solid #CBCBCB;
}
testimonial-section-grids{
    margin-bottom:10px;
}
.testimonial-section-grids span
{
    font-size:22px;
    font-weight:600;
    color:#303030;
}
.services-section-head h3, .testimonial-section-grids h3{
	color:#303030;
	font-size:2.1em;
	font-weight:500;
	/*padding-bottom: 2em;*/	
}
.services-section-grids {
	/*margin-top:2.5em;*/
}
.service-icon{
	float:left;
	width:18%;
	margin-right:4%;
}
.service-icon-heading, .testimonial-icon-heading{
	float:left;
	width:78%;
	margin-top: 1.2em;
}

.testimonial-icon-heading
{
    margin-top: 0em;
}
.service-icon-heading h4{
	color:#1fadbb;
	font-size:1.6em;
	font-weight:600;
}
.services-section-grid p, .testimonial-section-grids p{
	font-size:1em;
	line-height:1.8em;
	font-weight:400;
	margin-top:1em;
}
.testimonial-section-grids p
{
    margin-top:0px;
    margin-bottom:10px;
}
.services-section-grid {
	/*margin-top:3em;*/
}

.testimonial-icon-heading h4{
    font-weight:600;
}
.testimonial-icon-heading h2{
    font-size:13px;
    margin-top:5px;
    font-weight:500;
    margin-bottom:2px;
}
i.event {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
}
i.needs {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -60px 0px;
	display:inline-block;
}
i.gender {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -120px 0px;
	display:inline-block;
}
i.photo {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -180px 0px;
	display:inline-block;
}
i.education {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -240px 0px;
	display:inline-block;
}
i.project {
	width:60px;
	height:60px;
	background: url('Images/img-sprite.png') no-repeat -300px 0px;
	display:inline-block;
}
.subscribe input[type="text"] {
	width: 30%;
	padding: 12px;
	border: none;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	outline: none;
	background: none;
	font-weight: 300;
	border:1px solid #fff;
	margin-right:13px;
}
.subscribe input[type="submit"] {
	color: #303030;
	background: #fff;
	padding: 13px 23px;
	font-size: 1em;
	outline: none;
	border: none;
	font-weight: 500;
	text-transform:uppercase;
}
.subscribe input[type="submit"]:hover {
	background:#303030;
	color:#fff;
}
.subscribe {
	/*background: url('../images/subscribe_bg.jpg') no-repeat 0px 0px;*/
    background-color:#0A7D9C;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height: 280px;
}
.subscribe h3 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 18px;
	padding-top:0.8em;
}

i.f_phone {
	width:25px;
	height:25px;
	background: url('Images/img-sprite.png') no-repeat -860px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_msg {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -885px 0px;
	display: inline-block;
	vertical-align:middle;
}
i.f_location {
	width:25px;
	height:20px;
	background: url('Images/img-sprite.png') no-repeat -910px 0px;
	display: inline-block;
	vertical-align: super;
}

h4.title
{
    color:#9C9C9C;
    font-size:18px;
    margin-bottom:3px;
}


@media screen and (max-width: 1366px) { 
	.contact-section-head h3, .projects-section-head h3 {
		background: url('images/head_down.png') no-repeat 541px 50px;
		padding-bottom: 1.2em;
	}
	.services-section-head h3,.our-team-head h3,.pricing-section-head h3,.blog-section-head h3 {
		padding-bottom: 1.2em;
		background: url('Images/head_down.png') no-repeat 450px 50px;
	}
	.header {
		min-height: 523px;
	}
	.header-info h1 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.header-info p {
		margin: 2em auto 3em;
		font-size: 1.3em;
	}
	.services-section-grid p {
		margin-top: 0.5em;
	}
	.services-section {
		/*padding: 4em 0;*/
	}
	.projects-section {
		padding: 4em 0 0 0;
	}
	.about-section {
		padding: 4em 0;
	}
	.our-team {
		padding-top: 4em;
	}
	.about-top {
		padding: 3em 0;
	}
	.subscribe {
		min-height: 232px;
	}
	.pricing-section {
		padding: 4em 0;
	}
	.blog-section {
		padding: 4em 0;
	}
	.contact-section {
		padding: 5em 0;
	}
	.map iframe {
		min-height: 500px;
	}
	.map {
		margin: 2em 0 3em 0;
	}
	.clients {
		padding: 3em 0;
	}
}

.main {
    max-width: 320px;
    margin: 0 auto;
  }
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .input-group { margin-bottom:10px; }

  .shape{    
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}
.offer{
	background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
    }
.shape {
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
	border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
	border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
	border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
	border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
}

	
.offer-content{
	padding:0 10px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }


  