﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f8f7f7;
}

.header {
    background-color: #2D2D2D;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 28px;
}

.main-part {
    min-height: 600px;
}


.filter-search {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px -3px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 28px;
}

.filter-search-header {
    font-weight: 600;
    color: #808080;
    font-size: 14px;
    width: 100px;
    float: left;
}

.filter-search-details ul li img {
    margin-left: 8px;
    cursor: pointer;
    opacity: 0.5;
}

    .filter-search-details ul li img:hover {
        opacity: 0.8;
    }




.filter-vertical {
    width: 200px;
    display: inline-block;
    background-color: #F5F5F1;
    vertical-align: top;
    padding: 5px;
}

    .filter-vertical .heading {
        margin-top: 25px;
        margin-bottom: 10px;
        height: 25px;
        font-size: 15px;
        width: 100%;
        display: block;
    }

.filter-tab {
    padding: 3px 3px 3px 3px;
    margin-bottom: 20px;
}

.fliter-item-heading {
    color: #2D2D2D;
    border-bottom: 1px solid #DEDEDA;
    cursor: pointer;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-size: small;
}

.filter-string {
    margin-top: 5px;
    line-height: 20px;
    font-size: smaller;
    color: #808080;
    display: none;
}

.filter-carcet {
    font-size: 10px;
    padding-top: 3px;
    color: #808080;
}

.filter-remove {
    cursor: pointer;
}

.filter-items {
    display: none;
}

    .filter-items ul {
        margin-left: -35px;
    }

        .filter-items ul li {
            list-style: none;
            font-size: 12px;
            line-height: 20px;
            color: #75787C;
            cursor: pointer;
        }



.data {
    width: 685px;
    display: inline-block;
    background-color: #fff;
    padding-left: 10px;
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
}

.data-header {
    height: 80px;
    margin-bottom: 5px;
    border-bottom: 1px solid #9c9b9b;
}
.search-nav{
    font-size:11px;
    font-weight:600;
    display:block;
    margin-bottom:5px;
}
.search-header{
    font-size:19px;
    font-weight:600;
    display:block;
    margin-bottom:3px;
}
.search-resultCount{
    font-size:12px;
    margin-bottom:3px;
    font-weight:600;
}

.datalist {
    margin-top: 15px;
}

.data-container ul#data-list {
    margin-left: -38px;
}

.data-container ul.pagination {
    margin-left: 0px;
}

.data-container ul#data-list li {
    list-style: none;
    margin-top: 5px;
    width: 100%;
    padding-bottom: 5px;
}


.project-snpt-wrp {
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    position: relative;
    padding: 0px 10px 0px 0px;
    background-color: #F0F0F0;
    height: 200px;
}

.project-snpt-img {
    padding: 0px;
    float: left;
}

.project-thumb {
    width: auto;
    height: auto;
    max-width: 280px;
    max-height: 200px;
    overflow: hidden;
}
.project-snpt-right-cont
{
    float: left;
padding: 11px 0px 0px 20px;
}
.project-snpt-tittle {
    float: left;
    color: #FC8E33;
    margin-top: 0px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 335px;
}
.project-snpt-status
{background: #1abc9c;
    border-radius: 4px;
    color: #f5f5f5;
    font-weight: 600;
    padding: 3px 6px;
    font-size:12px;
    margin-left:5px;
}

.project-snpt-loc{
    color:#000000;
    margin-bottom:3px;
}
.project-snpt-cost
{   font-size:13px;
    color:#666;
    margin-bottom:3px;
}
.emphasis{
    font-weight:600;
    color:#000000;
}

.sponser
{
    width: 250px;
}