﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f8f7f7;
}
pre{
    padding:0px;
    background-color:#fff !important;
    font-family:'Open sans', sans-serif;
    border:none;
    display:inline-block;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
text-align:left;
font-size:13px;
/*white-space: normal;*/
}
.header {
    background-color: #2D2D2D;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 28px;
}

.main-part {
    min-height: 600px;
}

.data {
    width: 875px;
    display: inline-block;
    background-color: #fff;
    padding-left: 10px;
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
}

.data-header {
    height: 80px;
    margin-bottom: 5px;
    border-bottom: 1px solid #9c9b9b;
}
.search-nav{
    font-size:11px;
    font-weight:600;
    display:block;
    margin-bottom:5px;
}
.search-header{
    font-size:19px;
    font-weight:600;
    display:block;
    margin-bottom:3px;
}
.search-resultCount{
    font-size:12px;
    margin-bottom:3px;
    font-weight:600;
}

.datalist {
    margin-top: 15px;
}

.data-container ul#data-list {
    margin-left: -38px;
}

.data-container ul.pagination {
    margin-left: 0px;
}

.data-container ul#data-list li {
    list-style: none;
    margin-top: 5px;
    width: 100%;
    padding-bottom: 5px;
}


.review-snpt-wrp {
    border-bottom:5px solid #DDDDDD;
    position: relative;
    min-height: 100px;
    height:auto;
}

.review-snpt-header{
    height:55px;
}
.indivisual-ratting-number
{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display:inline;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    padding:2px 3px;
}


.emphasis{
    font-weight:600;
    color:#000000;
}
.carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 55px;
    padding: 3px;
    width: 55px;
    margin-right: 10px;
}
.carousel-info {
    overflow: hidden;
}
.carousel-info h4{
    margin-bottom:5px;
    margin-top:5px;
}
.sponser
{
    width: 250px;
    float:right;
    border:1px solid #FC8E33;
}