﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif !important;
	background:#f8f7f7;
}
.header {
	background-color:#2D2D2D;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:28px;
}
.main-part
{
    min-height:650px;
}




@media screen and (max-width: 1366px) { 
	.contact-section-head h3 {
		background: url('images/head_down.png') no-repeat 541px 50px;
		padding-bottom: 1.2em;
	}
	.services-section-head h3,.our-team-head h3,.pricing-section-head h3,.blog-section-head h3 {
		/*padding-bottom: 1.2em;
		background: url('Images/head_down.png') no-repeat 450px 50px;*/
	}
	.header {
		min-height: 300px;
	}
	.header-info h1 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.header-info p {
		margin: 0.5em auto 0.5em;
		font-size: 1em;
	}
	.services-section-grid p {
		margin-top: 0.5em;
	}
	.services-section {
		/*padding: 4em 0;*/
	}
	.projects-section {
		/*padding: 4em 0 0 0;*/
	}
	.about-section {
		padding: 4em 0;
	}
	.our-team {
		padding-top: 4em;
	}
	.about-top {
		padding: 3em 0;
	}
	.subscribe {
		min-height: 232px;
	}
	.pricing-section {
		padding: 4em 0;
	}
	.blog-section {
		padding: 4em 0;
	}
	.contact-section {
		padding: 5em 0;
	}
	.map iframe {
		min-height: 500px;
	}
	.map {
		margin: 2em 0 3em 0;
	}
	.clients {
		padding: 3em 0;
	}
}

/*datatable css*/
.link{
    cursor:pointer;
    color:#1c9fda;
}
.heading1{
    font-size:19px;
    font-weight:600;
    display:block;
    margin-bottom:3px;
    margin-top:5px;
}
.navi{
    font-size:11px;
    font-weight:600;
    display:block;
    margin-bottom:5px;
    margin-top:15px;
}
