﻿@import url("bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif !important;
	background:#f8f7f7;
}
.header {
	background-color:#2D2D2D;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:28px;
}
.main-part
{
    min-height:600px;
}

/*Data style starts*/
.holder{
   
}
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: 600;
    padding: 2px 4px;
    font-size:12px;
    margin-left:5px;
    }
span.businessName{
color:#13719c;
    font-weight:600;
    margin-bottom:3px;
    font-size:16px;
    cursor:pointer;
}
.datalist{
    margin-top:15px;
}
.data-container ul#data-list
{
    /*width:100%;*/
    margin-left:-38px;
}
.data-container ul.pagination
{
    /*width:100%;*/
    margin-left:0px;
}
.data-container ul#data-list li
{
    list-style:none;
    margin-top:5px;
    border-bottom:1px solid #ccc;
    height:150px;
    width:100%;
}
.data-container ul#data-list li p{
    color:#13719c;
    font-weight:600;
    margin-bottom:3px;
    font-size:16px;
    cursor:pointer;
}
.ratting
{
    display:block;
    height:28px;
}
.ratting-text
{
    font-size:11px;
    color:#837d7d; 
    padding-top:3px; 
    padding-left:5px;
    display:inline-block;
}
.delete{
    display:inline-block;
    color:#ed1111;
    margin-left:10px;
    cursor:pointer;
}
.verification{
   display:inline-block;
   
   margin-left:8px;
}
.verification img{
    margin-top:-5px;
}
.verification span{
    font-size:11px;
    margin-left:5px;
    margin-top:-5px;
}
.data-container .address{
    font-size:12px;
}
.data-container .deals{
    font-size:12px;
    margin-bottom:5px;
    display:inline-block;
    width:100%;
}
.data-container .ratting-number{
    background-color: #2c6c2c;
    border-bottom-color: #FFF;
    border-radius:3px;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display: inline;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    /*min-width:40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    margin-left:5px;
    padding:1px 6px;
}

.statistics{
    font-size:12px;
    margin-top:10px;
    display:inline-block;
}
.statistics img
{
    margin-right:5px;
}
.ratting-number:hover
{
    opacity:0.8;
}

.data{
    width:60%;
    display:inline-block;
}
.data-header{
    height:60px;
    margin-bottom:5px;
    border-bottom:1px solid #9c9b9b;
}
.search-nav{
    font-size:11px;
    font-weight:600;
    display:block;
    margin-bottom:5px;
}
.search-header{
    font-size:19px;
    font-weight:600;
    display:block;
    margin-bottom:25px;
}
.search-resultCount{
    font-size:12px;
    margin-bottom:3px;
    font-weight:600;
}
.sponser
{
    width:38%;
    /*border-left:1px solid #75787C;*/
    float:right;
    vertical-align:top;
    display:inline-block;
}
/*Data style ends*/


h4.title
{
    color:#9C9C9C;
    font-size:18px;
    margin-bottom:3px;
}



/*Footer style ends*/
@media screen and (max-width: 1366px) { 
	.contact-section-head h3 {
		background: url('images/head_down.png') no-repeat 541px 50px;
		padding-bottom: 1.2em;
	}
	.services-section-head h3,.our-team-head h3,.pricing-section-head h3,.blog-section-head h3 {
		/*padding-bottom: 1.2em;
		background: url('Images/head_down.png') no-repeat 450px 50px;*/
	}
	.header {
		min-height: 300px;
	}
	.header-info h1 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.header-info p {
		margin: 0.5em auto 0.5em;
		font-size: 1em;
	}
	.services-section-grid p {
		margin-top: 0.5em;
	}
	.services-section {
		/*padding: 4em 0;*/
	}
	.projects-section {
		/*padding: 4em 0 0 0;*/
	}
	.about-section {
		padding: 4em 0;
	}
	.our-team {
		padding-top: 4em;
	}
	.about-top {
		padding: 3em 0;
	}
	.subscribe {
		min-height: 232px;
	}
	.pricing-section {
		padding: 4em 0;
	}
	.blog-section {
		padding: 4em 0;
	}
	.contact-section {
		padding: 5em 0;
	}
	.map iframe {
		min-height: 500px;
	}
	.map {
		margin: 2em 0 3em 0;
	}
	.clients {
		padding: 3em 0;
	}
}
