﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/typehead_new.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/typeahead.bundle.min.js"></script>
    <script src="~/Scripts/config.js"></script>
    <script src="~/Scripts/CommonScript.js"></script>
    <script src="~/Scripts/IndexScript.js"></script>
   

</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <header class="intro-header" style="background-image:url('/Content/Images/header-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        
                        <h1>Interior Designers on your door step</h1>
                        @*<hr class="small">*@
                        <span class="subheading">Explore our large collection of business related to interior design</span>
                        <div class="formContainer text-center">
                            <form class="form-inline" role="form">
                                <div class="form-group has-error has-feedback">
                                    <div id="bloodhound">
                                        <input name="searchToken" type="text" class="form-control typeahead" id="txtBoxParam" placeholder="Business Name, Location..">
                                        <input name="searchKey" type="hidden" id="key" />
                                        <input type="hidden" id="itemId" />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:0.05em;">
                                    <a class="btn btn-default btn-select">
                                        <input type="hidden" class="btn-select-input" name="businessTypeValue" value="" />
                                        <span class="btn-select-value">Business Type</span>
                                        <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        <ul id="businessType">
                                            @*<li>Interior Designer</li>
                                            <li>Interior Designing Company</li>
                                            <li>Carpenter</li>
                                            <li>Furnishing House</li>
                                            <li>Furniture Store</li>*@
                                        </ul>
                                    </a>
                                </div>
                                <button id="btnFind" type="button" class="btn btn-danger"><i class="fa fa-search"></i> Find</button>
                            </form>
                        </div>
                        @*<div><span class="lable label-danger">Please enter valid location or business name</span></div>*@
                        

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="featuredInteriors" style="background: #EFEBE9 none repeat scroll 0% 0%;">
        <div class="container">
            <div class="row" style="margin-bottom:40px;margin-top:15px;">
                <div class="col-md-12 text-center" style="padding-bottom:20px;"><h3>Featured Interior Designers</h3></div>
                <div class="text-center" id="featuredInteriors_loading"><img src="~/Content/Images/ajax-loader.gif" /></div>
                @*<div class="col-md-3">
                    <div class="fbItemContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=123" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="fbItemContent">
                            <div class="fbItemBName">Bonito Designs</div>
                            <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                            <div class="fbItemServices">Interiror Design, Flase Celling</div>
                            <div class="fbItemViewDetails"><a class="btn btn-danger">See Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fbItemContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=124" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="fbItemContent">
                            <div class="fbItemBName">Bonito Designs</div>
                            <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                            <div class="fbItemServices">Interiror Design, Flase Celling</div>
                            <div class="fbItemViewDetails"><a class="btn btn-danger">See Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fbItemContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=125" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="fbItemContent">
                            <div class="fbItemBName">Bonito Designs</div>
                            <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                            <div class="fbItemServices">Interiror Design, Flase Celling</div>
                            <div class="fbItemViewDetails"><a class="btn btn-danger">See Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fbItemContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=126" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="fbItemContent">
                            <div class="fbItemBName">Bonito Designs</div>
                            <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                            <div class="fbItemServices">Interiror Design, Flase Celling</div>
                            <div class="fbItemViewDetails"><a class="btn btn-danger">See Details</a></div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <div id="featuredCarpenters" style="background: #F7F7F7 none repeat scroll 0% 0%;">
        <div class="container">
            <div class="row header">
                <div class="col-md-12 text-center">
                    <h3>Featured Carpenters</h3>
                </div>
            </div>
            <div class="text-center" id="featuredCarpenters_loading"><img src="~/Content/Images/ajax-loader.gif" /></div>
            <div class="row body">
                @*<div class="col-md-4 carpenterListing">
                    <div>
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img src="http://lorempixel.com/850/850/?random=126" height="120" width="130" alt="Bonito Designs" />
                            </div>
                            <div class="col-md-8 carpenterDetails">
                                <div class="fbItemContent">
                                    <div class="fbItemBName">Bonito Designs</div>
                                    <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                                    <div class="fbItemServices">Interiror Design, Flase Celling</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 carpenterListing">
                    <div>
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img src="http://lorempixel.com/850/850/?random=123" height="120" width="130" alt="Bonito Designs" />
                            </div>
                            <div class="col-md-8 carpenterDetails">
                                <div class="fbItemContent">
                                    <div class="fbItemBName">Bonito Designs</div>
                                    <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                                    <div class="fbItemServices">Interiror Design, Flase Celling</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 carpenterListing">
                    <div>
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img src="http://lorempixel.com/850/850/?random=124" height="120" width="130" alt="Bonito Designs" />
                            </div>
                            <div class="col-md-8 carpenterDetails">
                                <div class="fbItemContent">
                                    <div class="fbItemBName">Bonito Designs</div>
                                    <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                                    <div class="fbItemServices">Interiror Design, Flase Celling</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 carpenterListing">
                    <div>
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img src="http://lorempixel.com/850/850/?random=126" height="120" width="130" alt="Bonito Designs" />
                            </div>
                            <div class="col-md-8 carpenterDetails">
                                <div class="fbItemContent">
                                    <div class="fbItemBName">Bonito Designs</div>
                                    <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                                    <div class="fbItemServices">Interiror Design, Flase Celling</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 carpenterListing">
                    <div>
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img src="http://lorempixel.com/850/850/?random=123" height="120" width="130" alt="Bonito Designs" />
                            </div>
                            <div class="col-md-8 carpenterDetails">
                                <div class="fbItemContent">
                                    <div class="fbItemBName">Bonito Designs</div>
                                    <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                                    <div class="fbItemServices">Interiror Design, Flase Celling</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 carpenterListing">
                    <div>
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img src="http://lorempixel.com/850/850/?random=124" height="120" width="130" alt="Bonito Designs" />
                            </div>
                            <div class="col-md-8 carpenterDetails">
                                <div class="fbItemContent">
                                    <div class="fbItemBName">Bonito Designs</div>
                                    <div class="fbItemLocation"><i class="glyphicon glyphicon-map-marker"></i>HSR layout</div>
                                    <div class="fbItemServices">Interiror Design, Flase Celling</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@

            </div>
        </div>
    </div>

    <div id="offers" style="background: #fff none repeat scroll 0% 0%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="padding-bottom:20px;"><h3>Offer Gallery</h3></div>
                <div class="text-center" id="offers_loading"><img src="~/Content/Images/ajax-loader.gif" /></div>
                @*<div class="col-md-3 offer">
                    <div class="offer-container">
                        <div class="offer-body">
                            <div class="offer-buinessName"><a href="#">Bonito Designs</a></div>
                            <div class="offer-tittle"><a href="#">Big Exchange Days: Upto Rs. 20,000 Off </a></div>
                            <div class="offer-description">Service Offered : Residental Interiors, Commercial Interiors, 3D Visualization...</div>
                            <div class="offer-stats">
                                <div class="col-md-5 text-left" style=""><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                <div class="col-md-7 text-right" style="color:#CC5251;"><i class="glyphicon glyphicon-time"></i> Expires: 28-02-2015</div>
                            </div>
                        </div>
                        <div class="offer-footer text-center">
                            <i class="glyphicon glyphicon-gift" style="color:#3498DB;"></i> <a href="/Action/Offers">View all offers from Bonito Designs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offer">
                    <div class="offer-container">
                        
                        <div class="offer-body">
                            <div class="offer-buinessName"><a href="#">Bonito Designs</a></div>
                            <div class="offer-tittle"><a href="#">Big Exchange Days: Upto Rs. 20,000 Off </a></div>
                            <div class="offer-description">Service Offered : Residental Interiors, Commercial Interiors, 3D Visualization...</div>
                            <div class="offer-stats">
                                <div class="col-md-5 text-left" style=""><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                <div class="col-md-7 text-right" style="color:#CC5251;"><i class="glyphicon glyphicon-time"></i> Expires: 28-02-2015</div>
                            </div>
                        </div>
                        <div class="offer-footer text-center">
                            <i class="glyphicon glyphicon-gift" style="color:#3498DB;"></i> <a href="/Action/Offers">View all offers from Bonito Designs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offer">
                    <div class="offer-container">
                        
                        <div class="offer-body">
                            <div class="offer-buinessName"><a href="#">Bonito Designs</a></div>
                            <div class="offer-tittle"><a href="#">Big Exchange Days: Upto Rs. 20,000 Off </a></div>
                            <div class="offer-description">Service Offered : Residental Interiors, Commercial Interiors, 3D Visualization...</div>
                            <div class="offer-stats">
                                <div class="col-md-5 text-left" style=""><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                <div class="col-md-7 text-right" style="color:#CC5251;"><i class="glyphicon glyphicon-time"></i> Expires: 28-02-2015</div>
                            </div>
                        </div>
                        <div class="offer-footer text-center">
                            <i class="glyphicon glyphicon-gift" style="color:#3498DB;"></i> <a href="/Action/Offers">View all offers from Bonito Designs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offer">
                    <div class="offer-container">
                       
                        <div class="offer-body">
                            <div class="offer-buinessName"><a href="#">Bonito Designs</a></div>
                            <div class="offer-tittle"><a href="#">Big Exchange Days: Upto Rs. 20,000 Off </a></div>
                            <div class="offer-description">Service Offered : Residental Interiors, Commercial Interiors, 3D Visualization...</div>
                            <div class="offer-stats">
                                <div class="col-md-5 text-left" style=""><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                <div class="col-md-7 text-right" style="color:#CC5251;"><i class="glyphicon glyphicon-time"></i> Expires: 28-02-2015</div>
                            </div>
                        </div>
                        <div class="offer-footer text-center">
                            <i class="glyphicon glyphicon-gift" style="color:#3498DB;"></i> <a href="/Action/Offers">View all offers from Bonito Designs</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <div id="searches">
        <div class="container">
            <div class="row" style="margin-bottom:40px;margin-top:20px;">
                <div class="col-md-12 text-center" style="padding-bottom:20px;"><h3>Popular searches in Bangalore</h3></div>
                <div class="col-md-6">
                    <div class="ps-header">Interior Desiging</div>
                    <div class="ps-body">
                        <div class="col-md-6">
                            <ul>
                                <li><a>Top ten interior designers in south bangalore</a></li>
                                <li><a>Top ten carpenter in south bangalore</a></li>
                                <li><a>Interior designers who currently have offers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a>Top ten interior designers in south bangalore</a></li>
                                <li><a>Top ten carpenter in south bangalore</a></li>
                                <li><a>Interior designers who currently have offers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ps-header">Furniture & Furnishing</div>
                    <div class="ps-body">
                        <div class="col-md-6">
                            <ul>
                                <li><a>Top ten interior designers in south bangalore</a></li>
                                <li><a>Top ten carpenter in south bangalore</a></li>
                                <li><a>Interior designers who currently have offers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a>Top ten interior designers in south bangalore</a></li>
                                <li><a>Top ten carpenter in south bangalore</a></li>
                                <li><a>Interior designers who currently have offers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="container">
            <div class="row" style="margin-bottom:40px;margin-top:60px;">
                <div class="col-md-12 text-center" style="padding-bottom:20px;"><h3>Interior Loan</h3></div>
                <div class="col-md-12 text-center"><div class="interior-loan-icon"></div><p style="font-size:18px;">Planning interior for your home? Get the best deals on your loan from the leading finance company.</p><br /><a class="btn btn-danger" href="#" role="button">Apply now</a></div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row" style="margin-bottom:40px;margin-top:60px;">
                <div class="col-md-12 text-center" style="padding-bottom:20px;"><h3>Loan Calculator</h3></div>
                <div class="col-md-6 emi">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="amount" class="col-sm-6 control-label">Loan Amount</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="amount" name="amount" value="500000" rel="txtTooltip" title="**Your Title**" data-toggle="tooltip" data-placement="bottom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenure" class="col-sm-6 control-label">Tenure <small> (In Yrs)</small></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control typeahead" id="tenure" name="tenure">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="roi" class="col-sm-6 control-label">Rate of interest (%)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="roi" name="roi">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-6 col-md-6">
                                <a id="btnCalulateEMI" class="btn btn-danger" href="#" role="button">Calculate</a>
                                <a class="btn btn-link" style="color:#666; font-size:12px;">Reset all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center emi">
                    <div class="emitittle">Monthly EMI</div>
                    <div class="emiamount">20000</div>
                    <a class="btn btn-default" href="#" role="button">Apply now</a>
                </div>
                <div class="col-md-3 text-left ">

                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row" style="margin-bottom:40px;margin-top:60px;">
                <div class="col-md-12 text-center" style="padding-bottom:20px;"><h3>Request Quote</h3></div>
                <div class="col-md-12 text-center"><div class="interior-loan-icon"></div><p style="font-size:18px;">Planning interior for your home? Get free quotation for your interior works.<br /><a href="#" style="color:#3498DB; font-size:11px;">You need to login to able to reuest quote</a></p><br /><a class="btn btn-danger" href="#" role="button">Request now</a></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    @*@Scripts.Render("~/bundles/commonscript")
    @Scripts.Render("~/bundles/typehead")
    @Scripts.Render("~/bundles/index")*@
</body>
</html>
