﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="~/Content/dropdowns-enhancement.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Content/Review.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/JPagePagination.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <!--<script src="Scripts/jquery.quick.pagination.min.js"></script>-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jPages.min.js"></script>
    <script src="~/Scripts/Review.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div id="list" class="datalist main-part">
        <div class="container">
            <div class="data row">
                <div class="data-header">
                    <span class="search-nav">Home / BonitoDesigns</span>
                    <span class="search-header">Bonito Designs</span>
                    <span class="search-resultCount">20 Reviews</span>
                </div>
                <div class="data-container">
                    <input type="hidden" id="spid" value="@ViewBag.SPID" />
                    @*<div id="ajax" style="margin:auto; margin-left:0px; margin-top:20px;"><img style="margin-left:300px;" src="~/Content/Images/ajax-loader.gif" /><span style="display:block; text-align:center;">Please wait while we load the result for you...</span></div>*@
                    <ul id="data-list">
                        @*<li class="listingcomponent">
                            <div id="reviewSnippetWidget" class="review-snpt-wrp">
                                <div class="review-snpt-header">
                                    <div class="carousel-info">
                                        <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        <div class="pull-left">
                                            <h4 style="margin-bottom:5px;margin-top:5px;">Pabitra Mohan Ray</h4>
                                            <div style="font-size:12px;">Ratted <div class="indivisual-ratting-number">4.5</div> | Reviewed on 12 Mar 2015</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="" class="review-snpt-body">
                                    <div>
                                        <pre><span><span class="emphasis" style="font-size:22px;">"</span> The procedure of applying home loan was too good and simple. We would not be able to approach each and every bank so this site helps a lot in getting information.</span></pre>
                                    </div>
                                </div>
                                <div class="review-snpt-footer">

                                </div>
                            </div>

                        </li>*@
                        
                    </ul>
                    <div class="holder">
                    </div>
                </div>
            </div>
            <div class="sponser">
                <div id="map-canvas" style="width:100%; height:300px;"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    @*Login Modal*@
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Clown</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="login">
                                @Html.Partial("~/Views/Shared/_SignIn.cshtml")
                            </div>
                            <div id="Register">
                                @Html.Partial("~/Views/Shared/_Signup.cshtml")
                            </div>
                            <div id="ForgotPassword">
                                @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml")
                            </div>
                        </div>
                        <div style="height:230px; float:left; margin-top:5px; border-right:1px solid #cdcdcd; ">

                        </div>
                        <div id="loginright" class="col-xs-6" style="width:48%;">
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>
                                    <a href="#" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;">Login using Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-lg btn-info btn-block">Login using Google</a>
                                </li>
                                @*
                                    <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>*@
                            </ul>
                            @*<p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>*@
                        </div>
                        <div id="signupright" class="col-xs-6" style="width:48%;">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
