﻿@using Clown.UI.Admin.Models
@using System.Collections.Generic
@model AddProjectViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Project - </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AddProject.css" rel="stylesheet" />
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AddProject.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink("Business", "Index", "ServiceProvider", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink(Model.ServiceproviderName, "Update", "ServiceProvider", new { id = Model.ServiceProviderId }, new { @class = "btn btn-link btn-xs" })
            </div>
            <div class="row">
                <h3>Add Project</h3>
                <div class="clearfix" style="margin-bottom:8px;"></div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <strong>Success !</strong> New project details are saved.
                    </div>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("Add", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ServiceProviderId);
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectName, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder = "Project name", id = "projectname" })
                                    @Html.ValidationMessageFor(m => m.ProjectName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Area, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Area, Model.AvailableAreas, new { @class = "form-control", id = "businesstype" })
                                    @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectCost, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ProjectCost, new { @class = "form-control", placeholder = "E.g 500000", id = "projectcost", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.ProjectCost, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.HouseType, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.HouseType, Model.AvailableHouseType, new { @class = "form-control", id = "housetype" })
                                    @Html.ValidationMessageFor(m => m.HouseType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NoOfDaysTaken, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.NoOfDaysTaken, new { @class = "form-control", placeholder = "E.g 20", id = "noofdaytaken", @Value="" })
                                    @Html.ValidationMessageFor(m => m.NoOfDaysTaken, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Status, Model.AvailableStatus, new { @class = "form-control", id = "status" })
                                    @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="fileUpload btn btn-primary">
                            <span><span class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></span> Upload Image</span>
                            <input type="file" name="file" id="file" multiple class="upload" />
                        </div>
                    </div>
                    <div class="row" id="imagePlaceHolder">
                        @*<div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>*@
                    </div>
                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success btn-login-submit" value="Save Details" />
                        @Html.ActionLink("Cancel", "Update", "ServiceProvider", new { id = Model.ServiceProviderId }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
