﻿@using Clown.UI.Admin.Models
@using System.Collections.Generic
@model ModifyProjectViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Project - </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UpdateProject.css" rel="stylesheet" />
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/UpdateProject.js"></script>
</head>
<body>
    <div class="header" id="home">
        @Html.Partial("~/Views/Shared/_HeaderTop.cshtml")
    </div>
    <div class="main-part">
        <div class="container">
            <div class="row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink("Business", "Index", "ServiceProvider", null, new { @class = "btn btn-link btn-xs" }) > @Html.ActionLink(Model.ServiceproviderName, "Update", "ServiceProvider", new { id = Model.ServiceProviderId }, new { @class = "btn btn-link btn-xs" })
            </div>
            <div class="row">
                <h3>Update Project</h3>
                <div class="clearfix" style="margin-bottom:8px;"></div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <strong>Success !</strong> New project details are saved.
                    </div>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        @ViewData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("Update", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ProjectId);
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectName, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder = "Project name", id = "projectname" })
                                    @Html.ValidationMessageFor(m => m.ProjectName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Area, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Area, Model.AvailableAreas, new { @class = "form-control", id = "businesstype" })
                                    @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectCost, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ProjectCost, new { @class = "form-control", placeholder = "E.g 500000", id = "projectcost" })
                                    @Html.ValidationMessageFor(m => m.ProjectCost, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.HouseType, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.HouseType, Model.AvailableHouseType, new { @class = "form-control", id = "housetype" })
                                    @Html.ValidationMessageFor(m => m.HouseType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NoOfDaysTaken, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.NoOfDaysTaken, new { @class = "form-control", placeholder = "E.g 20", id = "noofdaytaken" })
                                    @Html.ValidationMessageFor(m => m.NoOfDaysTaken, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Status, Model.AvailableStatus, new { @class = "form-control", id = "status" })
                                    @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="fileUpload btn btn-primary">
                            <span><span class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></span> Upload Image</span>
                            <input type="file" name="file" id="file" multiple class="upload" />
                        </div>
                    </div>
                    <div class="row" id="imagePlaceHolder">
                        @*<div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>
                            <div class="col-sm-2" style="margin-bottom:10px;"><img src="https://clowncdn.blob.core.windows.net/images/thumb1.jpg" height="150" width="150"></div>*@
                    </div>
                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success btn-login-submit" value="Save Details" />
                        @Html.ActionLink("Cancel", "Update", "ServiceProvider", new { id = Model.ServiceProviderId }, new { @class = "btn btn-default" })
                    </div>
                }
                <div>
                    <h3>Project Images</h3>
                    <table class="table table-bordred table-striped" id="ProjectImages">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Image</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Clown.UI.Admin.Models.ProjectImageViewModel eachImage in Model.ProjectImages)
                            {
                                <tr id="@eachImage.ProjectImageId">
                                    <td style="display:none;">@eachImage.ProjectImageId</td>
                                    <td><img src="@eachImage.Link" alt="Alternate Text" height="50" width="50" style="margin:5px;" /> </td>
                                    <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs prjImageDelete" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h3 class="modal-title custom_align" id="Heading">Delete Image</h3>
                    <input type="hidden" id="DltProjImageId" />
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this image?</div>

                </div>
                <div class="modal-footer ">
                    <button id="DeleteProjectImage" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
