﻿.intro-header {
    background: transparent none no-repeat scroll center center;
    /*margin-bottom: 10px;*/
    background-image: url('/Content/Images/header-bg.jpg');
}

header {
    display: block;
}

.businessActions {
    padding-top: 350px;
    padding-bottom: 15px;
    color: #FFF;
}
.businessName
{
    font-size:30px;
    color:#fff;
    padding:5px 0 5px 0;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
}
.businessName span{
    font-size:12px;
    margin-bottom:20px;
}
div > .businessName
{
    border-bottom: solid 1px rgba(234,234,234,.25);
    margin-bottom:10px;
    
}
.ratting {
    font-size: 22px;
}

.sec_outerContainer {
    /*padding: 20px;*/
box-shadow: 0 0 4px #ccc;
margin-bottom: 40px;
margin-top: 0;
background: #fff;
}
.sec_innerContainer{
    border-bottom: solid 1px #e6e6e6;
padding-left:20px;
padding-right: 20px;
padding-bottom:20px;
padding-top:20px;
}
.sec_innerContainer ul li{
    list-style:none;
    line-height:25px;
}
.serviceOffered > div
{
    margin-top:10px;
}
.serviceOffered div i{
    font-size:20px;
    color:#979797;
}
.projectContainer {
    border: 1px solid #ccc;
    margin-bottom:20px;
}

.projectContent {
    padding: 10px;
}

.projectTittle {
    font-size: 14px;
    color: #000;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.projectLocation {
    color: #808080;
    font-size: 12px;
}

.projectDescription {
    margin-bottom: 10px;
    color: #000;
    margin-top:10px;
    font-size: 12px;
}

.projectDate
{
    color:#999;
    font-size:12px;
}

/*.affix {
      top: 51px;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }*/

body {
    position: relative;
    background-color:#fafafa;
}

.affix {
    top: 51px;
    width: 100%;
    z-index: 1000;
}

.navbar {
    margin-bottom: 5px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.navbar a {
    color: #808080;
}

.navbar-bold {
    background-color: #fafafa;
    border: medium none;
}

    .navbar-bold.affix {
        background-color: #fafafa;
    }

    .navbar-bold li {
    }

        .navbar-bold li.active {
            border-bottom: 4px solid #c0392b;
            margin-bottom: -1px;
            color: #000 !important;
        }

        .navbar-bold li a:hover {
            border-bottom: 4px solid #c0392b;
            margin-bottom: -1px;
        }
        .navbar-bold li.active a:focus
        {
            border-bottom:none;
        }
        .nav > li > a:focus
        {
            background-color:#fff !important;
        }

.icon-bar {
    background-color: #fff;
}

.scroll-down a, .scroll-top a {
    color: #ffffff;
}

.scroll-down {
    position: fixed;
    bottom: 20%;
    right: 0%;
    color: #f9f9f9;
}

.scroll-top {
    background-color: #33ee67;
}

#aniimated-thumbnials img{
    padding-bottom:15px;
    
}
img { opacity: 1.0; transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -webkit-transition: opacity 1s ease-in-out; } a:hover img { opacity: .6; transition: opacity .55s ease-in-out; -moz-transition: opacity .55s ease-in-out; -webkit-transition: opacity .55s ease-in-out; }
.testimonials blockquote {
    background: #f7f7f7 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0; 
    height: 0;
	right: 0;
	bottom: 0;
	content: " "; 
	display: block; 
	position: absolute;
    border-bottom: 20px solid #fff;    
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
    float:left;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    /*margin: 23px 0 7px;*/
    display:block;
}
    .testimonials span.testimonials-name span {
        margin-left:5px;
        font-size:11px;
    }
.testimonials span.testimonials-posted {
    color: #656565;
    font-size: 11px;
}
.testimonials div.testimonials-review
{
    font-size: 13px;
    margin-top:10px;
}
.offer-container
{
    margin-bottom:20px;
    
    padding-top:5px;
    padding-bottom:5px;
}
.offer-innerContainer
{
    border:1px solid #ccc;
    padding:10px;
}
.offer-description
{
    margin-bottom:10px;
}
.offer-tittle{
    color:#CC5251;
    font-size:16px;
    margin-bottom:20px;
}
.offer-expires
{
    font-size:12px;
    padding-top:7px;
    color:#CC5251;
}
.offer-views
{
    font-size:12px;
}
.viewall
{
    padding-top:10px;
    padding-bottom:10px;
}
