﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.btn-hover-alt {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/*Checkbox style starts*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] ~ .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked ~ .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled ~ .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/*Checkbox ends*/
input {
    margin: 0px;
    padding: 0px;
    font-family: "open_sansregular",Tahoma,Geneva,sans-serif;
    list-style-type: none;
    font-size: 13px !important;
}

.form-control:focus {
    border-color:none;
    outline: none;
    box-shadow: none;
}

.logo {
    width: 160px;
    height: 30px;
    background: transparent url("../Content/Images/dfLogo.png") repeat scroll 0% 0%;
    margin-top: 10px;
    margin-left: 0px;
}

#topnav ul li a {
    /*font-family: "opensans-semibold";*/
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-decoration: none;
}

/*.dropdown-menu {
    font-size: 13px;
}

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: #979595;
    }

    .dropdown-menu > li > form > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #333;
        white-space: nowrap;
    }

        .dropdown-menu > li > form > a:hover {
            color: #ffffff;
            text-decoration: none;
            background-color: #999;
        }*/

.validation-summary-errors ul {
    padding-left: 0;
}

    .validation-summary-errors ul li {
        list-style: none;
        text-align: center;
    }
/*--------------City Menu---------------*/
.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 5px 0px;
    left: 205px;
}

    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }

        .dropdown-menu-large > li > ul > li {
            list-style: none;
        }

            .dropdown-menu-large > li > ul > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.428571429;
                color: #333333;
                white-space: normal;
            }

    .dropdown-menu-large > li ul > li > a:hover,
    .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        /*color: #262626;
  background-color: #f5f5f5;*/
    }

    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }

        .dropdown-menu-large .disabled > a:hover,
        .dropdown-menu-large .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .dropdown-menu-large .dropdown-header {
        color: #000;
        font-size: 14px;
        display: block;
        text-transform: uppercase;
    }

.hide {
    display: none;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

        .dropdown-menu-large > li {
            margin-bottom: 30px;
        }

            .dropdown-menu-large > li:last-child {
                margin-bottom: 0;
            }

        .dropdown-menu-large .dropdown-header {
            padding: 3px 15px !important;
        }
}


table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "" !important;
}

table.dataTable thead .sorting_asc:after {
    content: "\E093" !important;
    font-size: 11px;
    font-weight: 100;
}

table.dataTable thead .sorting_desc:after {
    content: "\E094" !important;
    font-size: 11px;
    font-weight: 100;
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    color: #333 !important;
}


/*Light Gallery additional CSS*/


    .lg-backdrop.in {
        opacity: 0.85;
    }
    .fixed-size.lg-outer .lg-inner {
      background-color: #FFF;
    }
    .fixed-size.lg-outer .lg-sub-html {
      position: absolute;
      text-align: left;
    }
    .fixed-size.lg-outer .lg-toolbar {
      background-color: transparent;
      height: 0;
    }
    .fixed-size.lg-outer .lg-toolbar .lg-icon {
      color: #FFF;
    }
    .fixed-size.lg-outer .lg-img-wrap {
      padding: 12px;
    }

.ui-group-buttons .or {
    position: relative;
    float: left;
    width: .3em;
    height: 1.3em;
    z-index: 3;
    font-size: 12px;
}

    .ui-group-buttons .or:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: 'or';
        background-color: #5a5a5a;
        margin-top: -.1em;
        margin-left: -.9em;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.55;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        border-radius: 500px;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    .ui-group-buttons .or:after {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: .3em;
        height: 2.84em;
        background-color: rgba(0,0,0,0);
        border-top: .6em solid #5a5a5a;
        border-bottom: .6em solid #5a5a5a;
    }

    .ui-group-buttons .or.or-lg {
        height: 1.3em;
        font-size: 16px;
    }

        .ui-group-buttons .or.or-lg:after {
            height: 2.85em;
        }

    .ui-group-buttons .or.or-sm {
        height: 1em;
    }

        .ui-group-buttons .or.or-sm:after {
            height: 2.5em;
        }

    .ui-group-buttons .or.or-xs {
        height: .25em;
    }

        .ui-group-buttons .or.or-xs:after {
            height: 1.84em;
            z-index: -1000;
        }

.ui-group-buttons {
    display: inline-block;
    vertical-align: middle;
}

    .ui-group-buttons:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .ui-group-buttons .btn {
        float: left;
        border-radius: 0;
    }

        .ui-group-buttons .btn:first-child {
            margin-left: 0;
            border-top-left-radius: .25em;
            border-bottom-left-radius: .25em;
            padding-right: 15px;
        }

        .ui-group-buttons .btn:last-child {
            border-top-right-radius: .25em;
            border-bottom-right-radius: .25em;
            padding-left: 15px;
        }