﻿.intro-header {
    background: transparent none no-repeat scroll center center;
    /*margin-bottom: 10px;*/
}

header {
    display: block;
}

.site-heading {
    text-align: center;
    padding: 150px 0;
    color: #FFF;
}
#txtBoxParam
{
    color:#000;
    font-weight:400;
    font-size:14px !important;
    font-family: 'Open Sans', sans-serif;
}
.formContainer {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 6px 8px 6px;
    background-image: none;
    width:850px;float: none; margin: 15px auto;
}
.formContainer input[type="text"]
{
    height:40px;
    width:450px;
    border-radius:3px 0 0 3px;
}
.formContainer button[type="submit"]
{
    height:40px;
    border-radius:0 3px 3px 0;
}
.formContainer button[type="button"]
{
    height:40px;
    border-radius:0 3px 3px 0;
}
.btn-select {
    position: relative;
    padding: 0;
    min-width: 300px;
    width: 100%;
    border-radius: 0;
    height:40px;
}

    .btn-select .btn-select-value {
        padding: 9px 12px;
        display: block;
        position: absolute;
        left: 0;
        right: 34px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
    }

    .btn-select .btn-select-arrow {
        float: right;
        line-height: 20px;
        padding: 10px 10px;
        top: 0;
    }

    .btn-select ul {
        display: none;
        background-color: white;
        color: black;
        clear: both;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: none !important;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 33px;
        z-index: 999;
    }

        .btn-select ul li {
            padding: 3px 6px;
            text-align: left;
        }

            .btn-select ul li:hover {
                background-color: #f4f4f4;
            }

            .btn-select ul li.selected {
                color: white;
            }

    /* Default Start */
    .btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
        border-color: #ccc;
    }

    .btn-select.btn-default ul li.selected {
        background-color: #ccc;
    }

    .btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
        background-color: white;
        /*border: #ccc 1px solid;*/
    }

    .btn-select.btn-default:hover, .btn-select.btn-default.active {
        background-color: #e6e6e6;
    }
    
/* Default End */
/*.form-control:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0 0 0 #555, 0 0 0 #555;
}*/

.fbItemContainer {
    border: 1px solid #ccc;
}

.fbItemContainer:hover
{
    border: 1px solid #CC5251;
}
.fbItemContent {
    padding: 2px 2px 5px 10px;
    background-color:#fff;
}

.fbItemBName {
    font-size: 16px;
    color: #000;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.fbItemLocation {
    color: #999;
    font-size:12px;
}

.fbItemServices {
    margin-top:10px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #000;
    min-height:20px;
}
#featuredCarpenters > div.container > div.header{
    padding-top:10px;
}
#featuredCarpenters > div.container > div.body{
    padding-bottom:30px;
}
#featuredCarpenters div.imgContainer
{
    /*padding-left:0;
    padding-right:0;*/
}
#featuredCarpenters div.carpenterListing
{
    margin-top:20px;
}
#featuredCarpenters div.carpenterListing > div
{
    background-color:#fff;
    border: 1px solid #ccc;
}
#featuredCarpenters div.carpenterListing > div:hover
{
    border: 1px solid #CC5251;
}
#featuredCarpenters div.carpenterDetails
{
    
}
.offer {
    padding: 8px 10px 8px 10px;
}

.offer-container {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.offer-container:hover
{
    -webkit-box-shadow: 0 1px 6px #CC5251;
    box-shadow: 0 1px 6px #CC5251;
    
}
.offer-header {
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}

.offer-body {
    padding: 5px 5px;
}

.offer-buinessName {
}

    .offer-buinessName a {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 3px solid #CC5251;
        line-height: 25px;
        color: #000;
        text-decoration:none;
        padding-top:10px;
    }
.offer-tittle
{
    padding-top:10px;
}
.offer-description {
    font-size:12px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

    .offer-tittle a {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        height: 95px;
        overflow: hidden;
    }

.offer-stats {
    height: 20px;
    line-height: 25px;
}

    .offer-stats div {
        padding-left: 0;
        padding-right: 0;
        font-size: 11px;
    }

.offer-footer {
    background-color: #F0F0F0;
    height: 60px;
    line-height: 70px;
}

    .offer-footer a {
        font-size: 11px;
        color: #3498DB;
    }

.ps-header {
    text-transform: uppercase;
    font-size: 21px;
    border-bottom: 1px solid #E5E5E5;
    padding: 0px 0px 3px 15px;
    margin-bottom: 17px;
}

.ps-body ul {
    margin-left:-40px;
    list-style: outside none none;
}

    .ps-body ul li {
        list-style: none;
        padding-bottom:20px;
        line-height: 22px;
    }
    .ps-body ul li a
    {
        display: block;
color: #666;
cursor:pointer;
    }
.interior-loan-icon
{
    width: 74px;
height: 79px;
margin: 0px auto;
background: transparent url("../Content/Images/1454415890_home.png") no-repeat scroll left top;
}
.emi{
    margin-top:20px;
}
.emitittle
{
    font-size: 16px;
color: #333;
}
.emiamount{
    padding: 10px 0px 30px;
margin: 0px;
font-size: 25px;
color: #333;
}


/*Custom Popover style*/
.popover {
      border: 1px solid #c0392b;
      border-radius:3px;
      max-width:376px;
      font-size:13px;
  }
  /* Popover Header */
  .popover-title {
      background-color: #73AD21; 
      color: #FFFFFF; 
      font-size: 28px;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background-color: #ffe8e6;
      color: #c0392b;
      padding: 3px;
  }
  /* Popover Arrow */
  .arrow {
      /*border-right-color: #c0392b !important;*/
  }
 .popover.bottom
 {
     left:0 !important;
 }
 .popover.bottom > .arrow
 {
     left:25px !important;
 }


