﻿
#forgotpwd-modal .modal-content
{
    border-radius: 0;
}
#forgotpwd-modal .modal-dialog
{
    width:350px;
    
}

#forgotpwd-modal .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

#forgotpwd-modal .modal-footer
{
    border-top:0;
}