﻿.breadcrumb {
  background: rgba(245, 245, 245, 0); 
  border: 0px solid rgba(245, 245, 245, 1); 
  border-radius: 25px; 
  display: block;
}
.offerWrapper {
    background: #FAFAFA none repeat scroll 0% 0%;
    padding-bottom: 40px;
}

.offerOuterContainer {
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.1);
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px 0px 9px;
    border-top: 0px none;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E6E6 #F0F0F0 #F0F0F0;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
}
.offerHeader
{
    padding: 5px 9px 1px 9px;
}
.offerHeader h4{
    color: #666;
}
.offerListing
{
    padding: 15px 25px 20px 25px;
   
    
}
.offerListingInnerContainer
{
    border-bottom: 1px solid #D7D7D7;
}
.offerTittle
{
    font-size:16px;
}
.offerExpires
{
    color:#a10d0d;
    font-size:11px;
}
.offerText
{
    margin-top:20px;
    margin-bottom:10px;
    min-height:100px;
    color:#494A4A;
}


i.glyphicon { display: inline; font-size: 1.125em; cursor: pointer; }
i.glyphicon-thumbs-up { color: #156409; }
i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 15px; }
i ~ span{
    padding-bottom:4px;
    font-size:1.5em;
}
.offerAttributes
{
    padding-right:5px;
    margin-top:5px;
}
.offerAttributes div{
    display:inline; margin-left:15px;
}
    .offerAttributes div i{
        font-size:1.2em;
    }
    .offerAttributes div a{
        color:#5A626D;
    }
