﻿.reviewWrapper {
    background: #FAFAFA none repeat scroll 0% 0%;
    padding-bottom: 40px;
}

.reviewContainerMain {
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.1);
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px 0px 9px;
    border-top: 0px none;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E6E6 #F0F0F0 #F0F0F0;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.reviewHeader {
    padding: 5px 9px 5px 9px;
    border-bottom:1px solid #f0f0f0;
    margin:10px;
}

    .reviewHeader h4 {
        color: #666;
    }

.review-filter a {
    margin-right: 10px;
    font-size: 14px;
    color: #2d2d2d;
    cursor:pointer;
}
.review-filter a.active{
    color: #cb202d;
}
    .review-filter a span {
       color:#9a9a9a;
       text-indent:3px;
    }
.review
{
    padding-left:20px;
    padding-right:20px;
    
}
.review_innerContainer
{
    margin-left:10px;
    margin-right:10px;
    border-bottom:1px solid #f0f0f0;
}
.breadcrumb {
    background: rgba(245, 245, 245, 0);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}
.carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 60px;
    padding: 3px;
    width: 60px;
}
.rating{
    font-size:16px;
    color:#f1d70a;
}
.reviewer-name
{
    font-size:16px;
    color:#cb202d;
}
.reviewed-on
{
    font-size:12px;
    color:#999;
}
.review-text
{
    padding-left:20px;
    padding-right:20px;
    margin-bottom:10px;
    margin-top:10px;
    color:#2d2d2d;
}
i.glyphicon { display: inline; font-size: 1.125em; cursor: pointer; }
i.glyphicon-thumbs-up { color: #1abc9c; }
i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 5px; }
i ~ span{
    padding-bottom:4px;
    font-size:1.5em;
}
.review-like
{
    padding-right:5px;
    margin-top:5px;
}