﻿.searchWrapper {
    background: #FAFAFA none repeat scroll 0% 0%;
    padding-bottom: 40px;
}

.searchContainerMain {
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.1);
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px 0px 9px;
    border-top: 0px none;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E6E6 #F0F0F0 #F0F0F0;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.searhRefineWarp {
    background: #EEE none repeat scroll 0% 0%;
    margin: 0px 9px;
}

.formContainer {
    padding: 8px 6px 8px 6px;
    margin-top: 5px;
    background-image: none;
}

/*.form-control:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0 0 0 #555, 0 0 0 #555;
}*/

.fbItemContainer {
    border: 1px solid #ccc;
}

.fbItemContent {
    padding: 10px;
}

.fbItemBName {
    font-size: 16px;
    color: #000;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.fbItemLocation {
    color: #999;
}

.fbItemServices {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
}

.btn-select {
    position: relative;
    padding: 0;
    min-width: 463px;
    width: 100%;
    border-radius: 0;
}

    .btn-select .btn-select-value {
        padding: 6px 12px;
        display: block;
        position: absolute;
        left: 0;
        right: 34px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
    }

    .btn-select .btn-select-arrow {
        float: right;
        line-height: 20px;
        padding: 6px 10px;
        top: 0;
    }

    .btn-select ul {
        display: none;
        background-color: white;
        color: black;
        clear: both;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: none !important;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 33px;
        z-index: 999;
    }

        .btn-select ul li {
            padding: 3px 6px;
            text-align: left;
        }

            .btn-select ul li:hover {
                background-color: #f4f4f4;
            }

            .btn-select ul li.selected {
                color: white;
            }

    /* Default Start */
    .btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
        border-color: #ccc;
    }

    .btn-select.btn-default ul li.selected {
        background-color: #ccc;
    }

    .btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
        background-color: white;
        /*border: #ccc 1px solid;*/
    }

    .btn-select.btn-default:hover, .btn-select.btn-default.active {
        background-color: #e6e6e6;
    }

#InteriorDesignerFilters ul {
    margin-left: -60px;
}

    #InteriorDesignerFilters ul li {
        list-style: none;
    }

.searchResultHeader {
    padding: 5px 9px 1px 9px;
}

    .searchResultHeader h4 {
        color: #666;
    }

#sortingFilterOptions ul {
    margin-left: -35px;
}

    #sortingFilterOptions ul li {
        list-style: none;
        line-height: 25px;
    }


.searchResultContainer
{
    padding:10px 9px;
}
.row-listing
{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #D7D7D7;
}
.row-listing:hover
{
    background-color:#f7f5f5;
}
.row-listing img {
    width: 100%;
    background-color: transparent;
    cursor:pointer;
}

.srpBusinessName
{
    font-size:18px;
}
.srpBusinessName a
{
    color:#333;
}
.srpBusinessName span
{
    font-size:11px;
    opacity:.8;
}
.srpLocation
{
    color:#666;
    font-size:12px;
    margin-top:3px;
}
.srpBusinessAttributes
{
    padding-top:10px;
    padding-bottom:5px;
    font-size:12px;
    color:#666;
    min-height:145px;
}
.srpBusinessAttributes div
{
    line-height:20px;
}
.srpBusinessAttributes div span, .srpBusinessAttributes div span a{
    font-size:14px;
    color:#000;
}
.img-shadow{
    background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0% 0%;
position: absolute;
height: 54px;
left: 0px;
bottom: 0px;
width: 221px;
padding-top:17px;
padding-left:10px;
color:#fff;
font-size:14px;
cursor:pointer;
}
.shortlisted{
    color:#4CAE4C !important;
}
.rating{
    font-size:16px;
    color:#f1d70a;
}
.ratting
{
    font-size:20px;
}
.breadcrumb {
  background: rgba(245, 245, 245, 0); 
  border: 0px solid rgba(245, 245, 245, 1); 
  border-radius: 25px; 
  display: block;
}
/* Badger
------------------------- */

[class*="badger"] {
    position: relative
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff;
    opacity:0.9;
}

.badger-left {
    border-top-left-radius: 6px
}

.badger-right {
    border-top-right-radius: 6px
}

.badger-left:after {
    left: 0;
    border-radius: 6px 0 6px 0
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px
}

.badger-danger:after {
    background: #d9534f
}

.badger-warning:after {
    background: #f0ad4e
}

.badger-success:after {
    background: #5cb85c
}

.badger-info:after {
    background: #5bc0de
}

.badger-inverse:after {
    background: #222
}

#asklogin-modal .modal-content, #contact-details-modal .modal-content, #review-modal .modal-content
{
    border-radius: 0;
}


#asklogin-modal .modal-header, #contact-details-modal .modal-header, #review-modal .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
    font-size:18px;
}

#asklogin-modal .modal-footer, #contact-details-modal .modal-footer, #review-modal .modal-footer
{
    padding:10px 20px 10px 20px;
    margin-top:0;
    border-top:0;
}