﻿.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.activities-heading {
    line-height: 18.5667px;
    border-bottom: 2px solid #DDD;
    padding: 10px 15px 9px 15px;
    color: #666;
}

.activity-feed {
    padding: 10px;
}

    .activity-feed .feed-item {
        position: relative;
        padding-bottom: 10px;
        padding-left: 15px;
        border-left: 2px solid #e4e8eb;
    }

        .activity-feed .feed-item:last-child {
            border-color: transparent;
        }

        .activity-feed .feed-item:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -6px;
            width: 10px;
            height: 10px;
            border-radius: 6px;
            background: #fff;
            border: 1px solid #11ae19;
        }

        .activity-feed .feed-item .date {
            position: relative;
            top: -5px;
            color: #8c96a3;
            text-transform: uppercase;
        }

        .activity-feed .feed-item .text {
            position: relative;
            top: -3px;
        }

        #home ul{
            margin-left:-35px;
        }
        #home ul li{
            list-style:none;
            margin-bottom:20px;
        }
        #home ul li div.review{
            padding:5px 5px; 
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }
