﻿body {
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    font-size: 10pt;
    color: #2D2D2D;
    /*min-width: 1000px;*/
    margin:0px;
    text-rendering:optimizeLegibility;
}
p
{
    box-sizing: border-box;
color: #424241;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: center;

}
h2{
    box-sizing: border-box;
color: #424241;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 22px;
font-weight: 800;
line-height: 26.4px;
margin-bottom: 22px;
margin-left: 0px;
margin-right: 0px;
margin-top: 20px;
text-align: center;
text-rendering: optimizelegibility;
text-transform: uppercase;

}
.cover{
    background-image:url(../Images/CoverPhoto2nd.jpg);
    height:500px;
    width:100%;
    background-repeat:no-repeat;
    display:block;
}
.chead{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(45, 45, 45, 0.8);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    box-sizing: border-box;
    color: #2D2D2D;
    display: block;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    font-size: 13.3333px;
    height: 60px;
    line-height: 18.6667px;
    position: absolute;
    text-rendering: optimizelegibility;
    width: 100%;
    z-index: 7;
}
.wrapper{
    box-sizing: border-box;
    font-size: 13.3333px;
    line-height: 18.6667px;
    margin-left: 0px;
    margin-right: 0px;
    width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
    margin:auto;
    height:50px;
}
.logo
{
    color: #ffffff;
    display: block;
    float:left;
    font-size: 13.3333px;
    line-height: 18.6667px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #CB202D;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-rendering: optimizelegibility;
    margin-top:10px;
}
.section
{
    color: #ffffff;
    display: block;
    float:right;
    font-size: 13.3333px;
    height: 60px;
    line-height: 18.6667px;
    text-rendering: optimizelegibility;
}
.section span
{
    color: #FFF;
    font-size: 13.3333px;
    line-height: 62px;
    text-decoration: none;
    text-decoration-color: #FFF;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-rendering: optimizelegibility;

}
.search_wrapper
{
    width: 1100px;
    margin:auto;
    height:250px;
}
.search_container
{
    /*width:530px; 
    background-color:whitesmoke; 
    border:1px solid #808080; 
    border-radius:4px; 
    height:50px;*/

    background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("../images/trans.png");
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto auto;
box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 9px -4px;
/*font-family: "open_sansregular",Tahoma,Geneva,sans-serif;*/
list-style-type: none;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
-moz-user-select: none;

}
.search_text {
    color: #FFF;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 54px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 150px;
    text-rendering: optimizelegibility;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
    width: 1120px;
}
.search_tag {
    color: #FFF;
    font-family: Arial,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    font-size: 13.3333px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 32px;
    opacity: 0.5;
    text-rendering: optimizelegibility;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
    text-transform: uppercase;
}
.btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(206, 42, 46, 0.9);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 140px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
}
.tools, .customers, .footer
{
    height:280px;
    background-repeat:no-repeat;
    display:block;

}
.tools_wrapper, .customers_Wrapper, .footer_wrapper  
{
    width: 1100px;
    margin:auto;
    height:250px;
}
.customers_Wrapper, .footer_wrapper
{
    padding-top:10px;
}
.footer{
    background-color:#323232;
}
.footer_col1 {
    box-sizing: border-box;
    color: #75787C;
    float: left;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24.1167px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 190px;
}
.footer_col1 ul {
    margin-top:5px;
    margin-left:-40px;
    }
.footer_col1 ul li
{
color: #75787C;
font-family: "Lato",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight:600;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
outline-color: #DDD;
outline-offset: -2px;
outline-style: none;
outline-width: 0px;
text-decoration: none;
text-decoration-color: #DDD;
text-decoration-line: none;
text-decoration-style: solid;
transition-delay: 0s;
transition-duration: 0.25s;
transition-property: all;
transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
 .footer_col1 ul li img{
        float:left;
        margin-right:5px;
        margin-top:4px;
        display:block;
    }
 .footer_col1 ul li span{
        display:inline-table;
    }
.col1{
    width:350px;
    vertical-align:top;
    margin-left:0px;
    display:inline-block;
    text-align:center;
}

.col1 Img{
    margin-top:50px;
}
.ctitle {
    color: #FFF;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 54px;
    text-rendering: optimizelegibility;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
    text-align:center;
}
.ctitle
{
    margin-top:50px;
}
.newsletter{
    background-color: #FFF;
background-image: none;
border-bottom-color: #34495E;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-width: 1 1 1 1;
border-left-color: #34495E;
border-left-style: none;
border-left-width: 0px;
border-right-color: #34495E;
border-right-style: none;
border-right-width: 0px;
border-top-color: #34495E;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: none;
border-top-width: 0px;
box-shadow: none;
box-sizing: border-box;
color: #34495E;
display: block;
float:left;
font-family: "Lato",Helvetica,Arial,sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-size: 22px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-synthesis: weight style;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-weight: 300;
height: 50px;
line-height: 29px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
transition-delay: 0s, 0s, 0s;
transition-duration: 0.25s, 0.25s, 0.25s;
transition-property: border, color, background-color;
transition-timing-function: cubic-bezier(0, 0, 1, 1), cubic-bezier(0, 0, 1, 1), cubic-bezier(0, 0, 1, 1);
width: 500px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

}
h5.title
{
    color:#9C9C9C;
    font-size:16px;
    margin-bottom:3px;
}

.phone_btm
{
    color:#75787C;
    font-size:13px;
    margin-top:3px;
    margin-left:10px;
    margin-bottom:3px;
    font-weight:600;
    margin-left:5px;
}
.phone_btm img
{
    float:left;
    margin-right:2px;
    margin-left:0px;
} 
h6.phone_newsletter {
    box-sizing: border-box;
    color: #75787C;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}
