﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/BusinessStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/BusinessScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lg-thumbnail.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>*@
    <script src="~/Scripts/StarRating.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="businessActions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="businessName">Bonito Designs <span class="label label-warning">Interior Designer</span></div>
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-success btn-outline" data-toggle="tooltip" title="Shortlist Business"><i class="glyphicon glyphicon-bookmark"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-default btn-outline" data-toggle="tooltip" title="Download Brouchers"><i class="glyphicon glyphicon-save"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-default btn-outline"><i class="fa fa-bullhorn"></i> &nbsp; Review</button>
                            </div>
                            <div class="col-md-4 text-right">
                                <div style="display:inline-block; margin-right:10px;">121 reviews</div>
                                <div style="display:inline-block;" class="ratting"><span class="label label-success">3.0</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-bold" data-spy="affix" data-offset-top="550">
        <div class="container inner_navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""></a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#businessdetail">Ovreview</a></li>
                        <li><a href="#project">Projects</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#location">Location</a></li>
                        <li><a href="#reviews">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>

    <div id="businessdetail" class="container sec_outerContainer">
        <h3>Business Details</h3>
        <div class="row">
            <div class="col-md-12 sec_innerContainer">
                <h4>Overview</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-md-12 sec_innerContainer">
                <div class="row">
                    <div class="col-md-6 ">
                        <h4>Business hours</h4>
                        <div>
                            <ul>
                                <li>Sun: 10:00 AM to 8:00 PM</li>
                                <li>Mon: 10:00 AM to 8:00 PM</li>
                                <li>Tue: 10:00 AM to 8:00 PM</li>
                                <li>Wed: 10:00 AM to 8:00 PM</li>
                                <li>Thr: 10:00 AM to 8:00 PM</li>
                                <li>Fri: 10:00 AM to 8:00 PM</li>
                                <li>Sat: 10:00 AM to 8:00 PM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Service Offered</h4>
                        <div class="row serviceOffered">
                            <div class="col-md-3 text-center">
                                <div><i class="fa fa-bed"></i></div>
                                <div>Resedental Interior</div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div><i class="fa fa-industry"></i></div>
                                <div>Commercial Interior</div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div><i class="fa fa-eye"></i></div>
                                <div>3D Visualization</div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div><i class="fa fa-cogs"></i></div>
                                <div>Modular Furniture</div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div><i class="fa fa-industry"></i></div>
                                <div>Commercial Interior</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="project" class="container sec_outerContainer">
        <h3>Projects <span class="badge">10</span></h3>
        <div class="row">
            <div class="col-md-3">
                <div class="projectContainer">
                    <div class="fbItemImage">
                        <img src="http://lorempixel.com/850/850/?random=123" height="250" width="261" alt="Bonito Designs" />
                    </div>
                    <div class="projectContent">
                        <div class="projectTittle">Interior work for 2bhk house</div>
                        <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                        <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                        <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="projectContainer">
                    <div class="fbItemImage">
                        <img src="http://lorempixel.com/850/850/?random=124" height="250" width="261" alt="Bonito Designs" />
                    </div>
                    <div class="projectContent">
                        <div class="projectTittle">Interior work for 2bhk house</div>
                        <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                        <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                        <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="projectContainer">
                    <div class="fbItemImage">
                        <img src="http://lorempixel.com/850/850/?random=125" height="250" width="261" alt="Bonito Designs" />
                    </div>
                    <div class="projectContent">
                        <div class="projectTittle">Interior work for 2bhk house</div>
                        <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                        <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                        <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="projectContainer">
                    <div class="fbItemImage">
                        <img src="http://lorempixel.com/850/850/?random=126" height="250" width="261" alt="Bonito Designs" />
                    </div>
                    <div class="projectContent">
                        <div class="projectTittle">Interior work for 2bhk house</div>
                        <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                        <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                        <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center viewall"><a class="btn btn-link"> View all</a></div>
        </div>
    </div>
    <div id="gallery" class="container sec_outerContainer">
        <h3>Gallery</h3>
        <div id="aniimated-thumbnials" class="row">
            <a href="http://lorempixel.com/850/850/?random=123">
                <img src="http://lorempixel.com/850/850/?random=123" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=124">
                <img src="http://lorempixel.com/850/850/?random=124" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=125">
                <img src="http://lorempixel.com/850/850/?random=125" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=126">
                <img src="http://lorempixel.com/850/850/?random=126" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=127">
                <img src="http://lorempixel.com/850/850/?random=127" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=128">
                <img src="http://lorempixel.com/850/850/?random=128" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=129">
                <img src="http://lorempixel.com/850/850/?random=129" class="col-md-2 img-responsive" />
            </a>
            <a href="http://lorempixel.com/850/850/?random=130">
                <img src="http://lorempixel.com/850/850/?random=130" class="col-md-2 img-responsive" />
            </a>
        </div>


        @*<div id="aniimated-thumbnials" class="row">
                <a href="http://lorempixel.com/850/850/?random=123">
                    <img src="http://lorempixel.com/850/850/?random=123" height="150" width="700" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=124" >
                    <img src="http://lorempixel.com/850/850/?random=124" height="150" class="col-md-2" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=125" >
                    <img src="http://lorempixel.com/850/850/?random=125" height="150" class="col-md-2" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=126">
                    <img src="http://lorempixel.com/850/850/?random=126" height="150" class="col-md-2" />
                </a>
            </div>*@


    </div>
    <div id="location" class="container sec_outerContainer">
        <h3>Location</h3>
        <div style="font-size:12px; padding:0 0 10px 0; text-align:center;">HSR Layout, Bangalore, Karnataka, In</div>
        <div id="map-canvas" style="width:100%; height:400px;"></div>
    </div>
    <div id="Offers" class="container sec_outerContainer">
        <h3>Offers <span class="badge">100</span></h3>
        <div class="row">
            <div class="col-md-6 offer-container">
                <div class="offer-innerContainer">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="http://lorempixel.com/850/850/?random=123" width="120">
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 offer-tittle">Bid Billion Day</div>
                                <div class="col-md-6 text-right offer-views"><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                            </div>

                            <div class="offer-description text-justify">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section</div>
                            <div class="row">
                                <div class="col-md-6"><a class="btn btn-danger ">See Details</a></div>
                                <div class="col-md-6 offer-expires text-right"><i class="glyphicon glyphicon-time"></i> Expires: 28 Dec</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 offer-container">
                <div class="offer-innerContainer">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="http://lorempixel.com/850/850/?random=123" width="120">
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 offer-tittle">Bid Billion Day</div>
                                <div class="col-md-6 text-right offer-views"><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                            </div>

                            <div class="offer-description text-justify">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section</div>
                            <div class="row">
                                <div class="col-md-6"><a class="btn btn-danger ">See Details</a></div>
                                <div class="col-md-6 offer-expires text-right"><i class="glyphicon glyphicon-time"></i> Expires: 28 Dec</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 text-center viewall"><a class="btn btn-link"> View all</a></div>
        </div>
    </div>

    <div id="reviews" class="container sec_outerContainer">
        <h3>Reviews <span class="badge">100</span></h3>
        <div class="row">
            <div class="col-md-6">
                <div class="testimonials">
                    <div class="active item">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="carousel-info">
                                        <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                        <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                        <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                    </div>

                                </div>
                            </div>


                        </blockquote>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials">
                    <div class="active item">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="carousel-info">
                                        <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                        <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                        <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                    </div>

                                </div>
                            </div>


                        </blockquote>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials">
                    <div class="active item">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="carousel-info">
                                        <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                        <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                        <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                    </div>

                                </div>
                            </div>


                        </blockquote>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials">
                    <div class="active item">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="carousel-info">
                                        <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                        <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                        <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                    </div>

                                </div>
                            </div>


                        </blockquote>

                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center viewall"><a class="btn btn-link"> View all</a></div>
        </div>
    </div>
</body>
</html>
