﻿@using Clown.Business.Entities
@model BusinessDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/BusinessStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/BusinessScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lg-thumbnail.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>*@
    <script src="~/Scripts/StarRating.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="businessActions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="businessName"><div class="pull-left" style="margin-right:10px;">@Model.Name</div> <span class="label label-warning" style="margin-bottom:30px;">@Model.BusinessType</span></div>
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-success btn-outline" data-toggle="tooltip" title="Shortlist Business"><i class="glyphicon glyphicon-bookmark"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-default btn-outline" data-toggle="tooltip" title="Download Brouchers"><i class="glyphicon glyphicon-save"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-default btn-outline"><i class="fa fa-bullhorn"></i> &nbsp; Review</button>
                            </div>
                            <div class="col-md-4 text-right">
                                <div style="display:inline-block; margin-right:10px;">@Model.Reviews.Count reviews</div>
                                <div style="display:inline-block;" class="ratting"><span class="label label-success">@(Model.Reviews.Count > 0 ? Model.Reviews.Average(e => e.Ratting) : 0) </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-bold" data-spy="affix" data-offset-top="550">
        <div class="container inner_navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""></a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#businessdetail">Ovreview</a></li>
                        <li><a href="#project">Projects</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#location">Location</a></li>
                        <li><a href="#reviews">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>

    <div id="businessdetail" class="container sec_outerContainer">
        <h3>Business Details</h3>
        <div class="row">
            <div class="col-md-12 sec_innerContainer">
                <h4>Overview</h4>
                <p>@Model.Description</p>
            </div>
            <div class="col-md-12 sec_innerContainer">
                <div class="row">
                    <div class="col-md-6 ">
                        <h4>Business hours</h4>
                        <div>
                            <ul>
                                <li>Sun: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Sunday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Sunday").EndTime.Value).ToString("hh:mm tt"))</li>
                                <li>Mon: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Monday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Monday").EndTime.Value).ToString("hh:mm tt"))</li>
                                <li>Tue: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Tuesday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Tuesday").EndTime.Value).ToString("hh:mm tt"))</li>
                                <li>Wed: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Wednesday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Wednesday").EndTime.Value).ToString("hh:mm tt"))</li>
                                <li>Thr: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Thrusday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Thrusday").EndTime.Value).ToString("hh:mm tt"))</li>
                                <li>Fri: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Friday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Friday").EndTime.Value).ToString("hh:mm tt"))</li>
                                <li>Sat: @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Saturday").StartTime.Value).ToString("hh:mm tt")) to @(DateTime.Today.Add(Model.WorkingHrs.SingleOrDefault(e => e.WeekDay == "Saturday").EndTime.Value).ToString("hh:mm tt"))</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Service Offered</h4>
                        <div class="row serviceOffered">
                            @foreach (var item in Model.ServiceOffered)
                            {
                                <div class="col-md-3 text-center">
                                    <div><i class="@item.ServiceIcon"></i></div>
                                    <div>@item.ServiceTypeName</div>
                                </div>
                            }
                            @*<div class="col-md-3 text-center">
                                    <div><i class="fa fa-bed"></i></div>
                                    <div>Resedental Interior</div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <div><i class="fa fa-industry"></i></div>
                                    <div>Commercial Interior</div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <div><i class="fa fa-eye"></i></div>
                                    <div>3D Visualization</div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <div><i class="fa fa-cogs"></i></div>
                                    <div>Modular Furniture</div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <div><i class="fa fa-industry"></i></div>
                                    <div>Commercial Interior</div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="project" class="container sec_outerContainer">
        <h3>Projects <span class="badge">@Model.Projects.Count</span></h3>
        <div class="row">
            @foreach (var item in @Model.Projects.Take(4))
            {
                <div class="col-md-3">
                    <div class="projectContainer">
                        <div class="fbItemImage">
                            <img src="@(item.ProjectImages.FirstOrDefault() != null ? item.ProjectImages.FirstOrDefault().ImageLink : "http://lorempixel.com/850/850/?random=127")" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="projectContent">
                            <div class="projectTittle">@item.ProjectTittle</div>
                            <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> @item.AreaName</div>
                            <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                            <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: <span style="display:block;margin-bottom:5px;"> @item.CreatedOn.ToString("dd MMM, yyyy")</span></div></div></div>
                        </div>
                    </div>
                </div>
            }
            @*<div class="col-md-3">
                    <div class="projectContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=123" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="projectContent">
                            <div class="projectTittle">Interior work for 2bhk house</div>
                            <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                            <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                            <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="projectContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=124" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="projectContent">
                            <div class="projectTittle">Interior work for 2bhk house</div>
                            <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                            <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                            <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="projectContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=125" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="projectContent">
                            <div class="projectTittle">Interior work for 2bhk house</div>
                            <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                            <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                            <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="projectContainer">
                        <div class="fbItemImage">
                            <img src="http://lorempixel.com/850/850/?random=126" height="250" width="261" alt="Bonito Designs" />
                        </div>
                        <div class="projectContent">
                            <div class="projectTittle">Interior work for 2bhk house</div>
                            <div class="projectLocation"><i class="glyphicon glyphicon-map-marker"></i> HSR layout</div>
                            <div class="projectDescription">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</div>
                            <div class="projectViewDetails"><div class="row"><div class="col-md-6"><a class="btn btn-danger ">See Details</a></div> <div class="col-md-6 text-right projectDate">Posted: 6th Feb</div></div></div>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-12 text-center viewall"><a class="btn btn-link"> View all</a></div>
        </div>
    </div>
    <div id="gallery" class="container sec_outerContainer">
        <h3>Gallery</h3>
        <div id="aniimated-thumbnials" class="row">
            @foreach (var item in @Model.Images)
            {
                <a href="@item.ImageUrl">
                    <img src="@item.ImageUrl" class="col-md-2 img-responsive" />
                </a>
            }
            @*<a href="http://lorempixel.com/850/850/?random=123">
                    <img src="http://lorempixel.com/850/850/?random=123" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=124">
                    <img src="http://lorempixel.com/850/850/?random=124" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=125">
                    <img src="http://lorempixel.com/850/850/?random=125" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=126">
                    <img src="http://lorempixel.com/850/850/?random=126" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=127">
                    <img src="http://lorempixel.com/850/850/?random=127" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=128">
                    <img src="http://lorempixel.com/850/850/?random=128" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=129">
                    <img src="http://lorempixel.com/850/850/?random=129" class="col-md-2 img-responsive" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=130">
                    <img src="http://lorempixel.com/850/850/?random=130" class="col-md-2 img-responsive" />
                </a>*@
        </div>


        @*<div id="aniimated-thumbnials" class="row">
                <a href="http://lorempixel.com/850/850/?random=123">
                    <img src="http://lorempixel.com/850/850/?random=123" height="150" width="700" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=124" >
                    <img src="http://lorempixel.com/850/850/?random=124" height="150" class="col-md-2" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=125" >
                    <img src="http://lorempixel.com/850/850/?random=125" height="150" class="col-md-2" />
                </a>
                <a href="http://lorempixel.com/850/850/?random=126">
                    <img src="http://lorempixel.com/850/850/?random=126" height="150" class="col-md-2" />
                </a>
            </div>*@


    </div>
    <div id="location" class="container sec_outerContainer">
        <h3>Location</h3>
        <div style="font-size:12px; padding:0 0 10px 0; text-align:center;">@Model.Area, @Model.City</div>
        <input type="hidden" id="hdnlattitude" value="@Model.Lattitude" /><input type="hidden" id="hdnlongitude" value="@Model.Longitude" />
        <div id="map-canvas" style="width:100%; height:400px;"></div>
    </div>
    <div id="Offers" class="container sec_outerContainer">
        <h3>Offers <span class="badge">@Model.Offers.Count()</span></h3>
        <div class="row">
            @foreach (var item in Model.Offers.Take(2))
            {
                <div class="col-md-6 offer-container">
                    <div class="offer-innerContainer">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@(item.Image != null ? item.Image : "http://lorempixel.com/850/850/?random=123")" width="120">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6 offer-tittle">@item.OfferTittle</div>
                                    <div class="col-md-6 text-right offer-views"><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                </div>

                                <div class="offer-description text-justify">@item.OfferDescription</div>
                                <div class="row">
                                    <div class="col-md-6"><a class="btn btn-danger ">See Details</a></div>
                                    <div class="col-md-6 offer-expires text-right"><i class="glyphicon glyphicon-time"></i> Expires: @item.EndDate.ToString("dd MMM, yyyy")</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
            @*<div class="col-md-6 offer-container">
                    <div class="offer-innerContainer">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="http://lorempixel.com/850/850/?random=123" width="120">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6 offer-tittle">Bid Billion Day</div>
                                    <div class="col-md-6 text-right offer-views"><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                </div>

                                <div class="offer-description text-justify">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section</div>
                                <div class="row">
                                    <div class="col-md-6"><a class="btn btn-danger ">See Details</a></div>
                                    <div class="col-md-6 offer-expires text-right"><i class="glyphicon glyphicon-time"></i> Expires: 28 Dec</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 offer-container">
                    <div class="offer-innerContainer">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="http://lorempixel.com/850/850/?random=123" width="120">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6 offer-tittle">Bid Billion Day</div>
                                    <div class="col-md-6 text-right offer-views"><i class="glyphicon glyphicon-eye-open"></i> 289 Views</div>
                                </div>

                                <div class="offer-description text-justify">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section</div>
                                <div class="row">
                                    <div class="col-md-6"><a class="btn btn-danger ">See Details</a></div>
                                    <div class="col-md-6 offer-expires text-right"><i class="glyphicon glyphicon-time"></i> Expires: 28 Dec</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@
            <div class="col-md-12 text-center viewall"><a class="btn btn-link"> View all</a></div>
        </div>
    </div>

    <div id="reviews" class="container sec_outerContainer">
        <h3>Reviews <span class="badge">@Model.Reviews.Count()</span></h3>
        <div class="row">
            @foreach (var item in Model.Reviews.Take(4))
            {
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="carousel-info">
                                            <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">@item.Ratting</span></span></div>
                                            <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: @item.CreatedOn.ToString("dd MMM, yyyy")</span></div>
                                            <div class="col-md-12 testimonials-review text-justify"><span>@item.Reviews</span></div>
                                        </div>

                                    </div>
                                </div>
                            </blockquote>

                        </div>
                    </div>
                </div>
            }
            @*<div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="carousel-info">
                                            <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                            <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                            <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                        </div>

                                    </div>
                                </div>


                            </blockquote>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="carousel-info">
                                            <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                            <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                            <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                        </div>

                                    </div>
                                </div>


                            </blockquote>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="carousel-info">
                                            <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                            <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                            <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                        </div>

                                    </div>
                                </div>


                            </blockquote>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="carousel-info">
                                            <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6"><span class="testimonials-name">Lina Mars <span class="label label-success">3.0</span></span></div>
                                            <div class="col-md-6 text-right"><span class="testimonials-posted">Reviewed On: 5th Feb</span></div>
                                            <div class="col-md-12 testimonials-review text-justify"><span>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</span></div>
                                        </div>

                                    </div>
                                </div>


                            </blockquote>

                        </div>
                    </div>
                </div>*@
            <div class="col-md-12 text-center viewall"><a class="btn btn-link"> View all</a></div>
        </div>
    </div>
</body>
</html>
