﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/OfferStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SearchScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <div class="offerWrapper">
        <div class="container">
            <div class="row navLink">
                <ol class="breadcrumb bread-primary ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Bonito Designs</a></li>
                    <li class="active">Offers</li>
                </ol>
            </div>
            <div class="offerOuterContainer">
                <div class="offerHeader">
                    <div class="row">
                        <div class="col-md-12"><span style="font-size:18px;margin-top:10px;display:block;">Offers from Bonito Designs</span></div>
                    </div>
                </div>
                <div class="offerResultContainer">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12 offerListing">
                                    <div class="offerListingInnerContainer">
                                        <div class="row" style="margin-bottom:20px;">
                                            <div class="col-md-3">
                                                <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=123">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="offerTittle">Falt 20% off on bill amount above 3L</div>
                                                        <div class="offerExpires"><i class="glyphicon glyphicon-time"></i> Expires: 28 Dec</div>
                                                        <div class="offerText">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section</div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="offerAttributes pull-left">
                                                            <span>
                                                                <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <span id="like1-bs3"></span>
                                                                <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <span id="dislike1-bs3"></span>
                                                            </span>
                                                            <div>
                                                                <i class="fa fa-comments"></i> <a>2 Comments</a>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 offerListing">
                                    <div class="offerListingInnerContainer">
                                        <div class="row" style="margin-bottom:20px;">
                                            <div class="col-md-3">
                                                <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=124">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="offerTittle">Falt 20% off on bill amount above 3L</div>
                                                        <div class="offerExpires"><i class="glyphicon glyphicon-time"></i> Expires: 28 Dec</div>
                                                        <div class="offerText">Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section</div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="offerAttributes pull-left">
                                                            <span>
                                                                <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <span id="like1-bs3"></span>
                                                                <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <span id="dislike1-bs3"></span>
                                                            </span>
                                                            <div>
                                                                <i class="fa fa-comments"></i> <a>2 Comments</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
