﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/SearchStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SearchScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <div class="searchWrapper">
        <div class="container">
            @*<div style="padding-top:10px; padding-bottom:10px; color:#979696; font-size:11px;">Home | {Carpenter} | {JP Nagar}</div>*@
            <div class="row">
                <ol class="breadcrumb bread-primary ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Bonito Designs</a></li>
                    <li class="active">Projects</li>
                </ol>
            </div>
            <div class="searchContainerMain">

                <div class="searchResultHeader">
                    <div class="row">
                        <div class="col-md-12"><span style="font-size:18px;margin-top:10px;display:block;">Projects</span><span style="color:#979696; font-size:10px;">* The interior work price is approximate</span></div>
                    </div>
                </div>
                <div class="searchResultContainer">
                    <div class="row" style="margin-left:0;">
                        <div class="col-md-10">
                            <div class="row" style="">
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0;">
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=123">
                                            <div class="img-shadow">
                                                <div class="pull-left">10 photos</div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <div class="srpBusinessName">2BHK Interior for Mr Anjan &nbsp;</div>
                                                    <div class="srpLocation">Anjanapura, JP Nagar</div>
                                                    <div class="srpBusinessAttributes">
                                                        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <div class="ratting"><span class="label label-success">4.5L</span></div>
                                                    <div style="padding-top:5px; padding-bottom:5px;"><a href="" style="color:#999; font-size:12px; ">60 days</a></div>
                                                </div>
                                                @*<div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#asklogin-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i>Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0; cursor:pointer;">
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=124">
                                            <div class="img-shadow">
                                                <div class="pull-left">30 photos</div>

                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="srpBusinessName">3BHK Interior work</div>
                                                            <div class="srpLocation">Anjanapura, JP Nagar</div>
                                                            <div class="srpBusinessAttributes">
                                                                
                                                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <div class="ratting"><span class="label label-success">3.0L</span></div>
                                                            <div style="padding-top:5px; padding-bottom:5px;"><a href="" style="color:#999; font-size:12px; ">60 Days</a></div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#contact-details-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i> Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
