﻿@using Clown.UI.UserApp.Models
@model RequestQuoteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/RequestQuoteStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/RequestQuoteScript.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <div>
        <div class="container">
            <div style="padding-top:10px; padding-bottom:10px;">Home | Request Quote</div>
            <div style="font-size:20px; margin-top:10px;" class="text-center"><p>Post your requirement for Interior design of your home</p></div>
            <div class="row">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" class="active">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                        <span class="round-tab">
                                            <i class="fa fa-home fa-lg"></i>
                                        </span>
                                    </a>
                                </li>

                                <li role="presentation" class="disabled">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                        <span class="round-tab">
                                            <i class="fa fa-bed"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </a>
                                </li>

                                <li role="presentation" class="disabled">
                                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        @using (Html.BeginForm("RequestQuote", "Action", FormMethod.Post, new { role = "form" }))
                        {
                            
                        
                        @*<form role="form">*@
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <div class="step1">
                                        <div class="row" style="margin-left:0; margin-right:0;">
                                            <div class="col-md-12" style="font-size:15px;"><p>Tell us about your house</p></div>
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    @Html.LabelFor(m=> m.HouseType, new { @class = "col-md-2 control-label" })
                                                    @*<label for="house_type" class="col-md-2 control-label">House type</label>*@
                                                    <div class="col-md-3">
                                                        @Html.DropDownListFor(m => m.HouseType, Model.AvailableHouseType, new { @class = "form-control", id = "house_type" })
                                                        @*<select id="house_type" name="house_type" class="form-control">
                                                            <option value="1">1 BHK</option>
                                                            <option value="2">2 BHK</option>
                                                            <option value="3">3 BHK</option>
                                                            <option value="4">4 BHK</option>
                                                        </select>*@
                                                    </div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                                <div class="form-group">

                                                    <label for="floor_plan" class="col-md-2 control-label">Floor plan</label>
                                                    <div class="col-md-3">
                                                        <input type="file" name="file" id="file" class="" />
                                                        @*<input type="file" class="" id="floor_plan" name="floor_plan">*@
                                                    </div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline text-center">
                                        <li><button type="button" class="btn btn-primary next-step">Continue</button></li>
                                    </ul>
                                </div>

                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <div class="step2">
                                        <div class="row">
                                            <div class="col-md-12" style="font-size:15px;"><p>What all furniture you need for your interior</p></div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.TVUnit)
                                                            @Html.LabelFor(m=> m.TVUnit)
                                                            @*<input type="checkbox" name="checkbox_tvunit" id="checkbox_tvunit" />
                                                            <label for="checkbox_tvunit">TV Unit</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="tv_container">
                                                @Html.LabelFor(m => m.TVUnitQnty, new { @class = "col-md-1 control-label text-left" })
                                                @*<label for="tv_qnty" class="col-md-1 control-label" style="text-align:left;">Quantity</label>*@
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(m => m.TVUnitQnty, Model.AvailableTVUnitQuantity, new { @class="form-control"})
                                                    @*<select id="tv_qnty" name="tv_qnty" class="form-control">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>*@
                                                </div>
                                                <div class="col-md-8"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.CrockeryUnit)
                                                            @Html.LabelFor(m => m.CrockeryUnit)
                                                            @*<input type="checkbox" name="checkbox_crockery" id="checkbox_crockery" />
                                                            <label for="checkbox_crockery">Crockery Unit</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="crockery_container">
                                                @Html.LabelFor(m => m.CrockeryUnitLength, new { @class = "col-md-1 control-label" })
                                                @*<label for="crockery_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.CrockeryUnitLength, new { @class = "form-control" })
                                                    @*<input type="text" name="crockery_length" value="" id="crockery_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.CrockeryUnitHeight, new { @class = "col-md-1 control-label" })
                                                @*<label for="crockery_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.CrockeryUnitHeight, new { @class = "form-control" })
                                                    @*<input type="text" name="crockery_height" value="" id="crockery_height" class="form-control" />*@
                                                </div>
                                                <div class="col-md-8"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.PujaUnit)
                                                            @Html.LabelFor(m => m.PujaUnit)
                                                            @*<input type="checkbox" name="checkbox_poojaunit" id="checkbox_poojaunit" />
                                                            <label for="checkbox_poojaunit">Pooja Unit</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="poojaunit_container">
                                                @Html.LabelFor(m => m.PujaUnitLength, new { @class = "col-md-1 control-label" })
                                                @*<label for="pooja_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.PujaUnitLength, new { @class = "form-control" })
                                                    @*<input type="text" name="pooja_length" value="" id="pooja_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.PujaUnitHeight, new { @class = "col-md-1 control-label" })
                                                @*<label for="pooja_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.PujaUnitHeight, new { @class = "form-control" })
                                                    @*<input type="text" name="pooja_height" value="" id="pooja_height" class="form-control" />*@
                                                </div>
                                                <div class="col-md-8"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.ShoesRack)
                                                            @Html.LabelFor(m => m.ShoesRack)
                                                            @*<input type="checkbox" name="checkbox_shoesrack" id="checkbox_shoesrack" />
                                                            <label for="checkbox_shoesrack">Shoes Rack</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="shoesrack_container">
                                                @Html.LabelFor(m => m.ShoesRackLength, new { @class = "col-md-1 control-label" })
                                                @*<label for="sr_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.ShoesRackLength, new { @class = "form-control" })
                                                    @*<input type="text" name="sr_length" value="" id="sr_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.ShoesRackHeight, new { @class = "col-md-1 control-label" })
                                                @*<label for="sr_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.ShoesRackHeight, new { @class = "form-control" })
                                                    @*<input type="text" name="sr_height" value="" id="sr_height" class="form-control" />*@
                                                </div>
                                                <div class="col-md-8"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.Wardrobe)
                                                            @Html.LabelFor(m => m.Wardrobe)
                                                            @*<input type="checkbox" name="checkbox_wardrobe" id="checkbox_wardrobe" />
                                                            <label for="checkbox_wardrobe">Wardrobe</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="wardrobe_container_br1">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m=> m.WardrobeBedroom1)
                                                        @*<input type="checkbox" value="" checked id="bedroom1">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 1
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom1Length, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr1_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom1Length, new { @class = "form-control" })
                                                    @*<input type="text" name="wr1_length" value="" id="wr1_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom1Height, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr1_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom1Height, new { @class = "form-control" })
                                                    @*<input type="text" name="wr1_height" value="" id="wr1_height" class="form-control" />*@
                                                </div>
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom1Loft)
                                                        @*<input type="checkbox" value="" checked id="loft1">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Loft
                                                    </label>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-group" id="wardrobe_container_br2">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom2)
                                                        @*<input type="checkbox" value="" checked id="bedroom2">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 2
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom2Length, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr2_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom2Length, new { @class = "form-control" })
                                                    @*<input type="text" name="wr2_length" value="" id="wr2_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom2Height, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr2_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom2Height, new { @class = "form-control" })
                                                    @*<input type="text" name="wr2_height" value="" id="wr2_height" class="form-control" />*@
                                                </div>
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom2Loft)
                                                        @*<input type="checkbox" value="" checked id="loft2">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Loft
                                                    </label>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-group" id="wardrobe_container_br3">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom3)
                                                        @*<input type="checkbox" value="" checked id="bedroom3">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 3
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom3Length, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr3_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom3Length, new { @class = "form-control" })
                                                    @*<input type="text" name="wr3_length" value="" id="wr3_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom3Height, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr3_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom3Height, new { @class = "form-control" })
                                                    @*<input type="text" name="wr3_height" value="" id="wr3_height" class="form-control" />*@
                                                </div>
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom3Loft)
                                                        @*<input type="checkbox" value="" checked id="loft3">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Loft
                                                    </label>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-group" id="wardrobe_container_br4">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom4)
                                                        @*<input type="checkbox" value="" checked id="bedroom4">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 4
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom4Length, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr4_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom4Length, new { @class = "form-control" })
                                                    @*<input type="text" name="wr4_length" value="" id="wr4_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.WardrobeBedroom4Height, new { @class = "col-md-1 control-label" })
                                                @*<label for="wr4_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.WardrobeBedroom4Height, new { @class = "form-control" })
                                                    @*<input type="text" name="wr4_height" value="" id="wr4_height" class="form-control" />*@
                                                </div>
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WardrobeBedroom4Loft)
                                                        @*<input type="checkbox" value="" checked id="loft4">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Loft
                                                    </label>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.Cot)
                                                            @Html.LabelFor(m => m.Cot)
                                                            @*<input type="checkbox" name="checkbox_cot" id="checkbox_cot" />*@
                                                            @*<label for="checkbox_cot">Cot</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="cot_container_br1">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.CotBedroom1)
                                                        @*<input type="checkbox" value="" checked id="cot_bedroom1">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 1
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.CotBedroom1Size, new { @class = "col-md-1 control-label" })
                                                @*<label for="cot_br1_size" class="col-md-1 control-label">Size</label>*@
                                                <div class="col-md-2">
                                                    @Html.DropDownListFor(m => m.CotBedroom1Size, Model.AvailableCotSize, new { @class = "form-control" })
                                                    @*<select id="cot_br1_size" class="form-control">
                                                        <option value="value">King</option>
                                                        <option value="value">Queen</option>
                                                    </select>*@
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <div class="form-group" id="cot_container_br2">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.CotBedroom2)
                                                        @*<input type="checkbox" value="" checked id="cot_bedroom2">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 2
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.CotBedroom2Size, new { @class = "col-md-1 control-label" })
                                                @*<label for="cot_br2_size" class="col-md-1 control-label">Size</label>*@
                                                <div class="col-md-2">
                                                    @Html.DropDownListFor(m => m.CotBedroom2Size, Model.AvailableCotSize, new { @class = "form-control" })
                                                    @*<select id="cot_br2_size" class="form-control">
                                                        <option value="value">King</option>
                                                        <option value="value">Queen</option>
                                                    </select>*@
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <div class="form-group" id="cot_container_br3">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.CotBedroom3)
                                                        @*<input type="checkbox" value="" checked id="cot_bedroom3">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 3
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.CotBedroom3Size, new { @class = "col-md-1 control-label" })
                                                @*<label for="cot_br3_size" class="col-md-1 control-label">Size</label>*@
                                                <div class="col-md-2">
                                                    @Html.DropDownListFor(m => m.CotBedroom3Size, Model.AvailableCotSize, new { @class = "form-control" })
                                                    @*<select id="cot_br3_size" class="form-control">
                                                        <option value="value">King</option>
                                                        <option value="value">Queen</option>
                                                    </select>*@
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <div class="form-group" id="cot_container_br4">
                                                <div class="checkbox col-md-2">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.CotBedroom4)
                                                        @*<input type="checkbox" value="" checked id="cot_bedroom4">*@
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        Bedroom 4
                                                    </label>
                                                </div>
                                                @Html.LabelFor(m => m.CotBedroom4Size, new { @class = "col-md-1 control-label" })
                                                @*<label for="cot_br4_size" class="col-md-1 control-label">Size</label>*@
                                                <div class="col-md-2">
                                                    @Html.DropDownListFor(m => m.CotBedroom4Size, Model.AvailableCotSize, new { @class = "form-control" })
                                                    @*<select id="cot_br4_size" class="form-control">
                                                        <option value="value">King</option>
                                                        <option value="value">Queen</option>
                                                    </select>*@
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-warning">
                                                            @Html.CheckBoxFor(m => m.Kitchen)
                                                            @Html.LabelFor(m => m.Kitchen)
                                                            @*<input type="checkbox" name="checkbox_kitchen" id="checkbox_kitchen" />*@
                                                            @*<label for="checkbox_kitchen">Kitchen</label>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="form-group" id="kitchen_container">
                                                @Html.LabelFor(m => m.KitchenType, new { @class = "col-md-1 control-label" })
                                                @*<label for="kitchen_type" class="col-md-1 control-label">Kitchen Type</label>*@
                                                <div class="checkbox col-md-2">
                                                    @Html.DropDownListFor(m => m.KitchenType, Model.AvailableKitchenType, new { @class = "form-control" })
                                                    @*<select id="kitchen_type" name="kitchen_type" class="form-control">
                                                        <option value="value">Straight</option>
                                                        <option value="value">U Shaped</option>
                                                        <option value="value">L Shaped</option>
                                                        <option value="value">Parallel</option>
                                                    </select>*@
                                                </div>
                                                @Html.LabelFor(m => m.KitchenLength, new { @class = "col-md-1 control-label" })
                                                @*<label for="kitchen_length" class="col-md-1 control-label">Length (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.KitchenLength, new { @class = "form-control" })
                                                    @*<input type="text" name="kitchen_length" value="" id="kitchen_length" class="form-control" />*@
                                                </div>
                                                @Html.LabelFor(m => m.KitchenHeight, new { @class = "col-md-1 control-label" })
                                                @*<label for="kitchen_height" class="col-md-1 control-label">Height (ft)</label>*@
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.KitchenHeight, new { @class = "form-control" })
                                                    @*<input type="text" name="kitchen_height" value="" id="kitchen_height" class="form-control" />*@
                                                </div>
                                                
                                                <div class="col-md-5"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="details" class="col-md-1 control-label" style="text-align:left;">Details</label>
                                                <div class="col-md-5">
                                                    @Html.TextAreaFor(m => m.Details, new { @class = "form-control" })
                                                    @*<textarea id="details" class="form-control"></textarea>*@
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                        </div>
                                        @*<div class="step-22">

                                        </div>*@
                                    </div>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="button" class="btn btn-primary next-step">Continue</button></li>
                                    </ul>
                                </div>

                                <div class="tab-pane" role="tabpanel" id="step3">
                                    <div class="step2">
                                        <div class="row">
                                            <div class="col-md-12" style="font-size:15px;"><p>Tell us about yourself</p></div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="house_type" class="col-md-2 control-label">Name</label>
                                                <div class="col-md-3">
                                                    <input type="text" name="username" value=" " class="form-control" />
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="useremail" class="col-md-2 control-label">Email</label>
                                                <div class="col-md-3">
                                                    <input type="text" name="useremail" value=" " class="form-control" />
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="userphone" class="col-md-2 control-label">Phone</label>
                                                <div class="col-md-3">
                                                    <input type="text" name="userphone" value=" " class="form-control" />
                                                </div>
                                                <div class="col-md-7"></div>
                                            </div>
                                        </div>
                                        </div>
                                        <ul class="list-inline pull-right">
                                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                            @*<li><button type="button" class="btn btn-default next-step">Skip</button></li>*@
                                            <li><button type="submit" class="btn btn-primary btn-info-full next-step">Continue</button></li>
                                        </ul>
                                    </div>
                                <div class="tab-pane" role="tabpanel" id="complete">
                                    <div class="step44">
                                        <h5>Completed</h5>


                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        @*</form>*@
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
