﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/ReviewStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ReviewScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <div class="reviewWrapper">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb bread-primary ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Bonito Designs</a></li>
                    <li class="active">Reviews</li>
                </ol>
            </div>
            <div class="reviewContainerMain">
                <div class="row">
                    <div class="col-md-10">
                        <div class="reviewHeader">
                            <div class="row">
                                <div class="col-md-12"><h3>Reviews</h3></div>
                                <div class="col-md-12 review-filter"><a class="active">All <span>200</span></a><a>Popular <span>100</span></a> <div class="pull-right">Date <i class="fa fa-arrow-down"></i></div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 review">
                                <div class="review_innerContainer">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="carousel-info">
                                                <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="reviewer-name">Lia Mark</div>
                                            <div class="reviewed-on"><i class="fa fa-calendar"></i> Reviewed On: 5 Feb</div>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                            </div>
                                            <div class="review-like">
                                                <span>
                                                    <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <span id="like1-bs3"></span>
                                                    <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <span id="dislike1-bs3"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 review-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 review">
                                <div class="review_innerContainer">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="carousel-info">
                                                <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="reviewer-name">Lia Mark</div>
                                            <div class="reviewed-on"><i class="fa fa-calendar"></i> Reviewed On: 5 Feb</div>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                            </div>
                                            <div class="review-like">
                                                <span>
                                                    <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <span id="like1-bs3"></span>
                                                    <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <span id="dislike1-bs3"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 review-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 review">
                                <div class="review_innerContainer">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="carousel-info">
                                                <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="reviewer-name">Lia Mark</div>
                                            <div class="reviewed-on"><i class="fa fa-calendar"></i> Reviewed On: 5 Feb</div>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                            </div>
                                            <div class="review-like">
                                                <span>
                                                    <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <span id="like1-bs3"></span>
                                                    <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <span id="dislike1-bs3"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 review-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                
            </div>
        </div>

    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
