﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/SearchStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SearchScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lg-thumbnail.min.js"></script>*@
    
    <script src="~/Scripts/StarRating.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    @*Body Starts here*@
    <div class="searchWrapper">
        <div class="container">
            @*<div style="padding-top:10px; padding-bottom:10px; color:#979696; font-size:11px;">Home | {Carpenter} | {JP Nagar}</div>*@
            <div class="row">
                <ol class="breadcrumb bread-primary ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Carpenter</a></li>
                    <li class="active">JP Nagar</li>
                </ol>
            </div>
            <div class="searchContainerMain">
                <div class="searhRefineWarp">
                    <div class="searchRefinePanel">
                        <div class="formContainer">
                            <ul class="nav pull-left" style="margin-right:5px;">
                                <li class="dropdown">
                                    <a class="dropdown-toggle btn btn-default" href="#" data-toggle="dropdown" style="color:#666; background-color:#EEE; padding:6px 12px;"><i class="fa fa-sliders"></i> Refine <span class="badge">1</span></a>
                                    <div id="refineOptions" class="dropdown-menu" style="padding: 10px; min-width: 450px; border-radius:0; font-size:12px;">
                                        <div id="InteriorDesignerFilters" class="row">
                                            <div class="col-md-6">
                                                <div><h4>Offers</h4></div>
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="Offers">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Have offers
                                                                </label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div><h4>Services</h4></div>
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="visulatization">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    3D Visualization
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="commercial">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Commercial Interior
                                                                </label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" placeholder="Business Name, Location.." style="width:475px; border-radius:0;">
                                </div>
                                <div class="form-group" style="margin-left:0.05em;">
                                    <a class="btn btn-default btn-select" style="min-width:438px;">
                                        <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                        <span class="btn-select-value">Business Type</span>
                                        <span class='btn-select-arrow fa fa-angle-down'></span>
                                        <ul>
                                            <li>Interior Designer</li>
                                            <li>Interior Designing Company</li>
                                            <li>Carpenter</li>
                                            <li>Furnishing House</li>
                                            <li>Furniture Store</li>
                                        </ul>
                                    </a>
                                </div>
                                <button type="submit" class="btn btn-danger" style="border-radius:0;"><i class="fa fa-search"></i> Find</button>

                                @*<span class="btn btn-default" style="color:#666; background-color:#EEE;"><i class="fa fa-sliders"></i> Refine</span>*@
                            </form>
                        </div>
                    </div>
                </div>
                <div class="searchResultHeader" >
                    <div class="row">
                        <div class="col-md-6"><span style="font-size:18px;margin-top:10px;display:block;">413 carpenters found in JP Nagar</span><span style="color:#979696; font-size:10px;">* The per sft price is for a kitchen with marine plywood of reputed brand</span></div>
                        <div class="col-md-4" style="padding-right:5px;">
                            <div>
                                <ul class="nav pull-right" style="margin-right:5px; padding-top:5px;">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle btn" href="#" data-toggle="dropdown" style="color:#666; background-color:#FAFAFA; padding:6px 12px;">Sort By <i class="fa fa-angle-down"></i></a>
                                        <div id="sortingFilterOptions" class="dropdown-menu" style="padding: 10px; text-align:left;">
                                            <ul>
                                                <li>Nearest</li>
                                                <li>Per Sft rate</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 text-right" style="padding-left:5px;">
                            <div class="ui-group-buttons" style="padding-top:5px;">
                                <a href="" class="btn btn-success" role="button"><i class="fa fa-list"></i> List</a>
                                <div class="or"></div>
                                <a href="" class="btn btn-default" role="button"><i class="fa fa-map-o"></i> Map</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="searchResultContainer">
                    <div class="row" style="margin-left:0;">
                        <div class="col-md-10">
                            <div class="row" style="">
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0;">
                                            <div class="badger-right badger-success" data-badger="Verified On Call"></div>
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=123">
                                            <div class="img-shadow">
                                                <div class="pull-left">10 photos</div>
                                                <div class="pull-right" style="margin-right:10px;margin-bottom:8px;"><span class="glyphicon glyphicon-bookmark"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <div class="srpBusinessName"><a href="/Action/Business">Bonito Designs</a> &nbsp;</div>
                                                    <div class="srpLocation">Anjanapura, JP Nagar &nbsp;&nbsp;&nbsp;<span><i class="fa fa-map-marker"></i> See on Map</span></div>
                                                    <div class="srpBusinessAttributes">
                                                        <div class="">In Business Since : <span>2010</span></div>
                                                        <div class="">Number of Projects :<span><a href="/Action/Projects">23</a></span></div>
                                                        <div class="">Running Offers : <span><a href="/Action/Offers">5</a></span></div>
                                                        <div>Service Offered : <span>Residental Interiors, Commercial Interiors, 3D Visualization...</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <div class="rating">
                                                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                        </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                        </span><span class="glyphicon glyphicon-star-empty"></span>
                                                    </div>
                                                    @*<div class="ratting"><span class="label label-success">4.5</span></div>*@
                                                    <div style="padding-top:5px; padding-bottom:5px;"><a href="/Action/Reviews" style="color:#999; font-size:12px; ">120 Reviews</a></div>
                                                    <div style="color:#5CB85C"><i class="fa fa-inr" style="color:#000;"></i> 1500 per sft</div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#asklogin-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i>Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0; cursor:pointer;">
                                            <div class="badger-right badger-success" data-badger="Verified On Call"></div>
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=124">
                                            <div class="img-shadow">
                                                <div class="pull-left">30 photos</div>
                                                <div class="pull-right" style="margin-right:10px;margin-bottom:8px;"><span class="glyphicon glyphicon-bookmark"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="srpBusinessName"><a href="/Action/Business">Intact Designs</a> <span class="label label-warning">sponcered</span></div>
                                                            <div class="srpLocation">Anjanapura, JP Nagar &nbsp;&nbsp;&nbsp;<span><i class="fa fa-map-marker"></i> See on Map</span></div>
                                                            <div class="srpBusinessAttributes">
                                                                <div class="">In Business Since : <span>2010</span></div>
                                                                <div class="">Number of Projects :<span><a href="/Action/Projects">23</a></span></div>
                                                                <div class="">Running Offers : <span><a href="/Action/Offers">5</a></span></div>
                                                                <div>Service Offered : <span>Residental Interiors, Commercial Interiors, 3D Visualization...</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <div class="rating">
                                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                                            </div>
                                                            @*<div class="ratting"><span class="label label-success">3.0</span></div>*@
                                                            <div style="padding-top:5px; padding-bottom:5px;"><a href="/Action/Reviews" style="color:#999; font-size:12px; ">120 Reviews</a></div>
                                                            <div style="color:#5CB85C"><i class="fa fa-inr" style="color:#000;"></i> 1200 per sft</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#contact-details-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i> Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0;">
                                            <div class="badger-right badger-success" data-badger="Verified On Call"></div>
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=123">
                                            <div class="img-shadow">
                                                <div class="pull-left">10 photos</div>
                                                <div class="pull-right" style="margin-right:10px;margin-bottom:8px;"><span class="glyphicon glyphicon-bookmark"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <div class="srpBusinessName"><a href="/Action/Business">Markit Interiors</a> &nbsp;</div>
                                                    <div class="srpLocation">Anjanapura, JP Nagar &nbsp;&nbsp;&nbsp;<span><i class="fa fa-map-marker"></i> See on Map</span></div>
                                                    <div class="srpBusinessAttributes">
                                                        <div class="">In Business Since : <span>2010</span></div>
                                                        <div class="">Number of Projects :<span><a href="/Action/Projects">23</a></span></div>
                                                        <div class="">Running Offers : <span><a href="/Action/Offers">5</a></span></div>
                                                        <div>Service Offered : <span>Residental Interiors, Commercial Interiors, 3D Visualization...</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <div class="rating">
                                                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                        </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                        </span><span class="glyphicon glyphicon-star-empty"></span>
                                                    </div>
                                                    @*<div class="ratting"><span class="label label-success">4.5</span></div>*@
                                                    <div style="padding-top:5px; padding-bottom:5px;"><a href="/Action/Reviews" style="color:#999; font-size:12px; ">120 Reviews</a></div>
                                                    <div style="color:#5CB85C"><i class="fa fa-inr" style="color:#000;"></i> 1500 per sft</div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#asklogin-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i>Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0; cursor:pointer;">
                                            <div class="badger-right badger-success" data-badger="Verified On Call"></div>
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=124">
                                            <div class="img-shadow">
                                                <div class="pull-left">30 photos</div>
                                                <div class="pull-right" style="margin-right:10px;margin-bottom:8px;"><span class="glyphicon glyphicon-bookmark"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="srpBusinessName"><a href="/Action/Business">DownArrow Designs</a> <span class="label label-warning">sponcered</span></div>
                                                            <div class="srpLocation">Anjanapura, JP Nagar &nbsp;&nbsp;&nbsp;<span><i class="fa fa-map-marker"></i> See on Map</span></div>
                                                            <div class="srpBusinessAttributes">
                                                                <div class="">In Business Since : <span>2010</span></div>
                                                                <div class="">Number of Projects :<span><a href="/Action/Projects">23</a></span></div>
                                                                <div class="">Running Offers : <span><a href="/Action/Offers">5</a></span></div>
                                                                <div>Service Offered : <span>Residental Interiors, Commercial Interiors, 3D Visualization...</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <div class="rating">
                                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                                            </div>
                                                            @*<div class="ratting"><span class="label label-success">3.0</span></div>*@
                                                            <div style="padding-top:5px; padding-bottom:5px;"><a href="/Action/Reviews" style="color:#999; font-size:12px; ">120 Reviews</a></div>
                                                            <div style="color:#5CB85C"><i class="fa fa-inr" style="color:#000;"></i> 1200 per sft</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#contact-details-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i> Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Body Ends here*@
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <!-- BEGIN # MODAL ASKLOGIN -->
    <div class="modal fade" id="asklogin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div style="text-align:center; color:#ff6a00;"><i class="fa fa-exclamation-circle fa-5x"></i></div>
                        </div>
                        <div class="col-md-12" style="margin-bottom:30px; margin-top:20px;">
                            <div style="text-align:center; font-size:14px;">To view the contact details you have to login</div>
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="" class="btn btn-success">Continue to login</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- END # MODAL ASKLOGIN -->
    <!-- BEGIN # MODAL CONTACTS -->
    <div class="modal fade" id="contact-details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div style="text-align:center; color:#5BC0DE;"><i class="fa fa-info-circle fa-5x"></i></div>
                        </div>
                        <div class="col-md-12" style="margin-bottom:30px; margin-top:20px;">
                            <div style="text-align:center; font-size:14px;">You can reach out to Bonito Designs on below contacts</div>
                            <div style="text-align:center; font-size:16px; margin-top:10px;">
                                <div><i class="fa fa-mobile"></i> 9538927046</div>
                                <div><i class="fa fa-mobile"></i> 9972599124</div>
                                <div><i class="fa fa-envelope-o"></i> bkpabi@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- END # MODAL CONTACTS -->
    <!-- BEGIN # MODAL REVIEW -->
    <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    Review Bonito Designs
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div style="font-size:16px;"><span class="control-lable">Your rating</span><div id="stars" class="starrr" style="display:inline; margin-left:20px;"></div>@*<span id="count">0</span> star(s)*@</div>
                            </div>
                            <div style="font-size:16px; margin-top:10px;">Review Comments</div>
                            <div>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="" class="btn btn-success">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END # MODAL REVIEW -->
</body>
</html>
