﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/SearchStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/css/lightgallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SearchScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    </div>
    <div class="searchWrapper">
        <div class="container">
            @*<div style="padding-top:10px; padding-bottom:10px; color:#979696; font-size:11px;">Home | {Carpenter} | {JP Nagar}</div>*@
            <div class="row">
                <ol class="breadcrumb bread-primary ">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shortlisted Business</li>
                </ol>
            </div>
            <div class="searchContainerMain">
                
                <div class="searchResultHeader">
                    <div class="row">
                        <div class="col-md-6"><span style="font-size:18px;margin-top:10px;display:block;">Shortlisted Businesss</span><span style="color:#979696; font-size:10px;">* The per sft price is for a kitchen with marine plywood of reputed brand</span></div>
                        <div class="col-md-4" style="padding-right:5px;">
                            <div>
                                <ul class="nav pull-right" style="margin-right:5px; padding-top:5px;">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle btn" href="#" data-toggle="dropdown" style="color:#666; background-color:#FAFAFA; padding:6px 12px;">Sort By <i class="fa fa-angle-down"></i></a>
                                        <div id="sortingFilterOptions" class="dropdown-menu" style="padding: 10px; text-align:left;">
                                            <ul>
                                                <li>Nearest</li>
                                                <li>Per Sft rate</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 text-right" style="padding-left:5px;">
                            <div class="ui-group-buttons" style="padding-top:5px;">
                                <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button"><i class="fa fa-list"></i> List</a>
                                <div class="or"></div>
                                <a href="http://www.jquery2dotnet.com" class="btn btn-default" role="button"><i class="fa fa-map-o"></i> Map</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searchResultContainer">
                    <div class="row" style="margin-left:0;">
                        <div class="col-md-10">
                            <div class="row" style="">
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0;">
                                            <div class="badger-right badger-success" data-badger="Verified On Call"></div>
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=123">
                                            <div class="img-shadow">
                                                <div class="pull-left">10 photos</div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <div class="srpBusinessName">Bonito Designs &nbsp;</div>
                                                    <div class="srpLocation">Anjanapura, JP Nagar &nbsp;&nbsp;&nbsp;<span><i class="fa fa-map-marker"></i> See on Map</span></div>
                                                    <div class="srpBusinessAttributes">
                                                        <div class="">In Business Since : <span>2010</span></div>
                                                        <div class="">Number of Projects :<span>23</span></div>
                                                        <div class="">Running Offers : <span>5</span></div>
                                                        <div>Service Offered : Residental Interiors, Commercial Interiors, 3D Visualization...</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <div class="rating">
                                                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                        </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                        </span><span class="glyphicon glyphicon-star-empty"></span>
                                                    </div>
                                                    @*<div class="ratting"><span class="label label-success">4.5</span></div>*@
                                                    <div style="padding-top:5px; padding-bottom:5px;"><a href="" style="color:#999; font-size:12px; ">120 Reviews</a></div>
                                                    <div style="color:#5CB85C"><i class="fa fa-inr" style="color:#000;"></i> 1500 per sft</div>
                                                    <div><a href="#" class="btn btn-sm btn-hover btn-link text-danger">Remove</a></div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#asklogin-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i>Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row-listing">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:0; cursor:pointer;">
                                            <div class="badger-right badger-success" data-badger="Verified On Call"></div>
                                            <img class="img-thumbnail" src="http://lorempixel.com/850/850/?random=124">
                                            <div class="img-shadow">
                                                <div class="pull-left">30 photos</div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="srpBusinessName">Bonito Designs</div>
                                                            <div class="srpLocation">Anjanapura, JP Nagar &nbsp;&nbsp;&nbsp;<span><i class="fa fa-map-marker"></i> See on Map</span></div>
                                                            <div class="srpBusinessAttributes">
                                                                <div class="">In Business Since : <span>2010</span></div>
                                                                <div class="">Number of Projects :<span>23</span></div>
                                                                <div class="">Running Offers : <span>5</span></div>
                                                                <div>Service Offered : Residental Interiors, Commercial Interiors, 3D Visualization...</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <div class="ratting"><span class="label label-success">3.0</span></div>
                                                            <div style="padding-top:5px; padding-bottom:5px;"><a href="" style="color:#999; font-size:12px; ">120 Reviews</a></div>
                                                            <div style="color:#5CB85C"><i class="fa fa-inr" style="color:#000;"></i> 1200 per sft</div>
                                                            <div><a href="#" class="btn btn-sm btn-hover btn-link text-danger">Remove</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#contact-details-modal">Contact Details</a>
                                                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#review-modal" style="border-color:#C0392B; color:#C0392B;">Review</a>
                                                            <a href="#" class="btn btn-md btn-hover btn-success"><i class="glyphicon glyphicon-save"></i> Download Brouches</a>
                                                            <a href="" class="btn btn-link" style="color:#999; font-size:12px;">Report</a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" checked id="bedroom1">
                                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                    Add to compare
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
