﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interioz | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/homesearch.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Interior design, Furniture, Plywood, Laminate, Kitchen Fittings, Modular Kitchen, Carpenters" />
</head>
<body>
    <div class="header" id="home">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href="http://localhost:1406"><img src="~/Content/Images/logo.png" alt="" /></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main-part">
        <div class="container" style="min-height:329px">
            @if (ViewData["ErrorMessage"] == null)
            {
                <p style="margin-top:20px; font-size:18px;">
                    Thank you for confirming your email. You can now login to --
                </p>
            }
            else
            {
                <p style="margin-top:20px; font-size:18px;">
                    @ViewData["ErrorMessage"]
                </p>
            }
            
        </div>
    </div>
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Useful Links</h4>
                    <ul>
                        <li><a href="#">Carpenters</a></li>
                        <li><a href="#">Interior Designers</a></li>
                        <li><a href="#">Furniture Stores</a></li>
                        <li><a href="#">Modular Kitchen</a></li>
                        <li><a href="#">Curtons</a></li>
                        <li><a href="#">Lightings</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Learn</h4>
                    <ul>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul><br />
                    <h4 class="title">Keep in touch</h4>
                    <div class="social-icons">
                        <a href="#"><i class="f_facebook"></i></a>
                        <a href="#"><i class="f_youtube"></i></a>
                        <a href="#"><i class="f_linkedin"></i></a>
                        <a href="#"><i class="f_googlepluse"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="title">Contact Us</h4>
                    <ul class="address">
                        <li><i class="f_phone"></i></li>
                        <li>0123456789</li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_msg"></i></li>
                        <li><a href="example@mail.com"> Verbal@gmail.com</a></li>
                    </ul>
                    <ul class="address">
                        <li><i class="f_location"></i></li>
                        <li>10th  Makram ebidRoad , <br>5th District,Nasr City,Cairo,Egypt</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>
