﻿@model Clown.UI.WebApp.Models.ForgotPasswordViewModel
@using (Ajax.BeginForm("ClownForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl != null ? ViewBag.ReturnUrl : Request.Url }, new AjaxOptions { InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, HttpMethod = "POST", OnBegin = "OnForgotPasswordAjaxBegin", OnComplete = "OnForgotPasswordAjaxComplete", UpdateTargetId = "ForgotPassword" }))
{
    @Html.AntiForgeryToken();
    <div id="ForgotformContainer" class="well">
        @*<form id="loginForm" method="POST" action="/Register/" novalidate="novalidate">*@
        @Html.ValidationSummary("")
        @if (ViewData["Message"] != null)
        {
            <div class="Signupsuccess"><span>@ViewData["Message"]</span></div>
        }
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input name="email" type="text" class="form-control" placeholder="Email id" required autofocus />
        </div>

        @*<div id="loginErrorMsg" class="alert alert-error hide"></div>*@
        <button id="forgotpasswordsubmit" type="submit" class="btn btn-success btn-block" style="margin-top:5px;">Send Reset Link</button>
        <button id="signinbackfp" type="button" class="btn btn-default btn-block">Back</button>
        @*</form>*@
    </div>
}

<script>
    $(document).ready(function () {
        $("#forgotpasswordsubmit").disable(false);
        $("#signinbackfp").on("click", function () {
            $("#loginformContainer").show();
            $("#loginright").show();
            $("#ForgotformContainer").hide();
        });
    });
    function OnForgotPasswordAjaxBegin() {
        $("#forgotpasswordsubmit").html('');
        $("#forgotpasswordsubmit").html('<img src="../../Content/Images/ajax-loader.gif" alt="" />');
        $("#forgotpasswordsubmit").disable(true);
    }
    function OnForgotPasswordAjaxComplete() {
        $("#forgotpasswordsubmit").disable(false);
        $("#forgotpasswordsubmit").html('');
        $("#forgotpasswordsubmit").html('Send Reset Link');
    }
</script>
<style>
    .validation-summary-errors {
        background-color: #FCF8E3;
        border: 1px solid #FBEED5;
        color: #aa7d31;
        display: block;
        font-size: 12px;
        line-height: 16.8px;
        margin-bottom: 5px;
        padding: 5px 7px 5px 5px;
        border-radius: 1px;
    }

        .validation-summary-errors ul {
            margin-left: -38px;
        }

            .validation-summary-errors ul li {
                list-style: none;
            }

</style>
