﻿@using Microsoft.AspNet.Identity
<style>
    .header-top {
        height: 50px;
    }

    .logo {
        height: 30px;
        margin-top: 8px;
        margin-right: 10px;
        width: 130px;
        cursor: pointer;
    }

    .usercity {
        height: 50px;
        cursor: pointer;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        vertical-align: top;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .top-menu {
        float: right;
        height: 50px;
        cursor: pointer;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        vertical-align: top;
        line-height: 50px;
        font-size: 15px;
    }

        .top-menu ul.main-menu {
            width: auto;
            height: 50px;
        }

            .top-menu ul.main-menu li.main-menu-item {
                display: inline;
                /*margin:0 14px;*/
            }

                .top-menu ul.main-menu li.main-menu-item a {
                    color: #fff;
                    font-size: 1.05em;
                    font-weight: 400;
                    text-decoration: none;
                }

                    .top-menu ul.main-menu li.main-menu-item a.active {
                        border-bottom: 3px solid #1c9fda;
                    }

                    .top-menu ul.main-menu li.main-menu-item a:hover {
                    }

        .top-menu ul li ul li a:hover {
            border-bottom: 0 solid #1c9fda;
            background-color: transparent !important;
        }

    .main-menu-item ul.sub-menu li.sub-menu-item a {
        color: rgba(0, 0, 0, 0.9);
    }

        .main-menu-item ul.sub-menu li.sub-menu-item a:hover {
            color: #75787C;
        }

    .main-menu-item ul.sub-menu {
        background-color: #FFF;
        margin-top: 5px;
    }

    .main-menu-item ul.dropdown-cart {
        margin-top: 8px;
    }

        .main-menu-item ul.dropdown-cart li a {
            color: rgba(0, 0, 0, 0.9);
        }

    ul.dropdown-cart li a {
        color: rgba(0, 0, 0, 0.9);
    }

    ul.dropdown-cart {
        min-width: 250px;
    }

        ul.dropdown-cart li .item {
            display: block;
            padding: 3px 5px;
            margin: 3px 0;
            line-height:25px;
        }

            ul.dropdown-cart li .item:hover {
                background-color: #f3f3f3;
            }

            ul.dropdown-cart li .item:after {
                visibility: hidden;
                display: block;
                font-size: 0;
                content: " ";
                clear: both;
                height: 0;
            }

        ul.dropdown-cart li .item-left {
            float: left;
        }

            ul.dropdown-cart li .item-left img,
            ul.dropdown-cart li .item-left span.item-info {
                float: left;
                color: rgba(0, 0, 0, 0.9);
            }

            ul.dropdown-cart li .item-left span.item-info {
                margin-left: 10px;
            }

                ul.dropdown-cart li .item-left span.item-info span {
                    display: block;
                }

        ul.dropdown-cart li .item-right {
            float: right;
        }

            ul.dropdown-cart li .item-right button {
                margin-top: 14px;
            }
</style>
<script>
    var _topurl = "http://localhost:1406/";
    //var _topurl = "http://clowndemo.azurewebsites.net/";
    $(document).ready(function () {
        $(".logo").click(function () {
            window.location.href = "/";
        });
        $("#SignupformContainer").hide();
        $("#signupright").hide();
        $("#ForgotformContainer").hide();
        GetWishList();
        $.ajax({
            url: '//freegeoip.net/json/',
            type: 'POST',
            dataType: 'jsonp',
            success: function (location) {
                GetUserCityInfo(location.ip);
            }
        });
    });
    
    function GetUserCityInfo(ip) {
        $.ajax({
            url: "http://freegeoip.net/json/"+ip,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                //alert(data.city);
                $(".usercity").html(data.city + '<span class="caret"></span>');
                if (window.location.href == _topurl) {
                    autocomplete(data.city);
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function GetWishList() {
        
        $.ajax({
            url: _topurl + "api/WishList/GetWishListForAUser",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(".baddge").html(data.length);
                $("ul.dropdown-cart").empty();
                for (var key in data) {
                    $("ul.dropdown-cart").append('<li><span class="item"><span class="item-left"><span class="item-info"><span style="font-size:13px;">' + data[key].BusinessName + '</span><span style="font-size:11px; color:#ccc;">' + data[key].BusinessType + '</span></span></span></span></li>');
                };

                $("ul.dropdown-cart").append('<li class="divider"></li>');
                $("ul.dropdown-cart").append('<li><a class="text-center" href="' + Refurl + '/WishList" style="color:#808080;">VIEW WISHLIST</a></li>');
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
</script>
<div class="header-top">
    <div class="container">
        <img src="~/Content/Images/logo.png" alt="" class="logo" />
        <div class="usercity"> </div>
        <div class="top-menu">
            @*<span class="menu"></span>*@
            <ul class="main-menu">
                @*<li><a class="active scroll" href="#shortcodes">Bangalore</a></li>*@
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown main-menu-item">
                        <a id="wishlisticon" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin-right:20px; margin-top:5px;"><span class="glyphicon glyphicon-bookmark"></span><span class="baddge" style="display:inline; margin-left:2px; position:absolute; font-size:11px; margin-top:-7px;"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                        </ul>
                    </li>
                    using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = Request.Url }, FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
                    {
                        @Html.AntiForgeryToken();
                    <li class="dropdown main-menu-item">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">@ViewData["FullName"]</a>
                        <ul class="dropdown-menu sub-menu">
                            <li class="text-left"><a href="~/Manage/ChangePassword" style="color:#808080;"><span class="glyphicon glyphicon-lock"></span>&nbsp;Change Password</a></li>
                            @*<li class="divider"></li>*@
                            <li class="text-left"><a href="~/Quote/TrackQuoteRequest" style="color:#808080;"><span class="glyphicon glyphicon glyphicon-file"></span>&nbsp;Quote Requests</a></li>
                            @*<li class="divider"></li>*@
                            <li class="text-left"><a href="javascript:document.getElementById('logoutForm').submit()" style="color:#808080;"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out</a></li>
                        </ul>
                    </li>
                    }
                }
                else
                {
                    <li class="main-menu-item"><a class="active scroll" href="#" data-toggle="modal" data-target="#basicModal">Log in</a></li>
                }
            </ul>
        </div>
    </div>
</div>


