﻿@model Clown.UI.WebApp.Models.LoginViewModel
@using (Ajax.BeginForm("ClownLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl != null ? ViewBag.ReturnUrl : Request.Url }, new AjaxOptions { InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, HttpMethod = "POST", OnBegin = "OnAjaxBegin", OnComplete = "OnAjaxComplete", OnFailure = "OnSigninFailure", UpdateTargetId = "login" }))
{
    @Html.AntiForgeryToken();
    <div id="loginformContainer" class="well">
        @Html.ValidationSummary("")
        @if (ViewData["Message"] != null)
        {
            <div>@ViewData["Message"]</div>
        }
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input name="username" type="text" class="form-control" placeholder="Email or Username" required autofocus />
        </div>
        <div class="input-group" style="margin-top:5px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input name="password" type="password" class="form-control" placeholder="Password" required />
        </div>
        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
        
        <div class="checkbox" style="font-size:12px; display:inline-block;">
            <label>
                <input type="checkbox" name="remember" id="remember" checked="checked"> Remember me
            </label>
        </div>
        <p class="help-block" style="float:right; font-size:12px; color:#ff6a00; margin-top:9px;"><a id="forgotpasswordlink" style="color:#ff6a00">Forgot Password?</a></p>
        <button id="signinsubmit" type="submit" class="btn btn-success btn-block">Login</button>
        <button id="signup" type="button" class="btn btn-default btn-block">Sign up</button>
    </div>
}

<script>
    // Disable function
    jQuery.fn.extend({
        disable: function (state) {
            return this.each(function () {
                this.disabled = state;
            });
        }
    });
    $(document).ready(function () {
        $("#signinsubmit").disable(false);
        $("#signup").on("click", function () {
            $("#loginformContainer").hide();
            $("#loginright").hide();
            $("#SignupformContainer").show();
            $("#signupright").show();
        });

        $("#forgotpasswordlink").on("click", function () {
            $("#loginformContainer").hide();
            $("#loginright").hide();
            $("#ForgotformContainer").show();
        });
    });
    

    function OnSigninFailure(x) {
        //alert(x.d);
    }
    function OnSigninResponse(xhr, status) {
        if (xhr.responsetext.contains("Invalid login attempt.")) {
            //window.location.href = "http://localhost:1406/home/BusinessDetails?spid=1";
        }
    }

    function OnAjaxBegin() {
        $("#signinsubmit").html('');
        $("#signinsubmit").html('<img src="../../Content/Images/ajax-loader.gif" alt="" />');
        $("#signinsubmit").disable(true);
    }
    function OnAjaxComplete() {
        $("#signinsubmit").disable(false);
        $("#signinsubmit").html('');
        $("#signinsubmit").html('Login');
    }
    
</script>

<style>
    .validation-summary-errors {
        background-color: #FCF8E3;
        border: 1px solid #FBEED5;
        color: #aa7d31;
        display: block;
        font-size: 12px;
        line-height: 16.8px;
        margin-bottom: 5px;
        padding: 5px 7px 5px 5px;
        border-radius: 1px;
    }

        .validation-summary-errors ul {
            margin-left: -38px;
        }

            .validation-summary-errors ul li {
                list-style: none;
            }
</style>
