﻿@model Clown.UI.WebApp.Models.RegisterViewModel
@using (Ajax.BeginForm("ClownRegistration", "Account", new { ReturnUrl = ViewBag.ReturnUrl != null ? ViewBag.ReturnUrl : Request.Url }, new AjaxOptions { InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, HttpMethod = "POST", OnBegin = "OnSignupAjaxBegin", OnComplete = "OnSignupAjaxComplete", UpdateTargetId = "Register" }))
{
    @Html.AntiForgeryToken()
    <div id="SignupformContainer" class="well">
        
        @Html.ValidationSummary("")
        @if (ViewData["Message"] != null)
        {
            <div class="Signupsuccess"><span>@ViewData["Message"]</span></div>
        }
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input name="firstname" type="text" class="form-control" placeholder="First Name" required autofocus />
        </div>
        <div class="input-group" style="margin-top:5px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input name="lastname" type="text" class="form-control" placeholder="Last Name" required autofocus />
        </div>
        <div class="input-group" style="margin-top:5px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input name="email" type="text" class="form-control" placeholder="Email id" required autofocus />
        </div>
        <div class="input-group" style="margin-top:5px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input name="password" type="password" class="form-control" placeholder="Password" required />
        </div>
        <div class="input-group" style="margin-top:5px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input name="cpassword" type="password" class="form-control" placeholder="Confirm Password" required />
        </div>

        @*<div id="loginErrorMsg" class="alert alert-error hide"></div>*@
        <button id="signupsubmit" type="submit" class="btn btn-success btn-block" style="margin-top:5px;">Sign up</button>
        <button id="signinback" type="button" class="btn btn-default btn-block">Sign in</button>
        @*</form>*@
    </div>
}

<script>
    $(document).ready(function () {
        $("#signupsubmit").disable(false);
        $("#signinback").on("click", function () {
            $("#loginformContainer").show();
            $("#loginright").show();
            $("#SignupformContainer").hide();
            $("#signupright").hide();
        });
    });
    function OnSignupAjaxBegin() {
        $("#signupsubmit").html('');
        $("#signupsubmit").html('<img src="../../Content/Images/ajax-loader.gif" alt="" />');
        $("#signupsubmit").disable(true);
    }
    function OnSignupAjaxComplete() {
        $("#signupsubmit").disable(false);
        $("#signupsubmit").html('');
        $("#signupsubmit").html('Sign up');
    }
</script>
<style>
    .validation-summary-errors, .Signupsuccess {
        background-color: #FCF8E3;
        border: 1px solid #FBEED5;
        color: #aa7d31;
        display: block;
        font-size: 12px;
        line-height: 16.8px;
        margin-bottom: 5px;
        padding: 5px 7px 5px 5px;
        border-radius: 1px;
    }

        .validation-summary-errors ul {
            margin-left: -38px;
        }

            .validation-summary-errors ul li {
                list-style: none;
            }
            .Signupsuccess{
                color:#499406;
                background-color:#c6e4ac;
                border: 1px solid #72e808;
                margin-bottom: 5px;
                font-size: 12px;
            }
</style>
