﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Decorefilk.com | One stop solution for all your interior needs</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Common.css" rel="stylesheet" />
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml");
    </div>
    <div class="container">
        @if (ViewData["ErrorMessage"] == null)
        {
            <p style="margin-top:20px; font-size:18px;">
                Thank you for confirming your email. @Html.ActionLink("Click here", "Login") to continue to login.
            </p>
        }
        else
        {
            <p style="margin-top:20px; font-size:18px;">
                @ViewData["ErrorMessage"]
            </p>
        }
    </div>
</body>
</html>
