﻿@using Clown.UI.UserApp.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/LoginStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/LoginScript.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml");
    </div>
    <div class="container">
        <div class="container-page">
            <div class="row">
                <div class="col-md-7" style="margin-top:20px;">

                </div>
                <div class="col-md-5" style="border-left:2px solid #eee; margin-top:20px;">
                    <section id="register">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4 style="line-height:40px;">Login</h4>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <a href="/Account/Register" style="line-height:60px; margin-top:10px; margin-bottom:10px; text-align:right;">Register</a>
                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="text-align:right; padding-top:7px;"><a data-toggle="modal" data-target="#forgotpwd-modal">Forgot Password?</a></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" style="text-align:right;">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="forgotpwd-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div style="text-align:center;"><h3 style="margin-top:5px;">FORGOT PASSWORD</h3></div>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <div style="text-align:center; font-size:14px;">Type your email</div>
                        </div>
                    </div>
                    <div id="forgotpwsSuccessMsg" class="alert alert-success" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Instruction for reset password sent to your email id.
                    </div>
                    <div id="forgotpwsErrorMsg" class="alert alert-danger" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Invalid email id.
                    </div>
                    <form>
                        <div class="form-group" style="">
                            @*<label for="exampleInputEmail1">Email address</label>*@
                            <input type="email" class="form-control" id="txtboxEmail" placeholder="Your email">
                        </div>
                        <button id="btnForgotpwd" type="button" class="btn btn-default btn-block">Submit</button>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->
</body>
</html>
