﻿@using Clown.UI.UserApp.Models
@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/RegisterStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml");
    </div>

    <div class="container">
        <div class="container-page">
            <div class="row">
                <div class="col-md-7" style="margin-top:20px; border-right:1px solid #eee;">
                    <section id="register">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 style="line-height:40px;">Register</h4>

                            @Html.ValidationSummary(true,"", new { @class = "text-danger" })
                            if (@ViewData["SuccessMsg"] != null)
                            {
                                <div class="alert alert-success">
                                    <strong>Success!</strong> @ViewData["SuccessMsg"]
                                </div>
                            }
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-12">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-12">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="col-md-10" style="padding-right:0; padding-left:0;">
                                        <div style="font-size:11px; color:#999; padding-top:12px;">By clicking on "Register" you agree to The Company's' <a href="#">Terms and Conditions</a>.</div>
                                    </div>
                                    <div class="col-md-2" style="padding-right:0; padding-left:0;">
                                        <input type="submit" class="btn btn-default pull-right" value="Register" />
                                    </div>
                                </div>
                            </div>
                        }
                    </section>
                </div>
                <div class="col-md-5" style="border-left:2px solid #eee; margin-top:20px;">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
