﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DecorFlick.com | One stop solution for all your interior & decore needs</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/UserProfileStyle.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/ProfileScript.js"></script>
</head>
<body>
    <div style="height:51px;">
        @Html.Partial("~/Views/Shared/_TopMenu.cshtml");
    </div>
    <div class="container">
        <div class="container-page">
            <div class="row">
                <div class="col-md-2 col-lg-2 " align="left"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive" height="150" width="150" style="height:100; width:100;"> </div>
                <div class=" col-md-10 col-lg-10">
                    <h2>Nicole Pearson</h2>
                    <small>
                        <cite title="San Francisco, USA">
                            <i class="glyphicon glyphicon-map-marker" style="margin-right:5px;">
                            </i>San Francisco, USA
                        </cite>
                    </small>
                    <p>
                        <i class="glyphicon glyphicon-envelope" style="margin-right:5px;"></i>email@example.com
                        <br />
                        <i class="glyphicon glyphicon-gift" style="margin-right:5px;"></i>June 02, 1988
                    </p>
                </div>
                @*<div class="col-md-10">
                        <div class="well profile">
                            <div class="col-sm-12">
                                <div class="col-xs-12 col-sm-8">
                                    <h2>Nicole Pearson</h2>
                                    <p><strong>About: </strong> Web Designer / UI. </p>
                                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                                    <p>
                                        <strong>Skills: </strong>
                                        <span class="tags">html5</span>
                                        <span class="tags">css3</span>
                                        <span class="tags">jquery</span>
                                        <span class="tags">bootstrap3</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-9">
                    <!-- Nav tabs --><div class="card">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Reviews <span class="label label-success">30</span></a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Quote Requests <span class="label label-success">10</span></a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <ul>
                                    <li>
                                        <div class="review row">
                                            <div class="col-md-8">
                                                <h4 style="float:left;">Business name</h4>
                                                <div class="rating" style="line-height:1.1;padding:12px; margin-left:15px; float:left;">
                                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                    </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                    </span><span class="glyphicon glyphicon-star-empty"></span>
                                                </div>
                                                <div style="margin-top: 10px; float:left;">
                                                    <span class="label label-success">4</span>
                                                </div>
                                                <div style="margin-top: 12px; float:left; margin-left:10px;">
                                                    <i class="glyphicon glyphicon-time"></i> <span>Sep 25</span>
                                                </div>
                                            </div>
                                            <div class="date col-md-4" style="text-align:right; line-height:1.1; padding:14px;">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                <i class="glyphicon glyphicon-trash" style="margin-left:5px;"></i>
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review row">
                                            <div class="col-md-8">
                                                <h4 style="float:left;">Business name</h4>
                                                <div class="rating" style="line-height:1.1;padding:12px; margin-left:15px; float:left;">
                                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                    </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                    </span><span class="glyphicon glyphicon-star-empty"></span>
                                                </div>
                                                <div style="margin-top: 10px; float:left;">
                                                    <span class="label label-success">4</span>
                                                </div>
                                                <div style="margin-top: 12px; float:left; margin-left:10px;">
                                                    <i class="glyphicon glyphicon-time"></i> <span>Sep 25</span>
                                                </div>
                                            </div>
                                            <div class="date col-md-4" style="text-align:right; line-height:1.1; padding:14px;">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                <i class="glyphicon glyphicon-trash" style="margin-left:5px;"></i>
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                @*<div class="col-md-12" style="padding-left:0;"><h4>Quote Request List</h4></div>*@
                                <table class="table table-responsive" id="tblRequest">
                                    <thead>
                                        <tr>
                                            <th>Request Id</th>
                                            <th>Request date</th>
                                            <th>Status</th>
                                            <th>No of Response</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a>12345</a></td>
                                            <td>12 Sep, 2015</td>
                                            <td>New</td>
                                            <td><a>10</a></td>
                                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                        </tr>
                                        <tr>
                                            <td><a>12345</a></td>
                                            <td>12 Sep, 2015</td>
                                            <td>Inprogress</td>
                                            <td><a>10</a></td>
                                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                        </tr>
                                        <tr>
                                            <td><a>12345</a></td>
                                            <td>12 Sep, 2015</td>
                                            <td>New</td>
                                            <td>0</td>
                                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                        </tr>
                                        <tr>
                                            <td><a>12345</a></td>
                                            <td>12 Sep, 2015</td>
                                            <td>New</td>
                                            <td><a>10</a></td>
                                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                        </tr>
                                        <tr>
                                            <td><a>12345</a></td>
                                            <td>12 Sep, 2015</td>
                                            <td>New</td>
                                            <td><a>10</a></td>
                                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class="col-md-12" style="padding-left:0; margin-top:40px;"></div>
                                <table class="table table-responsive" id="tblResponse">
                                    <thead>
                                        <tr>
                                            <th>Response Id</th>
                                            <th>Response date</th>
                                            <th>Business Name</th>
                                            <th>Business Type</th>
                                            <th class="text-center">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12345</td>
                                            <td>12 Sep, 2015</td>
                                            <td>ABC Interiors</td>
                                            <td>Interior Design House</td>
                                            <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-file"></span></button></p></td>
                                        </tr>
                                        <tr>
                                            <td>12345</td>
                                            <td>12 Sep, 2015</td>
                                            <td>XYZ Carpen</td>
                                            <td>Carpenter</td>
                                            <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-file"></span></button></p></td>
                                        </tr>
                                        <tr>
                                            <td>12345</td>
                                            <td>12 Sep, 2015</td>
                                            <td>Test</td>
                                            <td>Interior Design House</td>
                                            <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-file"></span></button></p></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                            <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div>
                        <div class="activities-heading">Activities</div>
                        <div class="activity-feed">
                            <div class="feed-item">
                                <div class="date">Sep 25, 2015</div>
                                <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
                            </div>
                            <div class="feed-item">
                                <div class="date">Sep 24</div>
                                <div class="text">Added an interest “Volunteer Activities”</div>
                            </div>
                            <div class="feed-item">
                                <div class="date">Sep 23</div>
                                <div class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a></div>
                            </div>
                            <div class="feed-item">
                                <div class="date">Sep 21</div>
                                <div class="text">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a></div>
                            </div>
                            <div class="feed-item">
                                <div class="date">Sep 18</div>
                                <div class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a></div>
                            </div>
                            <div class="feed-item">
                                <div class="date">Sep 17</div>
                                <div class="text">Attending the event <a href="single-event.php">“Some New Event”</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
